/*! main.css v1.1.0 | MIT License | greenpeace.org */
/* ==========================================================================
   COMING SOON
   ========================================================================== */

body {
	font-familly:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:16px;
}
a, a:hover, a:active, a:visited {
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
/* header */
.header {
	background:#57b105;
	height:60px;
	width:100%;
	background:#66CC00;
	border-bottom:27px solid #57b105;
	position:fixed;
	top:0;
}
.header .logo {
	display:inline-block;
	background:transparent url(https://secured.greenpeace.org/international/Global/international/greenwire/ggw-logo.png) 0 0 no-repeat;
	height:32px;
	width:150px;
	margin-top:12px;
}
.header .logo span {
	display:none;
}

/* main */
#main-container {
	margin-top:87px;
	height:100%;
	min-height:500px;
	position:absolute;
	margin-bottom:-67px;
	width:100%;
	color:#FFF;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
	font-familly:Helvetica,Arial,sans-serif;
	font-size:.9em;
}
#main-container {
	background:transparent url(https://secured.greenpeace.org/international/Global/international/greenwire/greenwire_section_4_bg.jpg) center 20% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.teaser {
	width:90%;
	margin:1%;
}
.page-section {
	margin:auto 2%;
}
.legal-menu {
  display:none;
}

@media screen and (min-width: 960px) { 
	.teaser {
		float:right;
		text-align:right;
	  margin:auto;
		width:50%;
	}
	.page-section {
		width:960px;
		margin:auto;
	}
	.legal-menu {
		display:block;
	}
	body {
		overflow-y:hidden;
	}
}


/* footer */
.footer	{
	background:#66CC00;
	color:#FFF;
	font-size:14px;
	height:40px;
	position:fixed;
	bottom:0;
	width:100%;
}
.footer a {
	color: #FFF;
	text-decoration:none;
	font-size:13px;
}
/* small bottom footer */
.footer.small	{
	background:#66CC00;
	color:#FFF;
}
.footer.small .copy-box {
	padding: 12px 0 0;
}
.footer.small .copy-box a {
	color: white;
}
.footer.small .logo-box {
	float: left;
	margin: 1px 0 0;
}
.footer.small .logo-box span {
	line-height: 1em;
	float: left;
}
.footer.small .logo-box .logo {
	background: url(https://secured.greenpeace.org/international/Global/international/greenwire/image-map.png) 0 -25px no-repeat;
	width: 89px;
	height: 15px;
	margin: -1px .5em 0 .2857142857em;
	text-indent: -999px;
	display:inline-block;
	float: left;
	overflow: hidden;
}
.footer.small .copy-box ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer.small .legal-menu {
	float: left;
}
.footer.small .bottom-menu {
	float: right;
}
.footer.small .legal-menu li,
.footer.small .bottom-menu li {
	float: left;
	padding: 0 0 0 1.1428571429em;
}

