@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

@import "../../variables/**/*";
@import "../../abstractions/**/*";

@include breakpoint($desk) {
  .section {
    width: 960px;
    margin: 0 auto;
  }
}


.header {
  height: 60px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  .logo {
    @include grid-span(6,1);
  }
}

.navigation {
  margin-top: -60px;
  position: relative;
  z-index: 2;

  @include breakpoint($tab) {
    position: relative;
    width: 100%;
    height: 28px;
    margin:0;
    background-color: $secondary-green;
}
}
