// For off-canvas-nav
#outer-wrap,
#inner-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

#outer-wrap {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
}

.layout-base {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

//
// Outer containers
//

.container {
  position: relative;
  padding: 0 $def-mar;

  @include breakpoint($desk) {
    margin:     0 auto;
    padding:    0;

    @if $oldie {
      width: 960px;
    }

    @else {
      max-width:  960px;
    }
  }

}

.l-header {

  @include breakpoint($desk) {
    padding-top: $def-mar;
  }
}

.l-main {
  flex: 0 1 auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
  margin: $def-mar auto;
  width: 100%;

  .no-flexbox & {
    overflow: hidden;
  }

}

.l-footer {
  display: none;

  @include breakpoint($desk) {
    display: block;
  }
}

//
// Inner containers
//

.l-branding-header {
  width: 134px;
  margin: 0 auto;
  position: relative;
  top: $def-mar-half;

  @include breakpoint($desk) {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.l-country-selector {
  @include breakpoint($desk) {
    position: absolute;
    width: 200px;
    left: 200px;
    bottom: 20px;
  }
}

.l-language-switcher {
  @include breakpoint($desk) {
    position: absolute;
    width: auto;
    right: 0;
    bottom: 32px;
  }
}

.l-header-navigation {

  @include breakpoint($desk) {
    position: relative;
    top: 44px;
    z-index: 2;
  }
}

.block-search {

  @include breakpoint($desk) {
    @include grid-span(3, 10, $output-style: 'isolation');
    bottom: 10px;
    position: absolute;
    right: 0;
  }

}

.breadcrumb {
  @extend %element-hidden;

  @include breakpoint($desk) {
    display: block;
    flex: 1 1 100%;
    order: 0;
  }

}

.l-has-sidebar .l-main-column {
  flex: 1 1 100%;
  order: 1;
  position: relative;

  @include breakpoint($desk) {
    .no-flexbox & {
      float:left;
      width: (100%/1.5);
    }

    .flexbox & {
      flex: 0 1 (100%/1.5);
    }
  }

}

.l-has-sidebar .l-sidebar {
  @extend %element-hidden;

  @include breakpoint($desk) {
    display: block;

    // non-js fallback
    @if $oldie {
      float: right;
      width: (100%/3);
    }
    @else {
      .no-flexbox & {
        float: right;
        width: (100%/3);
      }

      .flexbox & {
        flex: 0 1 (100%/3);
        order: 2;
        margin-left: auto;
      }

    }

  }

}

@include breakpoint($desk) {

  .footer-offset {
    height: 100px;
    background: #e4e4e4;
    border-bottom: 3px solid #CCC;
  }
}
