.design-status {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  bottom: 0;
  background-color: rgba(#000,0.9);
  padding: $def-mar-half;

  .label {
    color: $white;
    font-size: $p;
    margin: 0;

    &:before {
      @extend %load-icon;
      @extend %icon-clock;
    }

  }

  @include breakpoint($tab) {
    display: block;
  }

}
