.style-guide p + p {
  margin-top: 0;

  .l-main-column .block {
    margin-top: $def-mar;
  }

}

// create a 2 columns grid
.two-col {
  clear: both;

  .col {
    display: block;

    @include breakpoint($tab) {
      float: left;
      width: 50%;
      padding-right: $def-mar-half;
    }

    // blocks on the right should not have white space on the right
    &:nth-child(2n) {
      padding-left: $def-mar-half;
      padding-right: 0;
    }

  }
}

//sections
.cardbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1em 0;
}

.cardholder {
  flex: 0 1 50%;
  padding: 0 1.5em 1.5em 0;

  @include breakpoint($tab) {
    flex: 0 1 33%;

    &:nth-child(3n) {
      padding-right: 0;
    }
  }

}

.card {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3);
  backface-visibility: hidden;
  background-clip: padding-box;
  background: none repeat scroll 0 0 $white;
  position: relative;
  text-align: center;
  font-size: $p;
  letter-spacing: .05em;

  .color {
    padding: .5em 0;
    color: $white;
  }

  i {
    @include font-size(30px);
    color: $base;
  }

  h3 {
    padding: .5em 0;
    font-size: $p;
    font-weight: 300;
    line-height: 1.5em;

  }

  &.icon {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
  }
}


.sg-title {
  @extend %element-hidden;

  @include breakpoint($desk) {
    @include font-size($h3);
    display: block;
    color: $white;
    font-weight: normal;
  }

}

.style-guide .affix-top .sf-navbtn:first-of-type {
  background: $white;
  color: $base;

  &:hover,
  &.current,
  &.active {
    background: $green2;
    color: $white;
    text-decoration: none !important;
  }

}

@include breakpoint($desk) {
  .l-has-sidebar-first .l-two-column {

    .l-main-column,
    .l-sidebar {
      float: left;
      position: relative;
      width: 50%;
      margin: 0;
    }

  }

  .l-has-sidebar-first .l-has-sidebar {

    .l-main-column{
      float: left;
      position: relative;
      width: 66.66667%;
      margin: 0;
    }

  }

}

