@include breakpoint($tab) {
  .style-guide {

    .sidebar-left {
      float: left;
      width: 25%;

      .block {
        margin-right: 1.5em;
      }
    }

    .l-main-column {
      float: right;
      width: 75%;
      margin: 0;
    }

    &.l-has-sidebar {
      .l-main-column {
        width: 66%
      }
    }

  }

}

@include breakpoint($desk) {

  .style-guide .sidebar-left .block {
    margin: 1em 1.5em 1.5em 0;
    padding: 0;
  }

}

.style-guide {

  .block,
  .main-content {
    margin: 1em 0;
  }

  p + p {
    margin-top: 0;
  }
}

// create a 2 columns grid
.two-col {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;

  .col {
    flex: 1 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

    @include breakpoint($tab) {
      flex: 0 1 50%;
    }

    .block {
      display: flex;
      flex: 1 100%;
      flex-direction: column;
      justify-content: space-between;
      margin: 1em 1.5em 1.5em 0;
    }

    // blocks on the right should not have white space on the right
    &:nth-child(2n) .block {
      margin-right: 0;
    }

  }
}

//sections
.cardbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1em 0;
}

.cardholder {
  flex: 0 1 50%;
  padding: 0 1.5em 1.5em 0;

  @include breakpoint($tab) {
    flex: 0 1 33%;

    &:nth-child(3n) {
      padding-right: 0;
    }
  }

}

.card {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 rgba(black, 0.3);
  backface-visibility: hidden;
  background-clip: padding-box;
  background: none repeat scroll 0 0 #fff;
  position: relative;
  text-align: center;
  font-size: $p;
  letter-spacing: 0.05em;

  .color {
    padding: .5em 0;
    color: $white;
  }

  i {
    @include font-size(30px);
    color: $base;
  }

  h3 {
    padding: .5em 0;
    font-size: $p;
    font-weight: 300;
    line-height: 1.5em;

  }

  &.icon {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
  }
}

// buttons for styleguide navigation
.sg-navbtn {
  display: block;
  line-height: 1.2em;
  padding: .8em 1em;
  font-size: $p;
  color: $base;
  border-bottom: 1px solid $grey-l;
  position: relative;

  &:last-child {
    border: none;
  }

  &:before {
    float: right;
    @extend %load-icon;
    @extend %icon-right-open;
  }

  &:hover {
    background: $background;
  }

  &.active {
    background: $green2;
    color: $white;
  }
}

// label above the left navigation
.sidebar-left .block-title {
  margin: 0;
  padding: 1em;
  font-size: $p;
  color: $heading;
  border-bottom: 1px solid $grey-l;
}
