// ICON BACKGROUNDS

.icon-bg-default,
.icon-bg-event {
  background: $green2;
}
.icon-bg-news-media {
  background: $green3;
}
.icon-bg-action {
  background: $primary;
}
.icon-bg-group {
  background: $group;
}
.icon-bg-user {
  background: $user;
}
.icon-bg-admin {
  background: $admin;
}
.icon-bg-error {
  background: $error;
}
