// Legacy support.
$browser-minimum-versions: (
  'ie': "9"
);

// Import external libraries.

@import 'compass';
@import "breakpoint";
@import "singularitygs";

$oldie: false !default;
$breakpoint-no-queries: false;

@import 'vars/**/*';
@import 'abstractions/**/*';
@import 'layout/_sidebar-first.scss';
@import 'plugins/**/*';
@import 'modules/**/*';
@import 'styleguide/**/*';
