.action-menu > ul {
  border-bottom: 1px solid $grey-l;
  border-top: 1px solid $grey-l;
  height: 44px;
  background: $background;
  text-align: center;

  .flexbox & {
    display: flex;
    flex-flow: row wrap;
  }

}

.action-menu > ul > li {
  white-space: nowrap;
  border-right: 1px solid $grey-l;

  .no-flexbox & {
    display: inline-block;
    position: relative;
    width: auto;
    padding: 0 1em;
    line-height: 1em;
    width: 49.3%;

    @include breakpoint(440px) {
      width: 32.5%;
    }

    @include breakpoint(615px) {
      width: 24.3%;
    }

  }

  .flexbox & {
    flex: 1;
  }

  &:last-child {
    border: none;
  }

  &.current a {
    background: $white;
  }

}

.action-menu a {
  color: $base;
  line-height: 44px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

   .no-flexbox & {
    display: block;
    line-height: 2.5em;
    text-align: center;
  }

  &.active {
    color: $grey-m;
  }

}

.action-menu {

  .icon {
    @include font-size($h2);
    margin-right: .5em;

    .no-flexbox & {
      top: .1em;
      margin-right: .2em;
      position: relative;
    }
  }

  .dropdown {
    width: 100%;
    margin: -1px 0 0 -1px;
    left: 0;
  }


  .dropdown li {
    display: block;
    border: none;
    padding: 0 1em;
  }

  .dropdown a {
    justify-content: flex-start;
  }

  .dropdown-menu {
    background: $background;
    border: 1px solid $grey-l;
  }

  @include breakpoint($desk) {
    @include element-hidden;
  }
}
