.action-menu .tabs {
  border-bottom: 1px solid $grey-l;
  border-top: 1px solid $grey-l;
  height: 44px;
  background: $background;
  text-align: center;
  overflow: hidden;
  position: relative;

  .flexbox & {
    display: flex;
  }
}

.action-menu .tabs li {
  border-right: 1px solid $grey-l;
  display: inline-block;
  position: relative;
  width: auto;
  padding: 0 $def-mar;
  line-height: 1em;

  .flexbox & {
    flex: 1;
  }

  &:last-child {
    border: none;
  }

  &.current {
    display: none;
  }

}

.action-menu a {
  color: $base;
  line-height: 44px;
  display: block;
  text-align: center;

  &.active {
    color: $grey-m;
  }

}

.action-menu {

  .icon {
    @include font-size($h2);
    margin-right: .5em;
    top: .1em;
    margin-right: .2em;
    position: relative;
    line-height: 1em;
  }

  .dropdown-menu {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .dropdown a {
    line-height: 1.5em;
    border: none;
    padding: .4em $def-mar;
  }

  .tabs-overflow {
    display: inline-block;
    position: absolute;
    margin-top: -44px;
  }

  .tab-overflow-trigger {
    padding: 0 $def-mar;
    border-left: 1px solid $grey-l;
  }

  @include breakpoint($desk) {
    @include element-hidden;
  }
}
