.action-menu .tabs {
  border-bottom: 1px solid darken($green2, 5%);
  border-top: 1px solid darken($green2, 5%);
  height: 34px;
  background: $green2;
  overflow: hidden;
  position: relative;
}

.action-menu .tabs li {
  border-right: 1px solid darken($green2, 5%);
  display: inline-block;
  position: relative;
  width: auto;
  padding: 0 $def-mar;
  line-height: 1em;

  &:last-child {
    border: none;
  }

  &.current {
    display: none;
  }

}

.action-menu a {
  color: $white;
  line-height: 34px;
  display: block;
  text-align: center;
  white-space: nowrap;
  @include font-size($small);

  &.active {
    color: darken($green2, 5%);
  }

}

.js .action-menu {

  height: 34px;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 50px;
  transition: top 0.2s ease-in-out;

  .above-content {
    top: 50px;
  }

  .stick-to-top {
    top: 0px;
  }

  .icon {
    @include font-size($h3);
    margin-right: .5em;
    top: .1em;
    margin-right: .2em;
    position: relative;
    line-height: 1em;
  }

  .dropdown-menu {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .dropdown a {
    line-height: 1.5em;
    border: none;
    padding: .4em $def-mar;
  }

  .tabs-overflow {
    display: inline-block;
    position: absolute;
    margin-top: -34px;
  }

  .tab-overflow-trigger {
    padding: 0 $def-mar;
  }

  @include breakpoint($desk) {
    @include element-hidden;
  }
}

.csstransforms3d {

  .action-menu {
    transform: translate3d(0, 50px, 0);
    transition: transform 500ms ease;
    top: 0;
  }

  .above-content {
    transform: translate3d(0px, 50px, 0px);
  }

  .stick-to-top {
    transform: translate3d(0px, 0px, 0px);
  }

}

.no-js .action-menu {
  display: none;
}
