.sidebar .block {
  position: relative;
  margin-bottom: $def-mar;
  padding: 0 15px 15px;
  border-bottom: 1px solid $background;

  @include breakpoint($desk) {
    margin-left: 1em;
    border-bottom: none;
  }
}

.l-main-column .block {
  margin-bottom: $def-mar;
}

.block-icon {
  position: absolute;
  top: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  color: $white;
  @include font-size($h2);

  .mfp-content & {
    border-radius: 4px 0;
    left: 0;
  }

  @include breakpoint($desk) {
    border-radius: 4px 0;
    left: 0;
  }

}

.block-title {
  color: $heading;
  @include font-size($h4);
  margin-left: 45px;
  line-height: 1.1em; // must be able to span multiple lines
  padding-top: 10px;

  .mfp-content & {
    margin-left: 30px;
  }

  @include breakpoint($desk) {
    margin-left: 30px;
  }
}

.block-no-icon .block-title {
  margin-left: 0;
}
