.block {
  .field {
    @include font-size($p);
    margin-bottom: $def-mar;
  }

  .field-label {
    font-weight: 700;
  }

  .field-name-group-image {
    @include breakpoint($smalltab) {
      float: right;
      max-width: 50%;
      margin: 0 0 $def-mar $def-mar;
    }
  }

  .field-group-primary-contact {
    display: inline-block;
    margin-right: 3%;
  }

  .field-group-secondary-contact {
    display: inline-block;
  }
}

.block .view-header .field {
  display: inline-block;
  margin-right: $def-mar;
}

.flexbox .page-manage-group-members .block .view-header {
  display: flex;
  justify-content: space-between;
}
