.breadcrumbs {
  padding: 0;
  margin: .8em 0;
}

.breadcrumb-item {
  list-style-image: none;
  list-style-type: none;
  margin: 0 3px 0 0;
  white-space: nowrap;
  display: inline-block;
}

.breadcrumb-link {
  font-weight: 700;
  display: block;

  &:after {
    color: #4D4D4D;
    content: ' › ';
    font-weight: 300;
  }

} // breadcrumb-link

.front .breadcrumbs {
  @extend %element-hidden;
}
