.block-comments {
  @include font-size(14px);

  .l-main-column & {
    margin-top: $def-mar;
  }

}

.sort-comments {
  position: absolute;
  right: $def-mar;
  top: 8px;

  li {
    margin-left: 10px;
    padding-left: 10px;
    display: inline-block;

    &:last-child {
      border-left: 1px solid #dbdbdb;
    }

    &:first-child {
      display: none;

      @include breakpoint($tab) {
        display: inline-block;
      }
    }
  }

  a {
    color: $base;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    font-weight: 700;

    &:hover {
      text-decoration: none;
    }
  }
}

.comments {
  margin: $def-mar 0 $def-mar-half;
}

.comment {
  padding: $def-mar-half 0;
  line-height: 1.1em;
  overflow: hidden;

  &:last-child {
    border-bottom: none;
  }
}

.comment-reply {
  margin-left: 45px + $def-mar;

  @include breakpoint($desk) {
    margin-left: 60px + $def-mar;
  }
}

.avatar-holder {
  float: left;
  margin-right: $def-mar;
  width: 45px;

  @include breakpoint($desk) {
    width: 60px;
  }
}

.comment-holder {
  overflow: hidden;
}

.comment-head,
.comment-body {
  line-height: 1.35em;
}

.comment-body img {
  margin: $def-mar-half 0;
}


.comment-footer {
  color: $grey-m;
  line-height: 1.5em;
  @include font-size(13px);
}

.comment-actionlink {
  color: $green5;
  @include font-size(13px);

  &:before {
    @extend %load-icon;
    @extend %icon-dot;
    margin: 0 .5em 0 .2em;
    color: $grey-m;
  }

}

.comment-form {
  @extend %cf;
  position: relative;
}

.comment-form .hint {
  float: right;
  margin: 0 $def-mar-half 0 0;
  @include font-size($small);
  color: $grey-m;
  line-height: 34px;
}

// fix the bug when firing the apple keyboard
.touch .fixfixed .comment-form {
  position: absolute;
}

.comment-form .nfi-wrapper {
  float: left;
}

// autogrow js gets applied on this element
.form-comment-message {
  position: relative;
  margin-bottom: .5em;

  textarea{
    line-height: 1.1em;
    padding: 0.5em;
    @include font-size(16px);
    max-width: 100%; //override default of 400px;
  }
}

.form-comment-submit {
  @include button;
  padding: .3em 1em;
  height: 34px;
  width: auto;
  float: right;
}

.addlink-btn {
  padding: 0 .5em;
  color: $grey-m;
  height: 34px;
  width: 38px;
  margin: 0 7px 0 0;
}

// textarea with max character indication
#remain {
  margin: 0 .5em 0 0;
  @include font-size(14px);
  line-height: 34px;
  display: inline-block;
  color: $grey-m;
}

.mentions {
  max-width: 100%;
}

.mentions li a {
  @include font-size($p);
  color: $grey-d;
  line-height: $h4;
  height: 40px;
  overflow: hidden;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mentions .active {
  background: $background;
  color: $white;
}

.mention-item a:hover {
  background: $green5;
  color: $white;
}

.mention_username{
  color: $grey-m;
}

.mention-item a:hover .mention_username {
  color: $white;
}

.mention_image{
  float: left;
  margin-right: $def-mar-half;
  border-radius: 3px;
  width: 34px;
  height: 34px;
}
