
// Comments can be used in Shoutbox, article comments and private messages.

// 1. Block
// 2. Sort
// 3. Comment item
// 4. Form
// 5. Mentions


// 1. Block general layout
.block-comments {
  @include font-size(14px);

  // extra margin except in sidebar
  .l-main-column & {
    margin-top: $def-mar;
  }

}

// 2. Sort comments, top right of block
.sort-comments {
  position: absolute;
  right: $def-mar;
  top: 8px;

  li {
    margin-left: 10px;
    padding-left: 10px;
    display: inline-block;

    &:last-child {
      border-left: 1px solid $grey-l;
    }

    &:first-child {
      display: none;

      @include breakpoint($tab) {
        display: inline-block;
      }
    }
  }

  a {
    color: $base;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    font-weight: 700;

    &:hover {
      text-decoration: none;
    }
  }
}

// 3. Comment item
.comments {
  margin: $def-mar 0 $def-mar-half;
}

.comment {
  padding: $def-mar-half 0;
  line-height: 1.1em;

  &:last-child {
    border-bottom: none;
  }
}

.comment-reply {
  margin-left: 45px + $def-mar;

  @include breakpoint($desk) {
    margin-left: 60px + $def-mar;
  }
}

.avatar-holder {
  margin-right: $def-mar;
  width: 45px;

  @include breakpoint($desk) {
    width: 60px;
  }
}

.comment-holder {
  padding: 0;
}

.comment-body {
  line-height: 1.35em;

  img {
    margin: $def-mar-half 0;
  }
}

.comment-footer {
  color: $grey-m;
  line-height: 1.5em;
  @include font-size(13px);
}

.comment-actionlink:before {
  @extend %load-icon;
  @extend %icon-dot;
  margin: 0 .5em 0 .2em;
  color: $grey-m;
}


// 4. Comment form
.comment-form {
  @extend %cf;
  position: relative;

  // used to give extra information
  .hint {
    float: right;
    margin: 0 $def-mar-half 0 0;
    @include font-size($small);
    color: $grey-m;
    line-height: 34px;
  }

}

// autogrow js gets applied on this element
.form-comment-message {
  position: relative;
  margin-bottom: .5em;

  textarea {
    @include font-size(16px);
    line-height: 1.1em;
    padding: .5em;
    max-width: 100%; //override default of 400px;
  }
}

.form-comment-submit {
  @include button;
  padding: .3em 1em;
  height: 34px;
  width: auto;
  float: right;
}

.addlink-btn {
  padding: 0 .5em;
  color: $grey-m;
  height: 34px;
  width: 38px;
  margin: 0 7px 0 0;
}

// textarea with max character indication
#remain {
  margin: 0 .5em 0 0;
  @include font-size(14px);
  line-height: 34px;
  display: inline-block;
  color: $grey-m;
}


// 5. Mentions (tagging members)
.mentions {
  max-width: 100%;

  li a {
    @include font-size($p);
    color: $grey-d;
    line-height: $h4;
    height: 40px;
    overflow: hidden;
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .active {
    background: $background;
    color: $white;
  }

}

.mention-item a:hover {
  background: $green5;
  color: $white;
}

.mention_username{
  color: $grey-m;
}

.mention-item a:hover .mention_username {
  color: $white;
}

.mention_image{
  float: left;
  margin-right: $def-mar-half;
  width: 34px;
  height: 34px;
}
