.block-comments {
  @include font-size(14px);

  .l-main-column & {
    margin-top: $def-mar;
  }

}

.sort-comments {
  @extend %hlist;
  position: absolute;
  right: 15px;
  top: 8px;

  li {
    border-left: 1px solid #dbdbdb;
    margin-left: 10px;
    padding-left: 10px;

    &:first-child {
      border:none;
    }
  }

  a {
    color: $base;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    font-weight: 700;

    &:hover {
      text-decoration: none;
    }
  }
}

.comments {
  margin: $def-mar 0 $def-mar-half;
}

.comment {
  padding: $def-mar-half 0;
  line-height: 1.1em;
  overflow: hidden;

  &:last-child {
    border-bottom: none;
  }
}

.comment-reply {
  margin-left: 45px + $def-mar-half;

  @include breakpoint($desk) {
    margin-left: 60px + $def-mar-half;
  }
}

.avatar-holder {
  float: left;
  margin-right: $def-mar;
  width: 45px;

  @include breakpoint($desk) {
    width: 60px;
  }
}

.comment-holder {
  overflow: hidden;
}

.comment-body {
  line-height: 1.5em;
}

.comment-footer {
  color: $grey-m;
  @include font-size(13px);
}

.comment-actionlink {
  color: $green5;
  @include font-size(13px);

  &:before {
    @extend %load-icon;
    @extend %icon-dot;
    margin: 0 .5em 0 .2em;
    color: $grey-m;
  }

}

.comment-form {
  margin: 15px -15px;
  min-height: 100px;
  @extend %cf;
  padding: 0 15px 15px;
  position: relative;
}

// fix the bug when firing the apple keyboard
.touch .fixfixed .comment-form {
  position: absolute;
}

input.form-comment-file {
  width: 34px;
}

.comment-form .nfi-wrapper {
  float:  right;
  margin: 0 5px 0 0;
}

.nfi-wrapper {
  height: 34px;
  margin: 0 $def-mar-half;

  .no-flexbox & {
    float: left;
    width: 40px;
  }

}

.nfi-button {
  padding: 0 .5em;
  width: auto;
  height: 34px;
  line-height: 34px;
  @include font-size(18px);
  color: $grey-m;
  @extend %load-icon;
  @extend %icon-camera;
  background: $secondary;
  background-image: linear-gradient($secondary, darken($secondary, 3%));
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid $grey-l;
}

.nfi-filename {
  display: none;
}

// autogrow js gets applied on this element
.form-comment-message {
  position: relative;
  margin-bottom: .5em;

  textarea{
    resize: none;
    overflow: hidden;
    line-height: 1.1em;
    height: 36px;
    padding: 0.5em;
    display: block;
    @include font-size(16px);
    max-width: 100%; //override default of 400px;
  }
}

.form-comment-submit {
  @include button;
  padding: .3em 1em;
  height: 34px;
  width: auto;
  float: right;
}


// textarea with max character indication
#remain {
  margin: 0 .5em 0 0;
  @include font-size(14px);
  line-height: 34px;
  display: inline-block;
  color: $grey-m;
}
