
.event-actions {
  margin: $def-mar 0;
}

.page-type-event .block .field {
  margin: 0;
}

@include breakpoint($tab) {

  .block .view-mode-full {

    .field-group-wrapper {
      background: $background;
      overflow: hidden;
      margin-bottom: $def-mar;

      figure {
        margin: 0;
      }
    }

    .event-actions {
      padding: 0 $def-mar;
      overflow: hidden;
    }

  }

}

@include breakpoint($desk) {
  .event-actions {
    @include element-hidden;
  }

}

.block-events #map{
  height: 300px;
  margin-bottom: $def-mar;
  width: 100%;
}


.node-event-small {
  margin: 0 0 .5em;
  padding-left: 1em;

  h2 {
    @include font-size (14px);
    margin: 0;

     &:before {
      @extend %load-icon;
      @extend %icon-right-open;
      color: $green5;
      position: absolute;
      margin-left: -1em;
    }

    a {
      @include truncate;
      line-height: 1.2em;
      display: block;
    }

  }

  .date-display-single {
    @include font-size(14px);
    color: $grey-d;
  }
}

#eventmap-desk {
  display: none;

  @include breakpoint ($desk) {
    display:block;
    height: 300px;
    width: 100%;
  }
}
