.node-accordion {
  height: auto;
  margin-bottom: $def-mar-half;

  border-radius: 4px;
  background: $white;

  .field-name-body {
    line-height: 1.3em;
    display: none;
    padding: 0 0 $def-mar;
    @include font-size($p);

    @include breakpoint($tab) {
      padding: 0 $def-mar $def-mar;
    }

    p {
      margin: 0;
    }

    .no-js & {
      display: block;
    }

  }

  .node-title {
    position: relative;
    font-weight: normal;
    @include font-size($p);
    max-height: none;

    @include breakpoint($tab) {
      margin: 0;
    }

    a {
      padding: 0 40px 0 0;

      @include breakpoint($tab) {
        padding: $def-mar 50px $def-mar $def-mar;
      }

      &:hover {
        text-decoration: none;
      }

      &:before,
      &:after {
        // arrow icon on the right
        position: absolute;
        top: 8px;
        right: 14px;

        width: 10px;
        height: 2px;

        content: '';
        transition-duration: .2s;
        transition-property: transform;

        background: $green5;

        backface-visibility: hidden;

        @include breakpoint($tab) {
          top: 50%;
        }

      }

      &:before {
        right: 20px;
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }

    }

  }

}


.content-visible .node-title a:before {
  transform: rotate(-45deg);
}

.content-visible .node-title a:after {
  transform: rotate(45deg);
}

.page-faq .l-main-column .block {
  margin: 0;
  padding: 0;

  background: none;

  .content {
    margin-top: $def-mar;
  }
}
