.logo {
  width: 134px;
  margin: 0 auto;
  position: relative;
  top: 0;
  display:block;
  height: 48px;
  background-position: 0 7px;

  @include breakpoint($desk) {
    position: absolute;
    left: 10px;
    top: $def-mar;
  }

  @include breakpoint($deskplus) {
    left: 0;
  }

}
