.nav-selector {

  .dropdown a {
    border-top: 1px solid $grey-l;
    color: $base;
    display: block;
    padding: 1em 1em 1em 2em;
    font-weight: 700;
  }

  .dropdown-list a {
    font-weight: 400;
    color: $grey-d;
  }

  .country-img {
    @extend %element-hidden;
  }

  @include breakpoint($desk) {

    .trigger {
      border: 0;
      font-weight: 300;
      height: 100%;
      position: relative;
      color: $white;
      padding: 5px;

      &:before {
        @include element-hidden;
      }

    }

    .dropdown {
      width: 100%;
      position: absolute;
      z-index: 9999999;
      text-align: left;
    }

    .country-img {
      background-color: $green1;
      background-position: -103px -231px;
      position: absolute;
      right: 0;
      width: 76px;
      height: 22px;
      text-indent: -50000px;
      line-height: 0;
      color: transparent;
      cursor: pointer;
      display: inline-block;
    }

    .dropdown-open .country-img {
      background-color: $white;
      background-position: -4px -231px;
    }

    .dropdown-open {
      background-color: $white;
      color: $base;
      display: block;
      border-radius: 4px 4px 0 0;
    }

    .dropdown-list {
      width: 100%;
      max-height: 330px;
      overflow: auto;
      list-style: none;
      background: $white;
      box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
      border-radius: 0 0 4px 4px;
      background-clip: padding-box;
    }

    .dropdown a {
      padding: 3px 10px;
      border: 0;
      font-weight: 300;
      @include font-size(13px);

      &:hover {
        color: $white;
        background: $base;
      }

    }

  }

}

@include breakpoint($desk) {

  .language-selector .trigger {
    @include font-size(13px);
    padding-top: 0;
    top: 5px;

    &:after {
      width: 0;
      height: 0;
      border: .313em solid transparent; // 5
      border-bottom: 0;
      content: '';
      vertical-align: middle;
      display: inline-block;
      position: relative;
      right: -.313em; // 5
      border-top-color: $white;
      margin: 0 .3em;
    }

    &.dropdown-open:after {
      border-top-color: $base;
    }

  }

  .language-selector {
    text-align: right;
    width: 100px;

    .dropdown {
      left: auto;
      right: 0;
    }

  }

}
