.attention-number {
  border-radius: 10px;
  background: $primary;
  line-height: 1.2em;
  display: inline-block;
  position: relative;
  padding: 0 4px;
  top: -$def-mar;
  right: 0;
  text-align: center;
  @include font-size(11px);
  color: $white;

  @include breakpoint($desk) {
    position: absolute;
    top: -7px;
    right: -5px;
  }
}


.attention-trigger i {
  @extend %element-hidden;
}

@include breakpoint($desk) {

  .attention-trigger {
    padding: 0;

    &:hover {
      background: none;
      color: $white;
    }

    .menu-link-text {
      display: none;
    }
  }

  .attention-trigger .icon {
    display: inline-block;
    color: darken($green2, 10%);
    cursor: pointer;
    font-weight: 300;
    font-size: 1.3em;
    vertical-align: bottom;
    padding-right: 5px;
    top: 1px;
    position: relative;

    &:hover {
      color: $white;
    }

  }

}

.attention-panel {

  .dropdown-panel {
    max-width: none;
  }

  @include breakpoint($desk) {
    position: fixed;
    top: 84px !important;

    .notifications-section {
      max-height: 420px;
      overflow: auto;
      border: 1px solid $background;
    }

    .dropdown-panel {
      max-width: 360px;
    }

    .messages {
      border: 0;
    }

  }

  .tabwrapper {
    text-align: center;
  }

  .load-more-wrapper {
    padding: $def-mar 0 0;
    text-align: center;
  }

}

.notifications-section {
  @include font-size($p);

  a {
    color: $base;

    &:hover {
      text-decoration: none;
    }

  }

  .notification:hover {
    background: $background;
  }

}

.notification {
  padding: $def-mar-half;
  line-height: 1.1em;
  overflow: hidden;

  p {
    margin:  0 0 .65em;
  }
}

.notifications-body {
  line-height: 1.35em;
}

.notifications-footer {
  color: $grey-m;
  line-height: 1.5em;
  @include font-size($small);
}
