.page-register .date-padding .form-item {
  display: inline-block;
  width: auto;
  margin:0;
}

.field-name-field-user-phone-house label,
.field-name-field-user-phone-mobile label {
  @extend %element-hidden;

  @include breakpoint($tab) {
    display: block;
  }

}

// let the image in the sidebar align in the center
.page-register .sidebar .content {
  text-align: center;
}

.wrapper {
  @extend %wrapper;
}

// Showing and hiding of phone options
.phone-switch {
  @extend %block;
  @include font-size($p);
}

.no-js #landline,
.no-js #mobileline {
  background: $white;
  z-index: 3;
}

.no-js #landline {
  position: absolute;
  top:0;
  width: 100%;
  z-index: 4;
}

.no-js #landline:not( :target ) {
  @extend %element-hidden;
}

.no-js #mobileline:target,
.no-js #landline:target {
  display:block;
}

@include breakpoint($tab) {

  .page-register .form-wrapper {
    margin-top: 0;
  }

  .signup-wrapper {
    padding: 0 0 0 2.5em;
  }

  .signup-wrapper {
    float: left;
    width: 49%;

    .flexbox & {
      flex: 1 1 50%;
    }

  }

}

.social-signup-wrapper {
  border-bottom: 1px solid $background;
  margin: 0 0 1em 0;

  @include breakpoint($tab) {
    border-bottom: none;
    border-right: 1px solid $background;
    padding: 0 2.5em 0 0;
    position: relative;
  }

  &:after {
    display: inline-block;
    background: $white;
    content: attr(data-title);
    position: relative;
    margin: 0 0 0 -2.5em;
    bottom: -20px;
    left: 50%;
    width: 5em; //this means text cannot contains more than 5 characters
    text-align: center;
    padding: .5em;

    @include breakpoint($tab) {
      bottom: auto;
      left: auto;
      margin: -1.25em 0 0 -1.5em;
      position: absolute;
      right: -2.5em;
      top: 50%;
    }

  }
}
