.page-register .date-padding .form-item {
  display: inline-block;
  width: auto;
  margin:0;
}

.field-name-field-user-phone-house label,
.field-name-field-user-phone-mobile label {
  @extend %element-hidden;

  @include breakpoint($tab) {
    display: block;
  }

}

// let the image in the sidebar align in the center
.page-register .sidebar .content {
  text-align: center;
}

.wrapper {
  @extend %wrapper;
}

// Showing and hiding of phone options
.phone-switch {
  @extend %block;
  @include font-size($p);
}

.no-js #landline,
.no-js #mobileline {
  background: $white;
  z-index: 3;
}

.no-js #landline {
  position: absolute;
  top:0;
  width: 100%;
  z-index: 4;
}

.no-js #landline:not( :target ) {
  @extend %element-hidden;
}

.no-js #mobileline:target,
.no-js #landline:target {
  display:block;
}

@include breakpoint($tab) {

  .page-register .form-wrapper {
    margin-top: 0;
  }

}

@include breakpoint($smalltab) {

  .login-block,
  .signup-block {
    width: 315px;
  }

}

.signup-or-separator {
  height: 34px;
  position: relative;
  text-align: center;
  margin: 3px 0;

  label {
    display: inline-block;
    padding: 8px;
    background: $white;
    color: $grey-m;
    font-weight: 300;
    line-height: 1em;
  }

  hr {
    margin: -15px auto 10px;
    width: 90%;
  }

}

.signup-wrapper .form-text {
  padding-right: 2em;
  margin-right: -2em;

  + i {
    top: .4em;
    line-height: normal;
    color: $grey-l;
    font-size: $h3;
  }
}
