.block-search {
  position: relative;
}

.block-search .icon-search {
  position: absolute;
  top: 11px;
  left: 18px;
  font-size: 18px;
  color: #aaa;
}

.block-search .form-text {
  border: none;
  padding: .95em 2.5em;
  max-width: 99.8%;
  border-radius: 0;
  font-style: italic;
  @include font-size(16px); //prevents safari from zooming in on focus

  &:focus {
    box-shadow: none;
  }
}

.block-search .form-item-searchtype {
  @extend %element-hidden;

  @include breakpoint($desk) {
    display: inline-block;
    position: absolute;
    left: 0;
    line-height: 21px;
    height: 21px;
    border-right: 1px solid $green2;

    .form-select {
      width: 90px;
      font-size: $small;
      color: $grey-m;
      line-height: normal;
      padding: 4px;
      cursor: pointer;
      background: transparent;
      border: none;
      line-height: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      -moz-appearance: window;
      -moz-padding-end: 19px;
      -webkit-appearance: none;
      appearance: none;
      padding-left: 20px;
      border-radius: 0;
    }

    // removes the default arrow in ie10 +11
    select::-ms-expand {
      display: none;
    }

    &:after {
      height: 0;
      width: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-top: 5px solid $grey-m;
      display: block;
      position: absolute;
      top: 9px;
      left: 7px;
      content: '';
    }

  }

}

.block-search .form-actions {
  @extend %element-hidden;
  @extend %load-icon;
  @extend %icon-search;

  @include breakpoint($desk) {
    display: block;
  }
}

.form-item-search label,
.form-item-search .form-description {
  @extend %element-hidden;
}

.flexbox .page-search-form {
  display: flex;
  align-content: stretch;

  .form-wrapper {
    flex: 3 0 0;

    .form-item {
      display: block;
    }

    @include breakpoint($tab) {
      flex: 3 0 auto;
    }

  }

  .form-actions {
    flex: 1 0 0;
    align-self: flex-end;

    @include breakpoint($tab) {
      flex: 1 0 0;
    }

  }

}

.page-search-form .form-item-search .form-text {
  max-width: none;
}

@include breakpoint($desk) {
  .search-form {
    position: relative;

    .form-item-search {
      line-height: 1em;
    }

    .form-text {
      font-size: $small;
      border: 1px solid $green2;
      border-radius: 3px;
      padding: 3px 6px;
      padding-left: 100px;
      font-style: normal;
    }

    .form-submit {
      @include hideYetClickable;
      position: absolute;
      top: 0;
      width: 16px;
      padding:0;
      left:0;
      text-indent: -9999em;
    }

    .form-actions {
      position: absolute;
      top: 4px;
      right: 5px;
      width: 16px;
      line-height: 16px;
      height: 16px;
      border-radius: 3px;
      padding: 0 0 0 2px;
      color: $green2;
      font-size: $h3;
    }

  }

}

// style for total no. of results
.resultstats {
  @extend %element-hidden;

  @include breakpoint($smalltab) {
    line-height: 3em;
    color: $heading;
  }

  @include breakpoint($desk) {
    @include font-size($p);
  }

}

.view-empty p {
  @include font-size($p);
}

.view-header {
  @extend %cf;
}

