.l-sidebar {
  background: $background;
  border-left: 1px solid $grey-l;
  position: absolute;
  z-index: 3;
  top: 50px;
  right: -291px;
  bottom: 0;
  left: auto;
  width: 290px;
  height: auto;
  padding-top: 15px;
  overflow: auto;
  transition: right 500ms ease;

  .sidebar-active & {
    background: $white;
  }

  @include breakpoint($desk) {
    position: relative;
    display: block;
    margin: 0;
    right: auto;
    top: 0;
    padding: 0;
    float: right;
    width: (100%/3);
    background: none;
    border: none;
    overflow: visible;

    .flexbox & {
      flex: 0 1 (100%/3);
      order: 2;
      margin-left: auto;
    }

  }

}

.sidebar-active .l-sidebar {
  right: 0;
}

.trigger-sidebar {
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 5;
  transition: right 500ms ease;

  .sidebar-active & {
    right: 290px;
  }

  .primary-nav &,
  .secondary-nav & {
    display: none
  }

  .button {
    @extend %icon-left-open;

   .sidebar-active & {
      @extend %icon-right-open;
      background: $white;
    }

  }

  @include breakpoint($desk) {
    display: none;
  }

  .button {
    height: 36px;
    line-height:  36px;
    padding: 0;
    width: 34px;
    border-right: none;
    border-radius: 3px 0 0 3px;

    &:hover {
      box-shadow: none;
      color: $heading;
    }
  }
}


// ------------------------------------------
// MASK
// ------------------------------------------

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .5);
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 9;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.sidebar-active .mask {
  visibility: visible;
  opacity: 1;
}

@include breakpoint($desk) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}
