.cookiewall {
  background-color: $white;
  width: 100%;
  position: fixed;
  z-index: 30;
  top: 0;
  transition: top .2s ease-in-out;
  border-bottom: 1px solid $grey-l;
  padding: $def-mar 0;

  .csstransforms3d & {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease;
  }

  .logo-greenpeace {
    background-image: url('../images/ggw_sprites2xv1.3.png');
    background-repeat: no-repeat;
    background-position: -170px -653px;
    width: 80px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    display: block;
  }

  p {
    margin: 0 0 .5em;
    line-height: 1.35em;
  }

}

.form-sent {
  padding: $def-mar;
  border-radius: 4px;
  color: $white;
  margin: 60px 5% 0;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  width: 90%;

  @include breakpoint($desk) {
    margin: 100px 10% 0;
    width: 80%;
    padding: (2 * $def-mar);
  }

  @include breakpoint($wide) {
    margin: 100px 20% 0;
    width: 60%;
  }

  .feedback-message {
    margin-bottom: $def-mar;
  }

  .icon {
    font-size: $h2;
    width: 1em;
    float: left;
    margin-right: $def-mar-half;
  }

  .icon-attention {
    color: $user;
  }

  p {
    font-size: $h4;
    overflow: hidden;
    margin: 0 0 .5em;
    line-height: $h3;
  }

  a {
    color: $white;
    text-decoration: underline;
  }

}


.form-success {
  background-color: $group;
  border: 1px solid darken($group, 5%);
}

.form-error {
  background-color: $error;
  border: 1px solid darken($error, 5%);
}
