.cookiewall {
  background-color: $white;
  width: 100%;
  position: fixed;
  z-index: 30;
  top: 0;
  transition: top .2s ease-in-out;
  border-bottom: 1px solid $grey-l;
  padding: $def-mar 0;

  .csstransforms3d & {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease;
  }

  .logo-greenpeace {
    background-image: url('../images/ggw_sprites2xv1.3.png');
    background-repeat: no-repeat;
    background-position: -170px -653px;
    width: 80px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    display: block;
  }

  p {
    margin: 0 0 .5em;
    line-height: 1.35em;
  }

}

.absolute_message {
  position: relative;
  height: 0;
  text-align: center;
  z-index: 1000;
}

.form-sent {
  padding: $def-mar-half $def-mar;
  color: $heading;
  border: 1px solid #f0c36d;
  background-color: #f9edbe;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 2px;
  top: 40px;
  margin: auto;
  position: relative;
  display: inline-block;
  text-align: center;

  @include breakpoint($desk) {
    top: 80px;
  }

  .feedback-message {
    margin-bottom: $def-mar;
  }

  p {
    font-size: $p;
    -webkit-perspective: 1000;
    font-weight: bold;
    margin: 0;
    line-height: normal;
    
    + p {
      margin-top: 7px;
    }

  }

  a {
    color: $green5;
    text-decoration: underline;
  }

}



.form-error {
  border-color: $error;
  background-color: lighten($error, 50%);
}
