.urlive-container {
  margin-bottom: $def-mar;
  position: relative;
  max-width: 480px;
  width: 100%;
  padding: $def-mar;
  background: $background;
  border: 1px solid $grey-l;
  border-radius: 3px;
  display: none;

  p {
    margin: 0;
  }
}

.urlive-link {
  position: relative;
  display: block;
  overflow: hidden;
  @include font-size($p);
  margin-right: 20px;
  z-index: 1;

  &:hover {
    .urlive-title {
      text-decoration: none;
    }
  }
}

.urlive-title {
  @include font-size($h3);
  color: $base;
  line-height: 1.2em;
  font-weight: 700;
}

.urlive-url {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.urlive-description,
.urlive-sitename,
.urlive-type {
  @extend %element-hidden;
}

.urlive-img-small .urlive-img-wrapper {
  width: auto;
  max-width: 400px;

  img {
    width: auto;
    max-width: 380px;
    height: auto;
  }
}

.show-linkinfo {
  vertical-align: bottom;
  transition: all 700ms;
}

.close-linkinfo {
  position: absolute;
  right: $def-mar;
  top: $def-mar;
  line-height: 1em;
  color: $base;
  z-index: 2;
  @include font-size($h4);
}
