// needed to set the order of MQ in the css.
@include breakpoint($smalltab) {
  .layout-base {
    color: $base;
  }
}

@include breakpoint($tab) {
  .layout-base {
    color: $base;
  }
}

@include breakpoint($desk) {
  .layout-base {
    color: $base-desk;
  }
}

@include breakpoint($deskplus) {
  .layout-base {
    color: $base-desk;
  }
}


.layout-base {
  overflow: hidden;
  background: $white;
  z-index: 1;
  position: relative;

  // remove space for scrollbar when lightbox is active
  .mfp-zoom-out-cur & {
    overflow: visible;
  }

  @include breakpoint($desk) {
    display: flex;
    min-height: 100%;
    min-height: 100vh; // needed for sticky footer
    flex-direction: column;
    background: $background;
  }
}

//
// Outer containers
//

.container {

  @include breakpoint($deskplus) {
    width: 960px;
    position: relative;
    margin: 0 auto;
  }

}

.l-header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 1;

  @include breakpoint($desk) {
    top: 60px;
    z-index: 3;
    bottom: auto;
  }
}


.l-main {
  margin: 0 auto;
  padding: 50px 0 0;
  width: 100%;
  background:#FFF;
  transition: transform 500ms ease;
  z-index: 1;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0, 0, 0);
  border-right: 1px solid $grey-l;
  border-left: 1px solid $grey-l;

  @include breakpoint($desk) {
    background: transparent;
    padding:88px $def-mar 0;
    border: none;
    min-height: none;
    overflow: visible;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: flex-start;
    -ms-flex-preferred-size: auto;

    .no-flexbox & {
      overflow: hidden;
    }

    // .container doesn't get applied
    @if $oldie {
      width: 960px;
    }

  }

  @include breakpoint($deskplus) {
    padding: 88px 0 0;
  }

}

.l-footer {
  display: none;

  @include breakpoint($desk) {
    display: block;
    margin-top: 2em;
  }
}

//
// Inner containers
//
.l-branding-header {
  background-color: $green1;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  transition: top 0.2s ease-in-out;

  .csstransforms3d & {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease;
  }

  @include breakpoint($desk) {
    height: 88px;

    // the background is inserted via pseudo element because it is not present on mobile
    &:after {
      display: block;
      background-color: $green2;
      border-top: 1px solid darken($green2, 3%);
      content:'';
      height: 28px;
      position: fixed;
      top: 60px;
      width: 100%;
    }
  }
}

.l-country-selector {
  @include breakpoint($desk) {
    position: absolute;
    width: 200px;
    left: 200px;
    bottom: 10px;
  }
}

.l-language-selector {
  @include breakpoint($desk) {
    position: absolute;
    width: auto;
    right: 10px;
    bottom: 32px;
  }

  @include breakpoint($deskplus) {
    right: 0;
  }
}

.l-header-navigation {

  @include breakpoint($desk) {
    position: relative;
    top: 44px;
    z-index: 2;
  }
}

.block-search {

  @include breakpoint($desk) {
    @include grid-span(4, 9, $output-style: 'isolation');
    bottom: 10px;
    position: absolute;
    right: 10px;
    .icon-search {
      display: none;
    }
  }

  @include breakpoint($deskplus) {
    right: 0;
  }

}

.breadcrumb {
  @extend %element-hidden;

  @include breakpoint($desk) {
    display: block;
    flex: 1 1 100%;
    order: 0;
  }

}

.l-main-column {
  margin: $def-mar-half;
  z-index: 1;
  //padding-bottom: 50px;

  @include breakpoint($desk) {
    margin: 0;
    padding-bottom: 0;
  }
}

.l-has-sidebar .l-main-column {

  @include breakpoint($desk) {
    float: left;
    position: relative;
    width: (100%/1.5);
  }

}

@include breakpoint($desk) {

  .l-two-column .l-main-column,
  .l-two-column .l-sidebar {
    float: left;
    position: relative;
    width: (100%/2);
  }

  .l-main-column {
    padding-right: $def-mar-half;
  }

  .l-sidebar {
    padding-left: $def-mar-half;
  }

}

// Footer

@include breakpoint($desk) {

  .footer-offset {
    height: 100px;
    background: #e4e4e4;
    border-bottom: 3px solid #CCC;
  }

}

.l-two-column {

  .l-main-column,
  .block {
    clear: both;
    display: none;
    margin: $def-mar-half;

    &.current {
      display: block;
    }

    @include breakpoint($desk) {
      display: block;
      clear: none;
      margin: 0 0 $def-mar 0;
    }

  }

}


.hidden-mobile {
  display: none;

  @include breakpoint($desk) {
    display: block;
  }
}
