@include breakpoint($desk) {
  .l-has-sidebar-first .l-main-column .block {
    display: block;
    clear: none;
    margin: 0 0 $def-mar 0;
  }

}

.sidebar-first {
  margin: 7px;

  @include breakpoint($tab) {
    float: left;
    width: 25%;
    padding: 7px;
    margin: 0;
  }

  @include breakpoint($desk) {
    .block-title {
      margin-left: 45px;
    }
  }

}

@include breakpoint($tab) {

  .l-has-sidebar-first .l-main-column {
    float: right;
    width: 75%;
    margin: 7px 0 0;
    padding: 0 7px;
  }

}

@include breakpoint($desk) {

  .sidebar-first .block {
    padding: 0;
  }

}


// Sidebar first buttons for navigation
.sf-navbtn {
  display: block;
  line-height: 1.2em;
  padding: .8em 1em;
  font-size: $p;
  color: $base;
  border-bottom: 1px solid $grey-l;
  position: relative;

  @include breakpoint($desk) {
    &:last-child {
      border: none;
    }
  }

  &:before {
    float: right;
    @extend %load-icon;
    @extend %icon-right-open;
  }

  &:hover {
    background: $background;
    text-decoration: none !important;
  }

  &.current {
    background: $green2;
    color: $white;
  }

  &:last-child {
    border-radius: 0 0 4px 4px;
  }
}

.sf-title {
  @extend %element-hidden;

  @include breakpoint($desk) {
    display: block;
  }

}
