%section.block
  %i.block-icon.icon-info.icon-bg-default
  %h2.block-title Date input
  .content
    :markdown
      The date type is used for input fields that should contain a date. Currently only Chrome, Safari and Opera support this input type. For browsers that do not support the date input field, it will behave just like a text input. With Modernizr we detect the support for this feature and load the [Date picker](https://github.com/amsul/pickadate.js) script.

      An icon is placed inside the field to notify users they can select something.
  .demo
    .form-item
      %input.form-text.input-date.js-date-picker{:type => "date", :value => "", :placeholder => "Pick a date"}
  .code
    :code
      # lang: html
        <div class='form-item'>
          <input type='date' class="form-text pickadate" placeholder="Pick a date" value="" />
        </div>
