.tabwrapper
  %ul.tabs
    - if current_page.data.user_role == "an"
      - if current_page.data.search_page == "all"
        %li.active
          %a.tab{:href => "/prototype/an/search.html"} All
      - else
        %li
          %a.tab{:href => "/prototype/an/search.html"} All
      - if current_page.data.search_page == "newsmedia"
        %li.active
          %a.tab{:href => "/prototype/an/search-newsmedia.html"} News & Media
      - else
        %li
          %a.tab{:href => "/prototype/an/search-newsmedia.html"} News & Media

      - if current_page.data.search_page == "events"
        %li.active
          %a.tab{:href => "/prototype/an/search-events.html"} Events
      - else
        %li
          %a.tab{:href => "/prototype/an/search-events.html"} Events

      - if current_page.data.search_page == "groups"
        %li.active
          %a.tab{:href => "/prototype/an/search-groups.html"} Groups
      - else
        %li
          %a.tab{:href => "/prototype/an/search-groups.html"} Groups

      - if current_page.data.search_page == "members"
        %li.active
          %a.tab{:href => "/prototype/an/search-members.html"} Members
      - else
        %li
          %a.tab{:href => "/prototype/an/search-members.html"} Members

    - if current_page.data.user_role == "lu" or current_page.data.user_role == "cm"
      - if current_page.data.search_page == "all"
        %li.active
          %a.tab{:href => "/prototype/lu/search.html"} All
      - else
        %li
          %a.tab{:href => "/prototype/lu/search.html"} All
      - if current_page.data.search_page == "newsmedia"
        %li.active
          %a.tab{:href => "/prototype/lu/search-newsmedia.html"} News & Media
      - else
        %li
          %a.tab{:href => "/prototype/lu/search-newsmedia.html"} News & Media

      - if current_page.data.search_page == "events"
        %li.active
          %a.tab{:href => "/prototype/lu/search-events.html"} Events
      - else
        %li
          %a.tab{:href => "/prototype/lu/search-events.html"} Events

      - if current_page.data.search_page == "groups"
        %li.active
          %a.tab{:href => "/prototype/lu/search-groups.html"} Groups
      - else
        %li
          %a.tab{:href => "/prototype/lu/search-groups.html"} Groups

      - if current_page.data.search_page == "members"
        %li.active
          %a.tab{:href => "/prototype/lu/search-members.html"} Members
      - else
        %li
          %a.tab{:href => "/prototype/lu/search-members.html"} Members
  %ul.tabs-overflow
    %li
      %a.tab.tab-overflow-trigger{:href => "#", "data-dropdown" => "#dropdown-tabs"}
        more
        %i.icon-down-mini
      .dropdown.dropdown-tip.dropdown-relative.dropdown-anchor-right#dropdown-tabs
        %ul.dropdown-menu
