%footer.l-footer.footer
  .footer-offset
  .container
    .l-branding-footer
      %span &copy;
      %strong.logo-footer GREENPEACE
      %span 2015
    %ul.footer-menu
      %li
        %a{:href=>"./privacy-policy.html"} Privacy statement
      %li
        %a{:href=>"#"} Copyright
      %li
        %a{:href=>"./index.html"} Home
      %li
        %a{:href=>"../an/about.html"} About us
      %li
        %a{:href=>"../an/contact.html"} Contact us
      %li
        %a{:href=>"#"} Press centre
