.off-canvas#primary-nav
  .nav-inner-wrap
    .block-search
      %h2.sg-title.pull-right Style guide
    %nav.main-menu{:role => "navigation"}
      %ul.menu
        %li.menu-item
          =nav_link 'Home', '/index.html',  :class => 'menu-link'
        %li.menu-item.expanded
          =nav_link 'Documentation', data.nav.docs.first['url'], :class => 'menu-link'
          %ul.menu
            - data.nav.docs.each do |item|
              %li.menu-item
                =nav_link item.name , item.url, :class => 'menu-link'
        %li.menu-item
          =nav_link 'Design elements', data.nav.design.first['url'],  :class => 'menu-link'
          %ul.menu
            - data.nav.design.each do |item|
              %li.menu-item
                =nav_link item.name , item.url, :class => 'menu-link'
        %li.menu-item
          =nav_link 'UI components', data.nav.comp.first['url'],  :class => 'menu-link'
          %ul.menu
            - data.nav.comp.each do |item|
              %li.menu-item
                =nav_link item.name , item.url, :class => 'menu-link'
        %li.menu-item
          =nav_link 'Prototype', '/prototype/index.html',  :class => 'menu-link'

