%form

  .action-bar

    .form-wrapper.row.action-bar-item

      .form-item.action-bar-item.name
        .inline-label
          %label Name
        %input.form-text{:type => "text", :value => "", :placeholder => "filter by name"}

    .form-actions.form-wrapper.row.action-bar-item
      %input{:type => "submit", :class => "button", :value => "Filter"}

    .form-wrapper.row.action-bar-item.actions
      %label Actions
      %a.button.results-page{"data-dropdown" => "#actions", :href => "#", :title => "Click to     show options"}
        %span Actions
      #actions.dropdown.dropdown-tip.dropdown-relative.dropdown-anchor-right
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Export CSV
          %li
            %a{:href => "#"} Export XLS
          %hr
          %li
            %a{:href => "#"} Send message
          %li
            %a{:href => "#"} Send email
