%form

  .action-bar

    .form-wrapper.row

      .form-item.action-bar-item.status
        %label Status
        %a.button.status{"data-dropdown" => "#status", :href => "#", :title => "Click to show     options"}
          %span - all -
        #status.dropdown.dropdown-tip.dropdown-relative
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Active
            %li
              %a{:href => "#"} Blocked
            %li
              %a{:href => "#"} pending request

      .form-item.action-bar-item.name
        %label Name
        %input.form-text{:type => "text", :value => ""}

    .form-actions.form-wrapper.row
      %input{:type => "submit", :class => "button", :value => "Apply"}

    .form-wrapper.row.action-bar-item.actions.pull-right
      %label Actions
      %a.button.results-page{"data-dropdown" => "#actions", :href => "#", :title => "Click to     show options"}
        %span Actions
      #actions.dropdown.dropdown-tip.dropdown-relative.dropdown-anchor-right
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Export CSV
          %li
            %a{:href => "#"} Export XLS
          %hr
          %li
            %a{:href => "#"} Send message
          %li
            %a{:href => "#"} Send email
          %li
            %a{:href => "#"} Change membership status
          %li
            %a{:href => "#"} Change role in group

