%form
  .action-bar
    .form-wrapper.row.action-bar-item.actions
      %label Actions
      %a.button.results-page{"data-dropdown" => "#actions", :href => "#", :title => "Click to     show options"}
        %span Actions
      #actions.dropdown.dropdown-tip.dropdown-relative.dropdown-anchor-right
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Export CSV
          %li
            %a{:href => "#"} Export XLS
          %hr
          %li
            %a{:href => "#"} Send message
          %li
            %a{:href => "#"} Send email
          %li
            %a{:href => "#"} Change membership status
          %li
            %a{:href => "#"} Change role in group

