%form

  .action-bar

    .form-wrapper.row.action-bar-item

      .form-item.action-bar-item.name
        .inline-label
          %label Name
        %input.form-text{:type => "text", :value => "", :placeholder => "filter by name"}

    .form-actions.form-wrapper.row.action-bar-item
      %input{:type => "submit", :class => "button", :value => "Filter"}

    .form-wrapper.row.action-bar-item.actions
      %label Actions
      %a.button.results-page{"data-dropdown" => "#actions", :href => "#", :title => "Click to show options"}
        %span Actions
      #actions.dropdown.dropdown-tip.dropdown-relative.dropdown-anchor-right
        %ul.dropdown-menu
          %li
            %a.modal-inline{:href => "#export-csv"} Export CSV
          %li
            %a.modal-inline{:href => "#export-xls"} Export XLS
          %hr
          %li
            %a.modal-inline{:href => "#send-message"} Send message
          %li
            %a.modal-inline{:href => "#send-email"} Send email


- data.event.with_image_organising.each do |item|

  #export-csv.block.white-popup.mfp-hide
    %i.block-icon.icon-export.icon-bg-action
    %h2.block-title Export CSV
    .content
      .spinner
        .rect1
        .rect2
        .rect3
        .rect4
        .rect5
      = item.csv_body

  #export-xls.block.white-popup.mfp-hide
    %i.block-icon.icon-export.icon-bg-action
    %h2.block-title Export XLS
    .content
      .spinner
        .rect1
        .rect2
        .rect3
        .rect4
        .rect5

      = item.xls_body

  #send-message.block.white-popup.mfp-hide
    %i.block-icon.icon-comment.icon-bg-action
    %h2.block-title Send message
    .content
      .comment-form-holder
        %form.node-form.comment-form
          .form-comment-message
            %textarea#shoutbox-comment{:cols => "50", :placeholder => "Write a message", :rows => "5"}
          %input.form-comment-submit.btn-primary{:type => "submit", :value => "Send message"}

  #send-email.block.white-popup.mfp-hide
    %i.block-icon.icon-mail.icon-bg-action
    %h2.block-title Send email
    .content
      .comment-form-holder
        %form.node-form.comment-form
          .form-comment-message
            %textarea#shoutbox-comment{:cols => "50", :placeholder => "Write a message", :rows => "5"}
          %input.form-comment-submit.btn-primary{:type => "submit", :value => "Send email"}
