.tabwrapper
  %ul.tabs
    - if current_page.data.user_role == "an"
      %li
        - if current_page.data.search_page == "all"
          %a.tab.active{:href => "/prototype/an/search.html"} All
        - else
          %a.tab{:href => "/prototype/an/search.html"} All
      %li
        - if current_page.data.search_page == "newsmedia"
          %a.tab.active{:href => "/prototype/an/search-newsmedia.html"} News & Media
        - else
          %a.tab{:href => "/prototype/an/search-newsmedia.html"} News & Media

      %li
        - if current_page.data.search_page == "events"
          %a.tab.active{:href => "/prototype/an/search-events.html"} Events
        - else
          %a.tab{:href => "/prototype/an/search-events.html"} Events

      %li
        - if current_page.data.search_page == "groups"
          %a.tab.active{:href => "/prototype/an/search-groups.html"} Groups
        - else
          %a.tab{:href => "/prototype/an/search-groups.html"} Groups

      %li
        - if current_page.data.search_page == "members"
          %a.tab.active{:href => "/prototype/an/search-members.html"} Members
        - else
          %a.tab{:href => "/prototype/an/search-members.html"} Members

    - if current_page.data.user_role == "lu" or current_page.data.user_role == "cm"
      %li
        - if current_page.data.search_page == "all"
          %a.tab.active{:href => "/prototype/lu/search.html"} All
        - else
          %a.tab{:href => "/prototype/lu/search.html"} All
      %li
        - if current_page.data.search_page == "newsmedia"
          %a.tab.active{:href => "/prototype/lu/search-newsmedia.html"} News & Media
        - else
          %a.tab{:href => "/prototype/lu/search-newsmedia.html"} News & Media

      %li
        - if current_page.data.search_page == "events"
          %a.tab.active{:href => "/prototype/lu/search-events.html"} Events
        - else
          %a.tab{:href => "/prototype/lu/search-events.html"} Events

      %li
        - if current_page.data.search_page == "groups"
          %a.tab.active{:href => "/prototype/lu/search-groups.html"} Groups
        - else
          %a.tab{:href => "/prototype/lu/search-groups.html"} Groups

      %li
        - if current_page.data.search_page == "members"
          %a.tab.active{:href => "/prototype/lu/search-members.html"} Members
        - else
          %a.tab{:href => "/prototype/lu/search-members.html"} Members
  %ul.tabs-overflow
    %li
      %a.tab.tab-overflow-trigger{:href => "#", "data-dropdown" => "#dropdown-tabs"}
        more
        %i.icon-down-mini
      .dropdown.dropdown-tip.dropdown-relative.dropdown-anchor-right#dropdown-tabs
        %ul.dropdown-menu
