.action-bar#ggw-search-action-bar
  .action-bar-item.viewmode-switcher
    %a.show-teasers.active{:href => "#"}
      %i.icon-teasers
      %span.element-invisible show teasers

    - if current_page.data.search_page == "all" or (current_page.data.search_page == "members" and current_page.data.user_role == "an")
      %a.show-list{:href => "#", :disabled => "disabled"}
        %i.icon-list
        %span.element-invisible show list
    - else
      %a.show-list{:href => "#"}
        %i.icon-list
        %span.element-invisible show list

  - if current_page.data.search_page == "members" and current_page.data.user_role == "an"

    .action-bar-item.sorting.disabled
      %label Sort by
      %a.button.btn-s.sorting{"data-dropdown" => "#sort-results", :href => "#", :title => "Click to show options"}
        %span --

  - else

    .action-bar-item.sorting
      %label Sort by
      %a.button.btn-s.sorting{"data-dropdown" => "#sort-results", :href => "#", :title => "Click to show options"}
        %span Relevance
      #sort-results.dropdown.dropdown-tip.dropdown-relative
        %ul.dropdown-menu
          - if current_page.data.search_page == "all"
            %li
              %a{:href => "#"} Relevance
            %li
              %a{:href => "#"} Title
            %li
              %a{:href => "#"} Date created

          - if current_page.data.search_page == "newsmedia"
            %li
              %a{:href => "#"} Relevance
            %li
              %a{:href => "#"} Title
            %li
              %a{:href => "#"} Type
            %li
              %a{:href => "#"} Date created

          - if current_page.data.search_page == "events" and current_page.data.user_role == "an"
            %li
              %a{:href => "#"} Relevance
            %li
              %a{:href => "#"} Title
            %li
              %a{:href => "#"} Type
            %li
              %a{:href => "#"} # of Participants
            %li
              %a{:href => "#"} Date and time
            %li
              %a{:href => "#"} Location name
            %li
              %a{:href => "#"} Date created

          - if current_page.data.search_page == "events" and current_page.data.user_role == "lu"
            %li
              %a{:href => "#"} Relevance
            %li
              %a{:href => "#"} Proximity to me
            %li
              %a{:href => "#"} Title
            %li
              %a{:href => "#"} Type
            %li
              %a{:href => "#"} # of Participants
            %li
              %a{:href => "#"} Date and time
            %li
              %a{:href => "#"} Location name
            %li
              %a{:href => "#"} Date created
            %li
              %a{:href => "#"} # of Comments

          - if current_page.data.search_page == "groups"
            %li
              %a{:href => "#"} Relevance
            %li
              %a{:href => "#"} Activity level
            %li
              %a{:href => "#"} Name
            %li
              %a{:href => "#"} Type of Group
            %li
              %a{:href => "#"} # of Members

          - if current_page.data.search_page == "members"
            %li
              %a{:href => "#"} Relevance
            %li
              %a{:href => "#"} Name
            %li
              %a{:href => "#"} Username
            %li
              %a{:href => "#"} Location
            %li
              %a{:href => "#"} Date joined


  - if current_page.data.search_page == "all" or (current_page.data.search_page == "members" and current_page.data.user_role == "an")
    .action-bar-item.results-page.disabled
      %label Results per page
      %a.button.btn-s.sorting{"data-dropdown" => "#page-results", :href => "#", :title => "Click to show options"}
        %span --

  - else
    .action-bar-item.results-page
      %label Results per page
      %a.button.btn-s.results-page{"data-dropdown" => "#page-results", :href => "#", :title => "Click to show options"}
        %span 20
      #page-results.dropdown.dropdown-tip.dropdown-relative
        %ul.dropdown-menu
          %li
            %a{:href => "#"} 20
          %li
            %a{:href => "#"} 50
          %li
            %a{:href => "#"} 100
