.block.block-sf-nav.affix-top{"data-spy" => "affix", "data-offset-top" => "110"}
  %i.block-icon.icon-info.icon-bg-default
  %h2.block-title Component guide
  .content
    - data.nav.comp.each do |item|
      =nav_link item.name , item.url, :class => 'sf-navbtn'
