%form

  .view-header

    .action-bar

      .form-wrapper.row.action-bar-item
        .form-item
          .inline-label
            %label Name
          %input.form-text{:type => "text", :value => "", :placeholder => "filter by name"}

      .form-wrapper.row.action-bar-item
        .form-item
          %input{:type => "submit", :class => "button", :value => "Filter"}

      .form-wrapper.row.action-bar-item.actions
        .form-item
          %label.element-invisible Actions
          %a.button.results-page{"data-dropdown" => "#actions", :href => "#", :title => "Click to show options"}
            %span Actions
          #actions.dropdown.dropdown-tip.dropdown-relative.dropdown-anchor-right
            %ul.dropdown-menu
              %li
                %a.modal-inline{:href => "#send-message"} Send message
