.cookiewall.absolute-message.element-hidden
  .container
    .media
      .media-figure
        .logo-greenpeace
      .media-body
        %h4.section-heading Cookies on Greenwire
        :markdown
          Greenpeace Greenwire Nederland uses cookies to improve your navigation. When using this site you agree to use the cookies. You can find more information on how the cookies are used on this site [here](https://greenwire.greenpeace.org/netherlands/nl/information-use-cookies-0).
        %button.button.btn-primary#hide-cookies
          %i.icon-check
          Accept
