#edit-comment.white-popup.mfp-hide
  - if current_page.data.front == "frontpage"
    %i.block-icon.icon-chat.icon-bg-action
    %h2.block-title Edit shoutbox
  - else
    %i.block-icon.icon-comment.icon-bg-action
    %h2.block-title Edit comment

