%section.region-highlighted
  .block.hero#block-hero.current.menu-hidden
    %i.icon-featured.element-hidden
    %h2.block-title.element-hidden
    %a{:href => "https://docs.google.com/forms/d/1fuHnQvTjVZW2Q_2DvYpEGfpb8Xmw000ZtDdouAnejk0/viewform"}
      =image_tag("slide1.jpg")
      %p
        %span We need your feedback please complete our short survey
