---
title: Prototype index
body_class: not-logged-in page-home l-has-sidebar
---

= partial :"blocks/breadcrumbs"

#content.l-main-column
  .main-content
    %i.block-icon.icon-bg-default.icon-info
    %h1#page-title.block-title Prototype index
    %article.view-mode-full.content
      :markdown
        prototype text some more

      %h2.section-heading Choose a role to go through the prototype
      =nav_link 'Homepage', '/prototype/an/index.html',  :class => 'button'
      =nav_link 'Member dashboard', '/prototype/lu/index.html',  :class => 'button'
      <br/><br/>
      =nav_link '404', '/prototype/404.html',  :class => 'button'
      =nav_link 'Maintenance', '/prototype/maintenance.html',  :class => 'button'

%aside.l-sidebar.sidebar
  = partial :"blocks/an/save_planet5"
