---
title: Prototype index
body_class: not-logged-in page-home l-has-sidebar style-guide
---

#content.l-main-column
  .main-content
    %i.block-icon.icon-bg-default.icon-info
    %h1#page-title.block-title Prototype index
    %article.view-mode-full.content
      :markdown
        prototype text

      %h2.section-heading Choose a role
      =nav_link 'Anonymous homepage', '/prototype/an/index.html',  :class => 'button'
      =nav_link 'Member homepage', '/prototype/an/index.html',  :class => 'button'
      =nav_link 'Content manager homepage', '/prototype/cm/index.html',  :class => 'button'

%aside.l-sidebar.sidebar
  = partial :"blocks/register_step5"
