@include breakpoint($desk, $no-query: true) {
  p,
  a,
  li,
  code,
  .form-text,
  textarea,
  label,
  legend,
  select {
    @include font-size (14px);
  }
}

h1, h2, h3, h4 ,h5 ,h6 {
  margin: 0;
  line-height: 1.2em;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none outside none;

  li {
    padding:0;
  }
}

li li {
  font-size: 1em;
}

a {
  color: $green5;
  text-decoration: none;
}

strong, b {
  font-weight: 700;
}

article {

  p {
    margin: 0.65em 0 0.95em;
  }

  a:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
    outline: thin dotted;
  }

  ul,
  ol {
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
  }

  ol ol,
  ul ul {
    margin-bottom: 0;
    padding: 0 0 0 $def-mar;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style: decimal;
  }

  // headings
  #{headings()} {
    margin: 10px 0;
    line-height: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    color: #003300; //darkgreen
  }

  $headings: h1, h2, h3, h4, h5, h6;
  $size: $h1, $h2, $h3, $h4, $h5, $h6;

  $head-size: zip($headings, $size);

  @each $a in $head-size {
    #{nth($a, 1)} {
      @if $oldie {
        font-size: nth($a, 2);
      }
      @else {
        font-size: (nth($a, 2) / $base-font-size)*1rem;
      }
    }
  }

  blockquote {
    border-left: 3px solid $green2;
    font-style: italic;
    margin-left: 5%;
    padding-left: 1.25em;
  }

  q, blockquote {
    quotes: none;
  }

  @include breakpoint($desk) {
    p a {
      text-decoration:underline;

      &:hover {
        color: darken($green5, 10%);
      }
    }
  }

}
