%figure
  %img.lazyload{:alt => "Example of image.", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-sizes" => "(min-width: 64em) 603px, (min-width: 48em) 768px, (min-width: 24em) 640px, 320px", "data-srcset" => "/photos/black-ice.jpg 1536w, /photos/black-ice.jpg 1440w, /photos/black-ice.jpg 1280w, /photos/black-ice.jpg 768w, /photos/black-ice.jpg 640w, /photos/black-ice.jpg 603w, /photos/black-ice.jpg 320w"}/
  %noscript
    %img{:src => "/photos/black-ice.jpg", "sizes" => "(min-width: 64em) 603px, (min-width: 48em) 768px, (min-width: 24em) 640px, 320px", "srcset" => "/photos/black-ice.jpg 1536w, /photos/black-ice.jpg 1440w, /photos/black-ice.jpg 1280w, /photos/black-ice.jpg 768w, /photos/black-ice.jpg 640w, /photos/black-ice.jpg 603w, /photos/black-ice.jpg 320w"}/
