%figure
  %picture
    %source{:media => "(min-width: 64em)", :srcset => "/photos/nature9.jpg, /photos/nature6.jpg 2x"}
    %source{:media => "(min-width: 48em)", :srcset => "/photos/nature7.jpg, /photos/nature8.jpg 2x"}
    %source{:media => "(min-width: 24em)", :srcset => "/photos/nature11.jpg, /photos/nature12.jpg 2x"}
    %img{:alt => "The president giving an award.", :src => "/photos/nature10.jpg", :srcset => "/photos/nature13.jpg 2x"}
  %figcaption
    A cheeky macaque, Lower Kintaganban River, Borneo. Original by
    %a{:href => "#"}
      = lorem.name
