%figure
  %img.lazyload{:alt => "Example of image.", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-sizes" => "(min-width: 64em) 603px, (min-width: 48em) 768px, (min-width: 24em) 640px, 320px", "data-srcset" => "/photos/nature8.jpg 1536w, /photos/nature6.jpg 1440w, /photos/nature12.jpg 1280w, /photos/nature7.jpg 768w, /photos/nature11.jpg 640w, /photos/nature9.jpg 603w, /photos/nature10.jpg 320w"}/
  %noscript
    %img{:src => "/photos/nature10.jpg", "sizes" => "(min-width: 64em) 603px, (min-width: 48em) 768px, (min-width: 24em) 640px, 320px", "srcset" => "/photos/nature8.jpg 1536w, /photos/nature6.jpg 1440w, /photos/nature12.jpg 1280w, /photos/nature7.jpg 768w, /photos/nature11.jpg 640w, /photos/nature9.jpg 603w, /photos/nature10.jpg 320w"}/
  %figcaption
    A cheeky macaque, Lower Kintaganban River, Borneo. Original by
    %a{:href => "#"}
      = lorem.name
