%figure
  %picture.field-type-image
    %source{:media => "(min-width: 48em)", :srcset => "http://placeimg.com/510/383/nature/3/image, http://placeimg.com/1020/766/nature/4/image 2x"}
    %source{:media => "(min-width: 24em)", :srcset => "http://placeimg.com/768/384/nature/5/image, http://placeimg.com/1536/768/nature/6/image 2x"}
    %img{:alt => "Example of event image description.", :src => "http://placeimg.com/768/384/nature/7/image", :srcset => "http://placeimg.com/1536/768/nature/8/image 2x"}
    %figcaption
      A traditional fishing village in the Philippines. Original by
      %a{:href => "#"}
        = lorem.name
