/*
# Kalei Themes

To make sure the code demo's are un-affected by Kaleis own styles we only set a few global styles

The menu is **fixed** and the page contained simply aligns itself 200px from the left.

*/

html, body, .kalei {
  height: 100% !important;
  background: #f6f4f4;
  width: 1200px; /* (280+20)+900 */
  margin: 5em auto;
}

body {
  background-color: #fff !important;
  margin: 0 !important;
  padding: 0 !important;
}

.terminal {
 background: #ddd;
 color: #444;
 padding: 0 5px;
}

.terminal a{
 color: #444;
}

.terminal::before {
  content: "$";
  padding-right: 5px;
  color: #559f0c;
}

.kalei-style-menu-container {
  position: fixed;
  width: 280px;
  margin-right: 20px;
  height: 100%;
  border-right: 1px solid #ccc;
  background-color: #fff;
}

.kalei-style-menu-container .menu-items {
  width: 100%;
}

.kalei-styleguide-menu {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.kalei-style-page {
  width: 900px;
  margin-left: 300px;
  background-color: #f6f4f4;
  padding-bottom: 0;
}

/*
## Headings and paragraphs
```
<div class="kalei-comments">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
  <p class="fixie"></p>
  <ul>
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
  </ul>
</div>

```
*/
/*
.kalei-comments > h1,
.kalei-comments > h2,
.kalei-comments > h3,
.kalei-comments > h4,
.kalei-comments > h5,
.kalei-comments > h5,
.kalei-comments > h6,
.kalei-comments > ul,
.kalei-comments > ol,
.kalei-comments > p a,
.kalei-comments > p a:visited,
.kalei-comments > a:visited,
.kalei-comments > a,
.kalei-styleguide-menu-heading > h1,
.kalei-styleguide-menu > li > h3,
.kalei-sheet-submenu li,
.kalei-styleguide-menu-stylesheets,
.kalei-comments > p {
  margin: 0;
  padding: 10px;
  color: #444;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.kalei-comments> p a,
.kalei-comments> p a:visited {
  padding: 0;
}

.kalei-comments > iframe {
  margin-top: 10px;
  margin-left: 10px;
}

.kalei-comments > ul,
.kalei-comments > ol {
  margin-left: 20px;
}

.kalei-comments > ul,
.kalei-comments > ol,
.kalei-comments > p {
  font-size: 12px;
}
*/
/*
## CSS and Comments Layout

These styles make sure the css code block is floated to the right correctly and the comments on the left

```
<div class="kalei-documentation">

  <div class="kalei-comments-container ">
    <div class="kalei-comments ">
      <p>This is a test Kalei comment.</p>
    </div>
  </div>

</div>
```
*/

.kalei-style-page > .kalei-documentation {
  position: relative;
}

.kalei-comments-container {
  position: relative;
  width: 100%;
}

/*
## Code demos

When you use Markdown code blocks ```, Kalei automatically renders the code as HTML and beneath it shows the code block with syntax highlighting.
```
<pre>
  <code>
    .kalei-comments > pre > code,
    .kalei-css-container > pre > code {
      font-size: 11px;
      opacity: 0.7;
      white-space: pre-wrap;
      padding: 10px;
    }
  </code>
</pre>
```
*/

.kalei-css-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.kalei-css-container.kalei-no-css {
  display: none;
}

.kalei-comments >  pre {
  border-radius: 0 0 4px 4px;
  position: relative;
  margin: -16px 0 15px 0;
  padding: 9px 14px;
  border: 1px solid #DDDDDD;
  background-color: #F7F7F9;
}

.kalei-comments {
  padding: 20px;
  margin: 0 0 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.codedemo {
  background-color: #FFFFFF;
  border-radius: 4px 4px 0 0;
  border: 1px solid #DDDDDD;
  padding: 45px 15px 15px;
  position: relative;
  margin: 0 0 15px;
}

*:not(.codedemo) .kalei-styleguide-menu-heading h1 {
  display: none;
}

*:not(.codedemo) .kalei-styleguide-menu-heading,
.styleguide-menu-heading:visited {
  text-decoration: none;
  background: #444;
}
  .logotype{
    padding: 1em;
    max-height: 100%;
  }

*:not(.codedemo) .kalei-styleguide-menu-heading:hover {
  color: #222;
}

*:not(.codedemo) .kalei-styleguide-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.codedemo:after {
  color: #BBBBBB;
  content: "Example";
  font-size: 12px;
  font-weight: 700;
  left: 15px;
  letter-spacing: 1px;
  position: absolute;
  text-transform: uppercase;
  top: 15px;
}


.kalei-styleguide-menu-stylesheets {
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background-color: #75eb33;
  text-shadow: 0 0 1px #777;
}

.kalei-styleguide-menu > li > h3 {
  margin-top: 20px;
  padding-left: 20px;
  color: #444;
  font-weight: bold;
  font-size: 16px;

}

.kalei-styleguide-menu-link {
  display: block;
  position: relative;
  height: 100%;
  padding: 10px 0 10px 30px;
  color: #555;
  font-weight: bold;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
}


.kalei-styleguide-menu-link:hover,
.kalei-styleguide-menu-link.active {
  color: #ebebeb;
  background-color: #444;
}

.kalei-styleguide-menu-link:hover:after,
.kalei-styleguide-menu-link.active:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: transparent #f7f7f7;
}

.kalei-sheet-submenu li.active {
  background: #ebebeb;
}

.kalei-sheet-submenu ul {
  margin: 0;
  padding: 0;
}
.kalei-sheet-submenu li {
  padding: 10px 10px 10px 40px;
  cursor: pointer;
  font-size: 14px;
}

.well {
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}

@media (max-width: 1200px) {
  html, 
  body,
  .kalei {
    width: 100%;
    margin: 0 auto;
  }
  .kalei,
  .kalei-style-menu-container {
    position: static;
    width: 100%;
    height: initial;
    margin: 0 auto;
    background: #f6f4f4;
  }
    .kalei-style-menu-container .kalei-styleguide-menu-heading {
      display: block;
      position: static;
      width: 90%;
      height: initial;
      margin: 0 auto;
    }
    .logotype {
      width: 33%;
    }
    .kalei-style-menu-container .menu-items {
      position: static;
      width: 90%;
      margin: 0 auto;
      background: #fff;
    }
    .kalei-style-menu-container .menu-items .kalei-styleguide-menu {
      overflow-y: initial;
      overflow-x: initial;
    }
      .kalei-style-menu-container .menu-items .kalei-styleguide-menu li {
        display: inline-block;
      }
    .kalei-style-menu-container .menu-items .kalei-styleguide-menu-link {
      padding: .3em 2em;
    }
    .kalei-style-menu-container .menu-items .kalei-sheet-submenu{
      display: none !important;
    }
  .kalei-style-page {
    width: 90%;
    margin: 0 auto;
  }

@media (max-width: 1024px) {
  .kalei-style-menu-container .kalei-styleguide-menu-heading,
  .kalei-style-menu-container .menu-items,
  .kalei-style-page {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .logotype {
    width: 50%;
    padding: 0 1em;
  }
  .kalei-style-menu-container .menu-items .kalei-styleguide-menu li {
    display: inline;
  }
}

@media (max-width: 480px) {
  .logotype {
    width: 80%;
  }
}
