@font-face {
  font-family: "greenwire-10";
  src: url('../font/greenwire-10.eot?26487031');
  src: url('../font/greenwire-10.eot?26487031#iefix') format('embedded-opentype'),
       url('../font/greenwire-10.woff?26487031') format('woff'),
       url('../font/greenwire-10.ttf?26487031') format('truetype'),
       url('../font/greenwire-10.svg?26487031#greenwire-10') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] { @extend %load-icon }

.icon-users {     @extend %icon-users }
.icon-user-add {  @extend %icon-user-add }
.icon-menu {      @extend %icon-menu }
.icon-user {      @extend %icon-user }
.icon-login {     @extend %icon-login }
.icon-close {     @extend %icon-cancel }
.icon-reply {     @extend %icon-reply }
.icon-pencil {    @extend %icon-pencil }
.icon-trash {     @extend %icon-trash }
.icon-clock {     @extend %icon-clock }
.icon-tag {       @extend %icon-tag }
.icon-plus {      @extend %icon-plus }
.icon-comment {   @extend %icon-comment }
.icon-dot {       @extend %icon-dot}
.icon-eye {       @extend %icon-eye}
.icon-search {    @extend %icon-search}
.icon-comment {   @extend %icon-comment}

.icon-event {     @extend %icon-calendar; }
.icon-news {      @extend %icon-book-open; }
.icon-blog {      @extend %icon-feather; }
.icon-photo {     @extend %icon-camera; }
.icon-video {     @extend %icon-video; }
.icon-document {  @extend %icon-attach; }
.icon-idea {      @extend %icon-thumbs-up; }
.icon-material {  @extend %icon-bucket; }

.icon-search {    @extend %icon-search; }
