@mixin button {
  background: $secondary;
  background-image: linear-gradient($secondary, darken($secondary, 3%));
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid $grey-l;
  color: $base;
  padding: 5px 1.2em;
  position: relative;
  line-height: normal; //line-heights can't be changed in FF inputs, instead use padding
  text-align: center;
  @include font-size($p);

  &:hover,
  &.hover {
    box-shadow: 0 1px 2px 0 $grey-l;
    text-decoration: none;
    outline: 0;
  }

  &:focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    top: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
  }

  &[disabled],
  &.disabled {
    background: $white;
    border-color: $grey-l;
    color: $grey-l;;
    cursor: default;

    &:active,
    &:hover,
    &:focus {
      box-shadow: none;
    }

    &:active {
      top:0;
    }

  }

}

%button {
  @include button;
}
