// render this file for IE8 which doesn't support media queries

// Legacy support.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;

// Force the breakpoint mixin to discard all media queries except the ones with
// $no-query set to true.
$breakpoint-no-queries: true;
$breakpoint-no-query-fallbacks: true;

$old-ie: true;

// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Defining reusable values
// should not contain any CSS output
@import "variables/**/*";

// Defining reusable declarations
@import "abstractions/**/*";

// Styles that are used across the site
@import "base/**/*";

// Components that can be reused
@import "components/**/*";

// Specific blocks that do not exchange styles
@import "modules/**/*";

// Defining the layout
@import "layouts/**/*";

// Things we only want to serve to old browsers
//@import "browser/old/**/*";
