// Generate normalize.css.
@import "normalize";

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Legacy support.
$browser-minimum-versions: (
  'ie': "9"
);

$old-ie: false;

// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Defining reusable values
// should not contain any CSS output
@import "variables/**/*";

// Defining reusable declarations
@import "abstractions/**/*";

// Defining the base
@import "base/**/*";

// Components that can be reused
@import "components/**/*";

// Specific blocks that do not exchange styles
@import "modules/**/*";

// Defining the layout - grid
@import "layouts/**/*";

// Things we only want to serve to modern browsers
//@import "browser/modern/**/*";
