
// Legacy support.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;


// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

@import "variables/**/*";

// Defining reusable declarations
@import "abstractions/**/*";

// Load the styleguide syntax
@import "styleguide/**/*";

// Defining the base
@import "base/**/*";

// Components that can be reused
@import "components/**/*";

// Specific blocks that do not exchange styles
@import "modules/**/*";

// Defining the layout - grid
@import "layouts/**/*";
