.col
  %section.block.block-no-icon
    %h2.block-title Active button
    %p Buttons will appear pressed (with an inset shadow) when active.
    %p
      %a.button.active active button
      %a.button.btn-primary.active active button
    .code
      :code
        # lang: css
          .button:active
    .code
      :code
        # lang: html
          <a href="#" class="button"> active button </a>

