.col
  %section.block.block-no-icon
    %h2.block-title Large button
    %p
      %a.button.btn-l large button
    .code
      :code
        # lang: html
          <a href="#" class="button btn-l"> large button </a>
