.col
  %section.block.block-no-icon
    %h2.block-title Small icon - no text
    :markdown
      Buttons with no text and small, used in interface
    %p
      %a.button.btn-s
        %i.icon-check
      %a.button.btn-s
        %i.icon-cancel
    .code
      :code
        # lang: html
          <a href="#" class="button btn-s">
            <i class="icon-check"></i>
          </a>
          <a href="#" class="button btn-s">
            <i class="icon-cancel"></i>
          </a>
