.col
  %section.block.block-no-icon
    %h2.block-title Small button
    %p
      %a.button.btn-s small button
    .code
      :code
        # lang: html
          <a href="#" class="button btn-s"> small button </a>
