.col
  %section.block.block-no-icon
    %h2.block-title Primary button
    %p
      %a.button.btn-primary primary button
    .code
      :code
        # lang: html
          <a href="#" class="button btn-primary"> primary button </a>
