%section.block
  %i.block-icon.icon-info.icon-bg-default
  %h2.block-title Input with autocomplete
  .content
    :markdown
      Autocomplete fields need to be set from Drupal, because they need to be linked to a list of taxonomies and we use a Drupal module for this. In this demo you can see the styling for this component. On Greenwire the the suggestion list is updated on each keypress.
  .demo
    .form-item
      %label Type anything to see the demo
      .form-description
        %i.icon-attention.icon-red
        This demo does not respond to your input, it is a static suggestion list
      %input.form-text.form-autocomplete{:type => "text", :value => "", :placeholder => "Text input"}
      #autocomplete
        %ul
          %li Arctic Ocean
          %li Atlantic Ocean
          %li Indian Ocean
          %li Pacific Ocean
          %li Southern Ocean
  .code
    :code
      # lang: html
        <div class='form-item'>
          <label> Type anything to see the demo
          <input type='text' class="form-text form-autocomplete" placeholder="text input" value="" />
          <input type="hidden" id="example-autocomplete" value="#link-to-taxonomy-list" disabled="disabled" class="autocomplete">
        </div>
