%section.block
  %i.block-icon.icon-info.icon-bg-default
  %h2.block-title Textarea
  .content
    %p Textarea must be placed inside a `.form-item`
    .demo
      .form-item
        %textarea{:placeholder => "Write your comment here..."}
    .code
      :code
        # lang: html
          <div class="form-item">
            <textarea class="form-text" rows="3" placeholder="Write your comment here..."> </textarea>
          </div>
