.action-bar {
  clear: both;
  @include font-size($small);
  position: relative;
  margin: $def-mar 0;
}

.action-bar-item {
  margin-right: 1em;
  display: inline-block;

  &.disabled {
    opacity: 0.65;
    pointer-events: none;
  }
}

.action-bar-item > label {
  display: inline;
  font-weight: normal;
  @include font-size($small);
  margin-right: .3em;
}

.action-bar .actions > label,
.action-bar .columns > label,
.action-bar .filter > label {
  @extend %element-hidden;
}

.action-bar-item span:after{
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid $grey-d;
  display: inline-block;
  content: '';
  vertical-align: bottom;
  margin-left: 3px;
}

.viewmode-switcher {
  position: absolute;
  right: 10px;
  margin: 0;

  a {
    font-size: $h1;
    line-height: 0.85em;
    text-align: center;
    display: inline-block;
    color: $grey-d;
    margin-left: .2em;

    &.active {
      color: $green5;

      &:hover {
        color: $green5;
      }
    }

    &[disabled] {
      color: $grey-l;
      pointer-events: none;
    }

    &:hover {
      color: $base;
    }


  }

}

.action-bar-item.filter {
  float: right;
  padding-top: 10px;
  line-height: 1rem;
  margin: 0;
}
