.action-bar {
  clear: both;
  @include font-size($small);
  position: relative;
}

.page-search .view-header .action-bar {
  margin: $def-mar-half 0 $def-mar;
}

.action-bar-item {
  margin-bottom: .5em;
  margin-right: .5em;
  display: inline-block;

  &.disabled,
  .disabled {
    opacity: 0.65;
    pointer-events: none;
  }

  @include breakpoint($smalltab) {
    margin-right: 1em;
    display: inline-block;
  }
}

.action-bar-item > label {
  display: inline;
  font-weight: normal;
  @include font-size($small);
  margin-right: .3em;
}

.action-bar .actions > label,
.action-bar .columns > label,
.action-bar .filter > label {
  display:none;
}

.action-bar-item span:after{
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid $grey-d;
  display: inline-block;
  content: '';
  vertical-align: bottom;
  margin-left: 3px;
}

.viewmode-switcher {
  display: none;

  @include breakpoint($smalltab) {
    display: block;
    position: absolute;
    right: 0;
    margin: 0;
  }

  @include breakpoint($tab) {
    margin: 0;
  }

  a {
    @include font-size(36px);
    line-height: 0.85em;
    margin-top: -4px; // some white-space in the font itself
    text-align: center;
    display: inline-block;
    color: $grey-d;
    margin-left: .2em;

    &.active {
      color: $green5;

      &:hover {
        color: $green5;
      }
    }

    &[disabled] {
      color: $grey-l;
      pointer-events: none;
    }

    &:hover {
      color: $base;
    }


  }

}

.action-bar-item.filter {
  float: right;
  padding-top: 10px;
  line-height: 1rem;
  margin: 0;
}
