#javascript-disabled {
  border-bottom: 1px solid darken($error, 10%);
  @include font-size(20px);
  padding: .5em 0;
  background-color: $error;
  color: $white;
  width: 100%;
  position: fixed;
  bottom:0;
  text-align: center;
  z-index: 10;
}

.alert {
  padding: $def-mar;
  margin: $def-mar $def-mar-half;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.alert-warning {
  color: #843534;
  background-color: lighten($error, 30%);
  border-color: $error;
}
