article {
  @extend %cf;
}

.node-full {

  .main-content .block-icon {
    display: none;

    @include breakpoint($desk) {
      display: block;
    }
  }

  .main-content .block-title {
    @include font-size($h3);

      @include breakpoint($desk) {
        @include font-size($h4);
        margin-left: 30px;
      }
  }

  .main-content .content {
    margin-top: $def-mar-half;

      @include breakpoint($desk) {
        margin-top: $def-mar;
      }
  }

}

.view-mode-full {

  .submitted {

    .type:before {
      @extend %load-icon;
      display: inline-block;
      top: -1px;
      position: relative;
      min-width: 1em;
      margin-right: .2em;
    }

    span {
      vertical-align: top;
    }

    @include breakpoint($tab) {

      .type {
        width: auto;

        &:before {
          margin-right: .2em;
        }

      }

    }

  }

  .field-group-format {
    margin: $def-mar 0;
    background: $background;
  }

  .field-name-body {
    margin: $def-mar 0 0;
    @extend %cf;
  }

  .field {
    padding: $def-mar-half $def-mar;
    @include font-size($small);
  }

  .field-label {
    @extend %element-invisible;
  }

  .field-label + div:before {
    @extend %load-icon;
    @include font-size($h3);
    margin-left: -1.25em;;
    position: absolute;
    width: 1em;
  }


  .field-label + div {
    margin-left: 2em;
  }

}

.field-name-field-event-date .field-label + div:before {
  @extend %icon-calendar;
}

.field-name-field-event-location .field-label + div:before {
  @extend %icon-location;
  @include font-size($h2);
}

.field-name-field-event-organiser .field-label + div:before {
  @extend %icon-user;
}

.field-name-field-event-type .field-label + div:before {
  @extend %icon-info-circled;
}

.field-name-field-event-num-attendees .field-label + div:before {
  @extend %icon-users;
}

.field-name-field-event-location {
  span {
    margin-right: .3em;
  }

  @include breakpoint($desk) {
    a {
      pointer-events: none;
      cursor: default;
      color: $base-desk;
    }

  }

}

.view-mode-full .field-name-document {
  padding: 0;

  .type {
    @include font-size($p);
    width: auto;
    display: block;
    overflow: hidden;
    vertical-align: bottom;
  }

  .type:before {
    @extend %load-icon;
    display: inline-block;
    top: -1px;
    position: relative;
    width: 1em;
    margin-right: .2em;
  }

}

.field-name-gallery {
  overflow: hidden;
  margin: $def-mar 0;

  .album-thumbnail {
    float: left;
    margin: 0 3px 3px 0;
    width: 96px;
    height: 96px;
    background: $grey-l;
  }
}
