.submitted {
  margin:(2 * $def-mar) 0 0;
}

.submitted-extended {
  padding: $def-mar;
  background: $background;
  border-radius: 3px;
}

.comments-shortcut {
  float: right;
}

.tags,
.shortcut,
.submitted,
.submitted a {
  @extend %fontsizesmall;
}

.submitted,
.submitted-info {
  @include media;
}

.submitted .icon:before {
  margin: 0 .2em 0 .1em;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.submitted-origin {
  display: inline-block;
}

.submitted-image {
  float: left;
  margin-right: 10px;

  img {
    display: block;
  }
}

.submitted-date {
  display: inline-block;
}

.tags a {
  text-transform: lowercase;
  font-style: italic;
}
