.button {
  @extend %button;

  i {
    @include font-size(16px);
    line-height: 1em;
    min-width: 1em;
  }
}

.btn-primary {
  background: $primary;
  border: 1px solid darken($primary, 10%);
  color: $white;
}

.btn-l {
  padding: .8em 2em;
}

.btn-s {
  padding: .3em .6em;
  font-size: $small;
}

// Block buttons, 1 button per line
.btn-block {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.btn-disabled {
  background-color: $white;
  border-color: $grey-l;
  pointer-events: none;
  cursor: not-allowed;
  box-shadow: none;
}

.btn-back {
  position: absolute;
  top: 10px;
  right: 0;

  &:active {
    top: 11px;
  }

  @include breakpoint($desk) {
    right: 14px;
  }

}

.button + .button {
  margin-top: 5px;
}

.form-wrapper.row .button + .button {
  margin: 0 0 0 5px;
}

.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  > .button {
    float: left;
    position: relative;
    margin-top: 0;

    + .button {
      margin-left: -1px;
    }
  }

  > .button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  > .button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

}



.btn-block i {
  margin-right: .5em;
}

.caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
}

.button .caret {
  margin-left: 0;
}

.btn-social-fb {
  border-color: #3b5998;
  border-bottom-color: #263a63;
  background: #3b5998;
  color: $white;
}

.btn-social-gp .icon-gplus {
  color: #dd4b39;
}


.backtotop-button {
  @extend %button;
  bottom: 0;
  position: fixed;
  z-index: 100;
  display: none;
  right: 30px;
  height: 40px;
  margin-bottom: -10px;
  transition: margin-bottom 150ms linear;

  &:active,
  &:hover {
    margin-bottom: -2px;
    color: $base;
    top: auto;
  }

}

.load-more-btn {
  margin-top: $def-mar-half;
}

.btn-add {
  background: $green5;
  border: 1px solid darken($green5, 10%);
  color: $white;
}

.btn-upload {
  background: $group;
  border: 1px solid darken($group, 10%);
  color: $white;
}

.btn-delete {
  background: $error;
  border: 1px solid darken($error, 10%);
  color: $white;
}
