.button {
  @extend %button;

  i {
    @include font-size(16px);
    line-height: 1em;
    min-width: 1em;
  }
}

.btn-primary {
  background: $primary;
  border: 1px solid darken($primary, 10%);
  color: $white;
}

.btn-l {
  padding: .8em 2em;
}

.btn-s {
  padding: .3em .6em;
  font-size: $small;
}

// Block buttons, 1 button per line
.btn-block {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.button + .button {
  margin-top: 5px;
}

.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  > .button {
    float: left;
    position: relative;
  }
}

.btn-dropdown {
  padding: .44em 1em;
  margin: 0;
  right: 0;
  position: absolute;

  //assuming it is always at the top of a block
  @include breakpoint($desk) {
    border-top-color: $background;
    border-radius: 0 0 3px 3px;
    right: 15px;
  }
}

.btn-block i {
  margin-right: .5em;
}

.caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
}

.button .caret {
  margin-left: 0;
}

.btn-social-fb {
  border-color: #3b5998;
  border-bottom-color: #263a63;
  background: #3b5998;
  color: $white;
}

.btn-social-gp .icon-gplus {
  color: #dd4b39;
}
