.dropdown {
  display: none;
}

.l-main .dropdown {
  position: absolute;
  z-index: 9999999;
}

.dropdown-panel {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  border: 1px solid $grey-l;
  border: 1px solid rgba(0,0,0,0.2);
}

.dropdown-panel {
  padding: 10px;
}

.dropdown-tip {
  margin-top: 8px;
}

.dropdown-tip:before {
  position: absolute;
  top: -6px;
  left: 9px;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.dropdown-tip:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  display: inline-block;
}


.dropdown-scroll .dropdown-menu,
.dropdown-scroll .dropdown-panel {
  max-height: 358px;
  overflow: auto;
}

.btn-group .dropdown {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  left: 0;
  margin: 2px 0 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
  overflow: hidden;

  a {
    background-clip: padding-box;
    color: $base;
    display: block;
    font-size: 1em;
    padding: .2em 1.5em;
    white-space: nowrap;
    line-height: 1.5em;

    &:hover {
      background: $background;
      text-decoration: none;
    }
  }
}

.dropdown {

  i {
    width: 1.2em;
  }

  .icon-check {
    color: $green5;
  }

  .icon-cancel {
    color: $error;
  }
}


// No JS Fallback
.no-js {
  .country-selector:hover #dropdown-content-country,
  .language-selector:hover #dropdown-content-language {
    display: block;
  }
}
