img, picture, media {
  max-width: 100%;
}

.no-js img.lazyload {
  display: none;
}

article picture,
article img,
td img {
  display: block; // by default make sure the image gets it own line
  margin: 0 auto;

  &.pull-left {
    margin: 0 $def-mar $def-mar 0;
  }

  &.pull-right {
    margin: 0 0 $def-mar $def-mar;
  }

}

article img.nofloat {
  float: none;
  margin-left: 0;
  margin-right: 0;
}

.l-main-column figure {
  margin: $def-mar 0 0;
  position: relative;

  picture,
  img {
    width: 100%;
  }
}

.l-main-column figcaption {
  position: absolute;
  bottom: 0;
  background: #000;
  background: rgba(0,0,0,.7);
  padding: .5em;
  width: 100%;
  color: $grey-l;
  @include font-size($small);
  line-height: 1.35em;
}

.js .lazyload,
.js .lazyloading {
  opacity: 0;
}

.js .lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.js [data-expand].lazyload {
  opacity: 0;
  transform: scale(0.8);
}

.js [data-expand].lazyloaded {
  opacity: 1;
  transition: all 700ms;
  transform: scale(1);
}
