img,
picture,
media {
  max-width: 100%;
}

.no-js img.lazyload {
  display: none;
}

article picture,
article img,
td img {
  display: block; // by default make sure the image gets it own line
  margin: 0 auto;

  &.pull-left {
    margin: 0 $def-mar $def-mar 0;
  }

  &.pull-right {
    margin: 0 0 $def-mar $def-mar;
  }

}

.nofloat {
  float: none;
  margin-left: 0;
  margin-right: 0;
}

.l-main-column figure {
  margin: $def-mar 0 0;
  position: relative;

  picture,
  img {
    width: 100%;
  }
}

.l-main-column figcaption {
  position: absolute;
  bottom: 0;
  background: $heading;
  background: rgba(0, 0, 0, .7);
  padding: .5em;
  width: 100%;
  color: $grey-l;
  @include font-size($small);
  line-height: 1.35em;
}

