
// ---------------------
// Pagination
// ---------------------

.pager {
  margin: $def-mar 0;
  text-align: center;
  @extend %cf;
}

.pager-item {
  @extend %button;
  padding: .4em .7em;
  margin-bottom: 5px;
  @include font-size($small);

  a {
    display: block;
    color: $base;
    line-height: 1em;

    &:before {
      display: none;
    }

    &:hover {
      color: $base;
    }
  }

  .pager-load-more & {
    @extend .btn-block;
    @extend .btn-l;
    @include font-size($base-font-size);
  }

}

.pager-current {
  background: $green2;
  border-color:$green5;
  color: $white;
}
