.search-tabs {
  margin: $def-mar-half 0;
  list-style: none outside none;
  border-bottom: 1px solid $background;

  li {
    margin-right: 1em;
    display: inline-block;
    position: relative;
    padding-right: 1em;
    line-height: 1em;

    &:after {
      display: block;
      content: '';
      background: $background;
      position: absolute;
      top: 5px;
      right: 0;
      height: 16px;
      width: 1px;
    }

    &:last-child:after {
      @extend %element-hidden;
    }
  }

  a {
    position: relative;
    display: block;
    line-height: 1.8em;

    &:last-child:after {
      border: none;
    }

    &.active {
      color: $heading;
      font-weight: bold;
      border-bottom: 3px solid $heading;
    }

  }

}
