.node-teaser {
  height: 60px;
  line-height: 1.2em;
  margin-bottom: $def-mar + 5px;
  overflow: hidden;
  position: relative;

  @include breakpoint($tab) {
    height: 90px;

    .l-has-sidebar .sidebar & {
      height: 60px;
    }
  }

  .field-type-image {
    background-color: $grey-l;
    float: left;
    height: 60px; //temp
    margin-right: $def-mar;
    overflow: hidden;
    position: relative;
    width: 90px;
    z-index: 1;

    @include breakpoint($tab) {
      height: 90px;
      width: 130px;

      .l-has-sidebar .sidebar & {
        height: 60px;
        width: 90px;
      }

    }

    &:before {
      @extend %load-icon;
      color: $white;
      font-size: 2.5rem;
      line-height: 60px;
      position: relative;
      width: 100%;
      z-index: 2;

      @include breakpoint($tab) {
        font-size: 3.5rem;
        line-height: 90px;

        .l-has-sidebar .sidebar & {
          line-height: 60px;
          font-size: 2.5rem;
        }

      }

    }

  }

  img {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;

    @include breakpoint($tab) {
      height: 90px;
    }

  }

  .created-date,
  .author {
    display: none;

    @include breakpoint($tab) {
      display: inline-block;
    }
  }

  .field-type-wrapper {
    overflow: hidden;
    position: relative;
  }

  label {
    display: inline-block;
  }

  .field-type-date {
    @extend %fontsizesmall;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5em;

    label {
      display: none;

      @include breakpoint($smalltab) {
        display: inline-block;
      }

    }

    @include breakpoint($tab) {
      margin-bottom: 4px;
    }

  }

  .field-type-location {
    @extend %fontsizesmall;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .field-name-body {
    @extend %element-hidden;

    @include breakpoint($smalltab) {
      @include font-size(14px);
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .sidebar & {
        display: none;
      }
    }

    @include breakpoint($tab) {
      overflow: hidden;
      text-overflow: unset;
      height: 4em;
      white-space: normal;
      line-height: 1.5em;

      .sidebar & {
        display: block;
      }
    }

  }

  .submitted {
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;

    .type {
      display: inline-block;
      overflow: hidden;
      vertical-align: bottom;
      width: 1em;

      &:before {
        @extend %load-icon;
        position: relative;
        top: -1px;
        width: 1em;
      }

    }

    .teaser-comments {
      display: inline-block;

      &:before {
        @extend %load-icon;
        @extend %icon-comment;
        width: 1.2em;
      }

    }

    span {
      vertical-align: top;
    }

    @include breakpoint($tab) {
      margin-bottom: 5px;

      .l-has-sidebar .sidebar & {
        margin-bottom: 0px;
      }

      .type {
        width: auto;

        &:before {
          margin-right: .2em;
        }

      }

    }

  }

  .subscribed {
    text-indent: -9999px;
    display: inline-block;
    width: 1em;
    vertical-align: middle;

    &:before {
      @extend %load-icon;
      @extend %icon-star;
      color: $primary;
      position: relative;
      text-indent: 9999px;
      top: -1px;
      width: 1em;
    }

    @include breakpoint($tab) {

      &:before {
        display: none;
      }

      text-indent: 0;
      width: auto;
      border-radius: 2px;
      padding: 0 5px;
      background-color: $primary;
      color: $white;
      @include font-size($small);
      line-height: 1.5em;
    }
  }

}

.page-who-is-who .node-teaser {
  height: auto;

  .field-name-body {
    height: auto;
  }
}

.node-teaser-notification {
  border-bottom: 1px solid $background;
  height: auto;
  margin-bottom: 1em;
  padding-bottom: 1em;

  .field-type-image {
    width: 60px;

    @include breakpoint($tab) {
      height: 60px;
      width: 60px;
    }

    img {
      height: 60px;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 3;
    }

  }

  p {
    @extend %fontsizesmall;
    @extend %mnul;
  }

  .submitted {
    @include font-size($small);
    color: $grey-m;
  }

}

.node-teaser-event {

  &.event-subscribed {
    .field-type-date {
      padding-left: 32px;

      @include breakpoint($tab) {
        padding: 0;
      }
    }
  }

  .field-type-date {
    padding-left: 20px;

    @include breakpoint($tab) {
      padding: 0;
    }
  }

  .submitted {
    position: absolute;

    @include breakpoint($tab) {
      position: relative;
    }

  }

}

// List all background-images for types which will show if there is no image present
// and list all submitted type icons

@each $type, $icon in (news: book-open, blog: feather, event: calendar, group: users, photo: camera, document: attach, video: video, idea: thumbs-up, page: info, material: bucket, faq: help, user: user, download: download, idea2: chat) {

  .node-teaser-#{$type} .field-type-image {
    @extend %icon-#{$icon};
  }

  .#{$type} {
    @extend %icon-#{$icon};
  }

}

