.node-teaser {
  overflow: hidden;
  margin-bottom: $def-mar;
  height: 60px;
  line-height: 1.2em;

  @include breakpoint($tab) {
    height: 90px;
  }

  .field-type-image {
    float: left;
    margin-right: .5em;
    width: 90px;
    height: 60px; //temp
    background-color: $grey-l;
    overflow: hidden;
    position: relative;

    @include breakpoint($tab) {
      width: 130px;
      height: 90px;
    }

    &:before {
      color: $white;
      position: relative;
      font-size: 2.5rem;
      z-index: 2;
      line-height: 60px;
      width: 100%;
      @extend %load-icon;

      @include breakpoint($tab) {
        line-height: 90px;
        font-size: 3.5rem;
      }
    }

  }

  picture {
    position: relative;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
  }

  .field-type-wrapper {
    overflow: hidden;
    position: relative;
  }

  .node-title {
    @include font-size(16px);
    color: $green5;
    margin: 0 0 3px;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 2.3em; //equals two line-heights

    @include breakpoint($tab) {
      margin-bottom: 5px;
    }

    a {
      @extend %block;
    }
  }

  label {
    display: inline-block;
    margin-right: .3em;
  }

  .field-group-format,
  .field-name-body {
    @extend %element-hidden;

    @include breakpoint($smalltab) {
      display: block;
      @include font-size(14px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @include breakpoint($tab) {
      overflow: hidden;
      text-overflow: unset;
      height: 4em;
      white-space: normal;
      line-height: 1.5em
    }

  }

}

.submitted {
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .type {
    margin-right: 1em;
    width: 0;
    display: inline-block;
    line-height: 1em;
    overflow:hidden;
    height: 14px;
  }

  .type:before {
    @extend %load-icon;
    left: 0;
    position: absolute;
    line-height: 1.2em;
  }

  @include breakpoint($tab) {
    margin-bottom: 5px;

    .type {
      width: auto;
      display: inline;
      margin: 0 .3em 0 .1em;
      line-height: normal;

      &:before {
        position: relative;
        margin-right: .3em;
      }

    }

  }

}


.node-teaser-notification {
  border-bottom: 1px solid $background;
  padding-bottom: 1em;
  margin-bottom: 1em;
  height: auto;

  .field-type-image {
    width: 60px;

      @include breakpoint($tab) {
        width: 60px;
        height: 60px;
      }

    img {
      position: relative;
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      height: 60px;
    }

  }

  p {
    @extend %fontsizesmall;
    @extend %mnul;
  }

  .submitted {
    color: $grey-m;
    @include font-size(12px);
  }

}


// List all background-images for types which will show if there is no image present
// and list all submitted type icons

@each $type, $icon in (news: book-open, blog: feather, event: calendar, group: users, album: camera, document: attach, video: video, idea: thumbs-up, page: info, material: bucket, faq: help, notification: user, user: user) {

  .node-teaser-#{$type} .field-type-image {
    @extend %icon-#{$icon};
  }

  .submitted .#{$type} {
    @extend %icon-#{$icon};
  }

}

