
@include breakpoint($desk) {

  .tooltip {
    position: relative;
  }

  .tooltip:before,
  .tooltip:after {
    position:absolute;
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    z-index: 1000000;
    transition: 0.3s ease;
    transition-delay: 0ms;
  }

  .tooltip:hover:before,
  .tooltip:hover:after,
  .tooltip:focus:before,
  .tooltip:focus:after {
    visibility: visible;
    opacity: 1;
    transition-delay: 100ms;
  }

  .tooltip:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    border-top-color: $base;
    z-index: 1000001;
    margin-bottom: -12px;
    bottom: 100%;
    left: 50%;
  }

  .tooltip:after {
    content: attr(data-tip);
    @include font-size(14px);
    white-space:nowrap;
    background: $base;
    color: $white;
    padding: 2px 4px;
    line-height: 21px;
    margin-left: -18px;
    bottom: 100%;
    left: 50%;
    border-radius: 4px;
  }

  .tooltip:hover:after,
  .tooltip:hover:before,
  .tooltip:focus:after,
  .tooltip:focus:before {
    transform: translateY(-8px);
  }

  @if $oldie {
    .tooltip:before,
    .tooltip:after {
      display: none;
    }
  }

}
