// Here you will find all colors we use for the theme,
// use the variable in the rest of the files

$color1: #606060;   // paragraph color
$color2: #000000;   // headings
$color3: #D65827;   // subheadings and links
$color4: #FFFFFF;   // subheadings and links inverted
$color5: #ece8e5;   // body background

// GREEN
$primary-green: #66CC00;
$secondary-green: #56B004;
$tertiary-green: #559F0C;

// Other colors
$white: #FFFFFF;

// page background
$background: #edf0f4;

// color for background of sidebar
$asidebg: #52575b;
$asidetxt: #ffffff;

// form inputs
$input: #f0f0f0;

// headings
$heading: #1a1a1a;

// icons (grijze kleur)
$icons: #c1c1c1;

// sections
$cows: #008edb;
$pigs: #d30068;
$lifestock: #3e9715;
