---
title: page not found
body_class: index no-sidebar page-not-found
---

#content.l-main-column

  %article
    %h1.align-center Oops! We lost you...

    %h2.section-heading Now what?
    %ul.hints
      %li
        If you typed in the address, check your spelling. Could just be a typo.
      %li
        If you followed a link, it's probably broken. Please
        %a{:href => "/netherlands/nl/contact"} contact us
        and we'll fix it.
      %li
        If you're not sure what you are looking for, start at
        %a{:href => "#"} the homepage

