---
title: Breadcrumbs
body_class: page-breadcrumbs l-has-sidebar-first
layout: styleguide
direct_parent:
  -
    name: "Styleguide"
    url: "/"
  -
    name: "UI Components"
    url: "./blocks.html"

layout: styleguide
---

= partial :"blocks/breadcrumbs"

%aside.sidebar-first
  = partial :"nav/uicomponents"
#content.l-main-column
  %section.block
    %i.block-icon.icon-info.icon-bg-default
    %h2.block-title Breadcrumbs
    .content
      :markdown
        Breadcrumbs are shown on all pages, except the homepage. On screen sizes smaller than `900px` breadcrumbs are hidden.

      .demo
        %nav.breadcrumb{:role => "navigation"}
          %h2.element-invisible You are here
          %ol.breadcrumbs
            %li.breadcrumb-item You are here:
            %li.breadcrumb-item
              %a.breadcrumb-link{:href => "/prototype/an/index.html"} Home
            %li.breadcrumb-item
              %a.breadcrumb-link{:href => "/prototype/an/news.html"} News
            %li.breadcrumb-item Random news article
      .code
        :code
          # lang: html
            <nav class="breadcrumb" role="navigation">
              <h2 class="element-invisible">You are here</h2>
              <ol class="breadcrumbs">
                <li class="breadcrumb-item">You are here:</li>
                <li class="breadcrumb-item">
                  <a class="breadcrumb-link" href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a class="breadcrumb-link" href="/news/">News</a>
                </li>
                <li class="breadcrumb-item">Random news article</li>
              </ol>
            </nav>
