%section.block.block-no-icon
  %h2.block-title Quote
  :markdown
    Blockquotes can be used to quote people and style this consistently.
  .demo
    %article
      %blockquote{:cite => "http://linktosource.com"}
        %p
          "This project aims at making sure your style sheets are fully documented whilst being synchronized th your webpages styles. To do this it actually uses your live stylesheets in so that at anytime u can review how your styleguide looks."
  .code
    :code
      #lang: html
        <article>
          <blockquote cite="http://linktosource.com">
            "This project aims at making sure your style sheets are fully documented whilst being synchronized th your webpages styles. To do this it actually uses your live stylesheets in so that at anytime u can review how your styleguide looks."
          </blockquote>
        </article>
