#block-comments.block.block-comments
  %i.block-icon.icon-comment.icon-bg-action
  %h2.block-title Comments
  .content
    %ul.sort-comments
      %li
        %a.active{:href => "#"} Oldest
      %li
        %a{:href => "#"} Newest
    %section.comments
      %article.comment
        .avatar-holder
          %a{:href => "#", :title => "View user profile"}
            %picture
              %img{:alt => "Dora Tilman", :src => "http://placeimg.com/60/60/people/5", :srcset => "http://placeimg.com/120/120/people/5 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "#", :title => "View profile"}
              Dora Tilman
          .comment-body
            I agree.
          .comment-footer
            %span.comment-timestamp 5 minutes ago
            %span.comment-actions
              %a.comment-actionlink{:href => "#"} reply
              %a.comment-actionlink{:href => "#"} edit
              %a.comment-actionlink{:href => "#"} delete
      %article.comment
        .avatar-holder
          %a{:href => "#", :title => "View user profile"}
            %picture
              %img{:alt => "Chico Konink", :src => "http://placeimg.com/60/60/people/1", :srcset => "http://placeimg.com/120/120/people/1 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "#", :title => "View profile"}
              Chico Konink (Greenpeace staff)
          .comment-body
            I keep my weight down, and I exercise,” she said. And, she added, she was diligent about doing her.
          .comment-footer
            %span.comment-timestamp 1 hour ago
            %span.comment-actions
              %a.comment-actionlink{:href => "#"} reply
              %a.comment-actionlink{:href => "#"} edit
              %a.comment-actionlink{:href => "#"} delete
      %article.comment.comment-reply
        .avatar-holder
          %a{:href => "#", :title => "View user profile"}
            %picture
              %img{:alt => "Chico Konink", :src => "http://placeimg.com/60/60/people/1", :srcset => "http://placeimg.com/120/120/people/1 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "#", :title => "View profile"}
              Chico Konink (Greenpeace staff)
          .comment-body
            I keep my weight down, and I exercise,” she said. And, she added, she was diligent about doing her.
          .comment-footer
            %span.comment-timestamp 30 minutes ago
      %article.comment.comment-reply
        .avatar-holder
          %a{:href => "#", :title => "View user profile"}
            %picture
              %img{:alt => "Chico Konink", :src => "http://placeimg.com/60/60/people/1", :srcset => "http://placeimg.com/120/120/people/1 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "#", :title => "View profile"}
              Chico Konink (Greenpeace staff)
          .comment-body
            I keep my weight down, and I exercise,” she said. And, she added, she was diligent about doing her.
          .comment-footer
            %span.comment-timestamp 15 minutes ago
            %span.comment-actions
              %a.comment-actionlink{:href => "#"} edit
              %a.comment-actionlink{:href => "#"} delete
      %article.comment
        .avatar-holder
          %a{:href => "#", :title => "View user profile"}
            %picture
              %img{:alt => "Erben de Bok", :src => "http://placeimg.com/60/60/people/3", :srcset => "http://placeimg.com/120/120/people/3 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "#", :title => "View profile"}
              Erben de Bok
          .comment-body
            “What do you think
            = succeed "?" do
              %a{:href => "#", :title => "View Erben de Bok's profile"} Erben de Bok
          .comment-footer
            %span.comment-timestamp 12 May, 2014 - 13:56
            %span.comment-actions
              %a.comment-actionlink{:href => "#"} reply
              %a.comment-actionlink{:href => "#"} edit
              %a.comment-actionlink{:href => "#"} delete
      %article.comment
        .avatar-holder
          %a{:href => "#", :title => "View user profile"}
            %picture
              %img{:alt => "Erben de Bok", :src => "http://placeimg.com/60/60/people/4", :srcset => "http://placeimg.com/120/120/people/4 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "#", :title => "View profile"}
              Johnny with his extremelonglastname
          .comment-body
            “I keep my weight down, and I exercise,” she said. And, she added, she was diligent about doing her rehabilitation exercises after each surgery. “People I have known who had [replacement surgery] and who didn’t do the therapy, it doesn’t work out for them.”
          .comment-footer
            %span.comment-timestamp 2 November, 2013 - 08:56
            %span.comment-actions
              %a.comment-actionlink{:href => "#"} reply
              %a.comment-actionlink{:href => "#"} edit
              %a.comment-actionlink{:href => "#"} delete
    .comment-form-holder
      %h2.comment-form-title Add new comment
      %form.comment-form
        %input.tooltip.form-comment-file{:accept => "image/*", "data-tip" => "Attach a photo", :type => "file"}/
        .form-comment-message
          %textarea{:placeholder => "Write a comment...", :rows => "1"}
        %input.form-comment-submit{:type => "submit", :value => "post"}/
