#confirm-group-subscription.block.white-popup.mfp-hide
  %i.block-icon.icon-login.icon-bg-action
  %h2.block-title Are you sure you want to join this group?

  .content
    %form.comment-form{:action => "./group-home-enrolled.html", :method => "get"}
      %p Please click "join" to become a member of this group
      .form-actions.form-wrapper
        %input{:type => "submit", :class => "button btn-primary", :value => "Join"}
        %input{:type => "submit", :class => "button ", :value => "Cancel"}

