.block#block-enrollments
  %i.block-icon.icon-users.icon-bg-event
  %h2.block-title{"data-amtitle" => "Enrollments"} Enrollments
  .content
    .members
      - 1.times do |num|
        %a.member-item{:href => "#"}
          %img.lazyload{:alt => "Grace O'Flynn", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/75/grace.jpg"}/
          %noscript
            %img{:alt => "Grace O'Flynn", :src => "/photos/75/grace.jpg"}/

    %p 1 person is going

  - if current_page.data.organiser == "organiser"
    %a.button.btn-block{:href => "./event-manage-enrollments.html"} Manage enrollments
  - else
    %a.button.btn-block{:href => "./event-view-enrollments.html"} View enrollments