.block#block-enrollments
  %i.block-icon.icon-users.icon-bg-event
  %h2.block-title{"data-amtitle" => "Enrollments"} Enrollments
  .content
    .members
      - 15.times do |num|
        - if num  > 1
          %a.member-item{:href => "./profile.html"}
            %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member#{num}.jpg"}/
            %noscript
              %img{:alt => "Name of user", :src => "/photos/75/member#{num}.jpg"}/
    %p 15 persons are going

  - if current_page.data.organiser == "organiser"
    %a.button{:href => "./event-manage-enrollments.html"} Manage enrollments
  - else
    %a.button{:href => "./event-view-enrollments.html"} View enrollments