.block.hidden-mobile
  %i.block-icon.icon-search.icon-bg-action
  %h2.block-title Find more friends
  .content
    %p Check the members overview to find more friends.
    %p
      %a.button.btn-primary{:href => "#"} Find more friends
