#block-group-members.block
  - if current_page.data.organiser == "organiser"
    .action-bar
      .action-bar-item.edit-content
        %a.button{:href => "./group-manage-members.html", :title => "Click to edit info"} Edit
  %i.block-icon.icon-bg-group.icon-users
  %h2.block-title{"data-amtitle" => "Members"}
    Members of Beat(s Against) Coal
  .content
    .members
      - 4.times do |num|
        %a{:href => "#"}
          %img{:alt => "Name of user", :src => "/photos/75/people1.jpg"}
        %a{:href => "#"}
          %img{:alt => "Name of user", :src => "/photos/75/people2.jpg"}
        %a{:href => "#"}
          %img{:alt => "Name of user", :src => "/photos/75/people3.jpg"}
        %a{:href => "#"}
          %img{:alt => "Name of user", :src => "/photos/75/people4.jpg"}
        %a{:href => "#"}
          %img{:alt => "Name of user", :src => "/photos/75/people5.jpg"}
      %a{:href => "#"}
        %img{:alt => "Name of user", :src => "/photos/75/people1.jpg"}
    %a.button.load-more-btn.modal-inline{:href => "#block-group-members-all"} View all group members
