.views-exposed-widget
  %label.form-label Status
  .views-widget
    .form-item.form-type-select
      %select.form-select{:href => "#", :title => "Click to show options"}
        %option{:value => "#"} Active
        %option{:value => "#"} Blocked
        %option{:value => "#"} Pending request

.views-exposed-widget
  %label.form-label Name
  .views-widget
    .form-item
      %input.form-text{:type => "text", :value => ""}

