#block-friends.block
  .action-bar
    .action-bar-item.add-content
      %a.button{:href => "./profile-manage-friends.html", :title => "Manage friends"} Manage friends

  %i.block-icon.icon-bg-user.icon-users
  %h2.block-title{"data-amtitle" => "My friends"} My friends
  .content
    %p You do not have any friends yet. Click on the "Manage friends" button to add new friends.
