#block-friends.block
  .action-bar
    .action-bar-item.add-content
      - if current_page.data.access == "mine"
        %a.button{:href => "./profile-manage-friends.html", :title => "Manage friends"} Manage friends
      - else
        %a.button{:href => "#", :title => "Send friend request"} Send friend request

  %i.block-icon.icon-bg-user.icon-users
  %h2.block-title
    - if current_page.data.access == "mine"
      My friends
    - else
      Friends
  .content
    .members
      %a{:href => "#"}
        %img.lazyload{:alt => "Name of user", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/75/member1.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member1.jpg"}/

      %a{:href => "#"}
        %img.lazyload{:alt => "Name of user", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/75/member5.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member5.jpg"}/

      %a{:href => "#"}
        %img.lazyload{:alt => "Name of user", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/75/member11.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member11.jpg"}/

      %a{:href => "#"}
        %img.lazyload{:alt => "Name of user", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/75/member15.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member15.jpg"}/
