.block.hidden-mobile
  %i.block-icon.icon-photo.icon-bg-news-media
  %h2.block-title Photo
  .content
    %a{:href => "./photo-album.html"}
      %img.lazyload{:alt => "Example of an image", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-src" => "/photos/nature4.jpg"}
      / noscript pattern
      %noscript
        %img{:src => "/photos/nature4.jpg"}/
    %a.button{:href => "./photos.html"} More photos
