.block.hidden-mobile
  %i.block-icon.icon-photo.icon-bg-news-media
  %h2.block-title Photo
  .content
    %a{:href => "./photo-album.html"}
      %img{:alt => "Example of an image", :src => "/photos/blank.png", "data-src" => "/photos/nature4.jpg"}
    %a.button{:href => "./photos.html"} More photos
