.avatar-holder
  %a{:href => "#", :title => "View user profile"}
    %picture
      %img{:alt => "User's name.", :src => "http://placeimg.com/60/60/people/1", :srcset => "http://placeimg.com/120/120/people/3 2x"}/
