.block#block-subscribe
  %i.block-icon.icon-bg-action.icon-eye
  %h2.block-title
    Updates
  .content
    %p
      If you follow {this content title} you will receive notifications when something changes or is added. You can choose how frequently you receive notifications in your
      = succeed "." do
        %a{:href => "#"} profile settings
    %a.button{:href => "#"} Follow
