.block#block-subscribe
  %i.block-icon.icon-bg-action.icon-eye
  %h2.block-title{"data-amtitle" => "Subscribe"}
    Subscribe
  .content
    %p
      If you follow
      %em #{current_page.data.title}
      you will receive notifications when something changes or is added. You can choose how frequently you receive notifications in your
      = succeed "." do
        %a{:href => "./edit-user-account.html"} account settings
    - if current_page.data.subscribed
      %a.button.active#subscribe-toggle{:href => "#", "data-toggled-text" => "Follow"} Unfollow
    - else
      %a.button#subscribe-toggle{:href => "#", "data-toggled-text" => "Unfollow"} Follow
