#block-user-events.block.lazyload{"data-expand" => "-40"}
  %i.block-icon.icon-bg-user.icon-event
  - if current_page.data.access == "mine"
    %h2.block-title My events
  - else
    %h2.block-title Events

  .content

    .tabwrapper.tabable-wrapper
      %ul.tabs
        %li
          =nav_link 'Upcoming events', '#upcoming-events', :class => 'tab'
        %li
          =nav_link 'Past events', '#past-events', :class => 'tab'

    .tabable
      #upcoming-events.tabable-block.active

        %article.node-type-small
          %h2
            - if current_page.data.access == "mine"
              %a{:href => "./event-full-organiser.html"} Are you interested in an Act for Arctic training or webinar?
            - else
              %a{:href => "./event-full.html"} Are you interested in an Act for Arctic training or webinar?

          .field.field-field-event-date
            .date-display-single 20 july, 2014 - 09:00
        %article.node-type-small
          %h2
            - if current_page.data.access == "mine"
              %a{:href => "./event-full-organiser.html"} Act for Arctic Kick-Off training
            - else
              %a{:href => "./event-full.html"} Act for Arctic Kick-Off training
          .field.field-field-event-date
            .date-display-single 24 july, 2014 - 18:00
        %article.node-type-small
          %h2.node-title
            - if current_page.data.access == "mine"
              %a{:href => "./event-full-organiser.html"} Help to clean up the North Sea
            - else
              %a{:href => "./event-full.html"} Help to clean up the North Sea
          .field.field-field-event-date
            .date-display-single 1 august, 2014 - 00:00
        %article.node-type-small
          %h2
            - if current_page.data.access == "mine"
              %a{:href => "./event-full-organiser.html"} Meet up Headquarters
            - else
              %a{:href => "./event-full.html"} Meet up Headquarters
          .field.field-field-event-date
            .date-display-single 28 augustus, 2014 - 17:00
        %article.node-type-small
          %h2
            - if current_page.data.access == "mine"
              %a{:href => "./event-full-organiser.html"} Lowlands festival forest campaign
            - else
              %a{:href => "./event-full.html"} Lowlands festival forest campaign
          .field.field-field-event-date
            .date-display-single 20 July, 2014 - 12:09

        %a.button{:href => "./events.html"} load more

      #past-events.tabable-block

        %article.node-type-small
          %h2
            %a{:href => "./event-full.html"}
              = lorem.paragraph
          .field.field-field-event-date
            .date-display-single 20 juli, 2014 - 09:00
        %article.node-type-small
          %h2
            %a{:href => "./event-full.html"}
              = lorem.paragraph
          .field.field-field-event-date
            .date-display-single 24 juli, 2014 - 18:00
        %article.node-type-small
          %h2
            %a{:href => "./event-full.html"}
              = lorem.paragraph
          .field.field-field-event-date
            .date-display-single 1 augustus, 2014 - 00:00
        %article.node-type-small
          %h2
            %a{:href => "./event-full.html"}
              = lorem.paragraph
          .field.field-field-event-date
            .date-display-single 28 augustus, 2014 - 17:00

        %a.button{:href => "./events.html"} load more
