#block-user-activity.block.lazyload{"data-expand" => "-40"}
  %i.block-icon.icon-bg-user.icon-clock
  %h2.block-title Activity log
  .content
    .view-ggw-user-activity
      .view-content
        .views-row
          .views-field.views-field-timestamp
            Today
          .views-field.views-field-rendered-entity
            %p
              %a{:href => "#"} Grace O'Flynn
              joined
              %a{:href => "#"} Greenpeace Greenwire United Kingdom
