#block-user-account.block
  %i.block-icon.icon-bg-user.icon-settings
  %h2.block-title Account settings
  .content
    %p To change your username, e-mail, password, privacy settings, language and notifications click the button below.
    %a.button{:href => "./edit-user-account.html"} Edit account settings
