#block-user-groups.block.lazyload{"data-expand" => "-40"}
  %i.block-icon.icon-bg-user.icon-users
  %h2.block-title{"data-amtitle" => "My groups"} My groups
  .content
    .views-row
      %article.node-type-small
        %h2.node-title
          %a{:href => "./group-home.html"}
            Greenpeace Greenwire United Kingdom
        .field.field-created
          .field-label Joined
          .field-item today
    :markdown
        There are many interesting groups on Greenwire. Find groups you might want to join [here](./search-groups.html).
