#block-user-activity.block.lazyload{"data-expand" => "-40"}
  %i.block-icon.icon-bg-user.icon-clock
  %h2.block-title Activity log
  .content
    .view-ggw-user-activity
      .view-content
        .views-row
          .views-field.views-field-timestamp
            16 August 2014
          .views-field.views-field-rendered-entity
            %p
              %a{:href => "#"} Grace O'Flynn
              created
              %a{:href => "#"} Kom wachtlopen aan boord van de Arctic Sunrise
        .views-row
          .views-field.views-field-timestamp
            14 July 2014
          .views-field.views-field-rendered-entity
            %p
              %a{:href => "#"} Grace O'Flynn
              created
              %a{:href => "#"} Windenergy
        .views-row
          .views-field.views-field-timestamp
            1 May 2014
          .views-field.views-field-rendered-entity
            %p
              %a{:href => "#"} Grace O'Flynn
              went to
              %a{:href => "#"} Debating on solar energy solutions
            %p
              %a{:href => "#"} Grace O'Flynn
              replied on
              %a{:href => "#"} Forests in Europe
        .views-row
          .views-field.views-field-timestamp
            29 April 2014
          .views-field.views-field-rendered-entity
            %p
              %a{:href => "#"} Grace O'Flynn
              replied on
              %a{:href => "#"} Why bother?

    %a.button{:href => "#"} load more
