.block {
  position: relative;

  @include breakpoint($desk) {
    @include block-rich;
  }

  .content {
    margin-top: $def-mar + 10px;
    position: relative;
  }

}

.block-icon {
  position: absolute;
  top: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  color: $white;
  @include font-size($h2);

  .mfp-content & {
    border-radius: 4px 0;
    left: 0;
  }

  @include breakpoint($desk) {
    border-radius: 4px 0;
    left: 0;
  }

}

.block-title {
  color: $heading;
  @include font-size($h4);
  margin-left: 45px;
  line-height: 1.1em; // must be able to span multiple lines
  padding-top: 10px;

  .mfp-content & {
    margin-left: 30px;
  }

  @include breakpoint($desk) {
    margin-left: 30px;
  }
}

.block-no-icon .block-title {
  margin-left: 0;
}


.members {
  @extend %cf;
}

.member-item {
  float:left;
  margin: 0 $def-mar-half $def-mar-half 0;

  @include breakpoint($wide) {
    margin-right: 6px;
  }

  img {
    width: 64px;
    height: 64px;
  }

}
