/*


@charset "utf-8";
/* CSS Document */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-width: 980px;
	background-color:#fff;
	font-family:Arial, Verdana, "Sans Serif";
}
#headerbg {
	background: url(images/header-usa.png) 50% 0 no-repeat #66cc00;
	height:87px;
	z-index:999;
}
#header1 {
	height: 87px;
	margin: 0 auto;
	color: #fff;
}
#header1 a {
	text-decoration:none;
}

p {
	margin: 0 0 20px 0;
}

p, ul {
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
	line-height:16pt;
}

img {
	border: 0;
}

h1 {
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h2 {
	font-size-adjust:0.531;
	color:#333;
	font-weight:700;
	font-style:normal;
	text-transform:uppercase;
	padding: 0 0 0 50px;
}

h3 {
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
	padding-top:20px;
}

.float-left,
.float-right {
	position: relative;
	width: 50%;
	min-width: 450px;
}

.float-left {
	float: left;
	margin: 140px 0 0 20px;
}

.float-right {
	float: right;
	margin: 140px 20px 0 0;
}

.video-left {
	margin: 220px 0 0 5%;
	position: absolute;
}

.center {
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#nav {
	list-style: none;
	position: fixed;
	z-index: 1000;
	right: 20px;
	top:140px;
}

#nav li {
	margin: 0 0 15px 0;
}

.story {
	height: 800px;
	padding: 0;
	width: 100%;
	max-width: 1920px;
	position: relative;
	margin: 0 auto;
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	overflow: hidden;
}


#intro, #leaflet-map, #pictures, #fourth {
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-attachment: fixed;
}

#intro {
	background-image:url(images/greenwire_section_1_bg.jpg);
}

#leaflet-map {
	z-index: 1;
}

#pictures {
	background-image: url(http://www.greenpeace.org/international/Global/international/code/2013/PoisoningParadise/images/indonesia_section_0_bg.jpg);
}

#fourth {
	background-image: url(images/greenwire_section_4_bg.jpg);
}

.slide {
	width: 80%;
	min-width: 980px;
	margin: 0 auto;
	position: relative;
	z-index: 11;
}


#pictures ul {
	list-style-type:none;
	padding:0;
	margin:0;
	position: absolute;
}

#pictures li {
	float:left;
	width: 100px;
	height: 100px;
	display: block;
}

#pictures li img {
	padding: 0;
	margin: 0;
	width: 100px;
	height: 100px;
	display: block;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

#pictures li:after {
	display: block;
	content:"";
	width: 100px;
	height: 100px;
	margin-top:-100px;
	position: absolute;
	background: rgba(0,0,0,0.5);
	z-index: 10;
}

#pictures li:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-webkit-transform: scale(1.1);
	-o-webkit-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	z-index: 29;
}

#pictures li:hover:after {
	background: none;
}

.backround {
	background-repeat:no-repeat;
	background-color:#FFF;
	background-clip: padding-box;
	padding:0 25px;
	-webkit-border-radius: 6px;
					border-radius:6px;
	-webkit-box-shadow: 0 1px 3px 0 #999999;
					box-shadow: 0 1px 3px 0 #999999;
	overflow:hidden;
	position: relative;
	z-index: 30;
}

.backround:before {
	display:block;
	content:"";
	width: 56px;
	height: 56px;
	position: absolute;
	left: 0;
	top:0;
	-webkit-border-radius: 0 0 6px 0;
          border-radius: 0 0 6px 0;
}

.bggroups:before {
	background: #66cc00;
}

.bgevents:before {
	background: #0069AA;

}
.bgmembers:before {
	background: #FFCE00;
}

.bgprofile:before {
	background: #FF7704
}

#footer {
	background: #66cc00;
	color:#fff;
	height: 50px;
	margin: 0 auto;
	padding: 17px 0 0 0;
}

.links {
	margin: 0 auto;
	min-width: 890px;
	overflow: auto;
	width: 890px;
}

.links p {
	margin: 0;
}

a.read-more,
.leaflet-container a.read-more {
	text-align:right;
	color: #559F0C;
	text-decoration:none;
}

a.read-more:hover {
	color: #46820A;
	text-decoration:none;
}

.read-more img {
	padding-right:7px;
	position:relative;
	top:1px;
	width: 21px;
}

.links a {
	color:#FFFFFF;
	padding-right:30px;
	text-decoration:none;
	font-size:10pt;
}

a.button {
	-webkit-appearance:none
}

a.button, input[type="submit"], ul.pager-load-more li a, .privatemessage-message a, .privatemessage-back, a#edit-cancel {
	position:relative;
	display:inline-block;
*display:inline;
*zoom:1;
	padding:.3125em .625em;
	margin-bottom:0;
	font-size:13px;
	outline:0;
	text-decoration:none;
	text-align:center;
	vertical-align:baseline;
	line-height:17px;
	cursor:pointer;
	color:#333;
	text-shadow:0 1px 0 rgba(255,255,255,0.8);
	background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top, #fafafa, #ededed);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ededed));
	background-image:-webkit-linear-gradient(top, #fafafa, #ededed);
	background-image:-o-linear-gradient(top, #fafafa, #ededed);
	background-image:linear-gradient(to bottom, #fafafa, #ededed);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff$bgcolor1', endColorstr='#ff$bgcolor2', GradientType=0);
*background-color:#e0e0e0;
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border:1px solid #ccc;
	-webkit-border-radius:.25em;
	-moz-border-radius:.25em;
	border-radius:.25em;
*margin-left:.3em;
	color:#333
}

a.button:first-of-type, input[type="submit"]:first-of-type, ul.pager-load-more li a:first-of-type, .privatemessage-message a:first-of-type, .privatemessage-back:first-of-type, a#edit-cancel:first-of-type {
	margin-left:0px !important
}

a.button:hover, a.button:focus, input[type="submit"]:hover, input[type="submit"]:focus, ul.pager-load-more li a:hover, ul.pager-load-more li a:focus, .privatemessage-message a:hover, .privatemessage-message a:focus, .privatemessage-back:hover, .privatemessage-back:focus, a#edit-cancel:hover, a#edit-cancel:focus {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 2px 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 2px 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 2px 0;
*border-color:#b3b3b3;
	text-decoration:none
}

a.button:active, input[type="submit"]:active, ul.pager-load-more li a:active, .privatemessage-message a:active, .privatemessage-back:active, a#edit-cancel:active {
	top:1px
}

a.button.orange, input[type="submit"].orange, ul.pager-load-more li a.orange, .privatemessage-message a.orange, .privatemessage-back.orange, a#edit-cancel.orange {
	position:relative;
	display:inline-block;
*display:inline;
*zoom:1;
	padding:.3125em .625em;
	margin-bottom:0;
	font-size:13px;
	outline:0;
	text-decoration:none;
	text-align:center;
	vertical-align:baseline;
	line-height:17px;
	cursor:pointer;
	color:#fff;
	text-shadow:0 0 2px #9a9a9a;
	background-color:#f99713;
	background-image:-moz-linear-gradient(top, #f99713, #e56b2b);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f99713), to(#e56b2b));
	background-image:-webkit-linear-gradient(top, #f99713, #e56b2b);
	background-image:-o-linear-gradient(top, #f99713, #e56b2b);
	background-image:linear-gradient(to bottom, #f99713, #e56b2b);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff$bgcolor1', endColorstr='#ff$bgcolor2', GradientType=0);
*background-color:#dc5d1b;
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border:1px solid #d66228;
	-webkit-border-radius:.25em;
	-moz-border-radius:.25em;
	border-radius:.25em;
*margin-left:.3em;
	background-color:#ef811f;
	text-shadow:0 0 2px #9a9a9a;
	padding:11px 19px;
	font-size:15.5px;
	-webkit-border-radius:.35em;
	-moz-border-radius:.35em;
	border-radius:.35em
}

a.button.orange:hover, a.button.orange:focus, input[type="submit"].orange:hover, input[type="submit"].orange:focus, ul.pager-load-more li a.orange:hover, ul.pager-load-more li a.orange:focus, .privatemessage-message a.orange:hover, .privatemessage-message a.orange:focus, .privatemessage-back.orange:hover, .privatemessage-back.orange:focus, a#edit-cancel.orange:hover, a#edit-cancel.orange:focus {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 2px 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 2px 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 2px 0
}

a.button[disabled], input[type="submit"][disabled], ul.pager-load-more li a[disabled], .privatemessage-message a[disabled], .privatemessage-back[disabled], a#edit-cancel[disabled] {
	cursor:default;
	color:#888;
	background:#FFF
}

a.button[disabled]:hover, input[type="submit"][disabled]:hover, ul.pager-load-more li a[disabled]:hover, .privatemessage-message a[disabled]:hover, .privatemessage-back[disabled]:hover, a#edit-cancel[disabled]:hover {
	-webkit-box-shadow:0 0 0;
	-moz-box-shadow:0 0 0;
	box-shadow:0 0 0;
	top:0;
	border:1px solid #CCC
}

a.button.float-left, input[type="submit"].float-left, ul.pager-load-more li a.float-left, .privatemessage-message a.float-left, .privatemessage-back.float-left, a#edit-cancel.float-left {
	float:left;
	margin-right:15px !important
}

@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?40880393');
  src: url('font/fontello.eot?40880393#iefix') format('embedded-opentype'),
       url('font/fontello.woff?40880393') format('woff'),
       url('font/fontello.ttf?40880393') format('truetype'),
       url('font/fontello.svg?40880393#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?40880393#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  margin-left: .4em;
  color: #fff;
  z-index: 11;
  position: absolute;
  left: 0;
  margin-top:.3em;
  font-size: 2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-user:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-user-add:before { content: '\e80e'; } /* '' */
.icon-calendar:before { content: '\e823'; } /* '' */
