---
title: Color Palette
body_class: page-colors
layout: styleguide
design_status: Needs review
---

%aside.sidebar-left
  = partial :"nav/designelements"

#content.l-main-column

  %section.block
    %i.block-icon.icon-info.icon-bg-default
    %h2.block-title Greenwire colors
    %p These are the colours outside of the primary palettes that are used within the sass.

  %section.cardbox
    - data.colors.colors.each do |color, index|
      .cardholder
        .card
          .color{:style => "background: #{color.hex}"}=color.hex
          %h3=color.name
