---
title: Typography
body_class: page-typography
layout: styleguide
---

%aside.sidebar-left
  = partial :"nav/designelements"

#content.l-main-column

  %section.block
    %i.block-icon.icon-info.icon-bg-default
    %h2.block-title Greenwire typography
    %p

  %section.block.block-no-icon
    %h2.block-title Paragraph
    %p Paragraphs inside an article element get extra margin, otherwise the style is inherit from the body

    .codedemo
      %article
        %p
          :erb
            <%= lorem.sentences 10 %>
        %p
          :erb
            <%= lorem.sentences 5 %>
        %p
          :erb
            <%= lorem.sentences 15 %>
    #example
      :code
        # lang: html
          <article>
            <p> Nullam ultricies tellus eget pretium faucibus.
            Vestibulum in tellus non urna consequat pharetra ut eget purus.</p>
          </article>

  %section.block.block-no-icon
    %h2.block-title Lists
    :markdown
      By default lists are unstyled. This is because there are many other components who use this markup and need  to display like something else. To get a proper list styling make sure it is placed in a `<article></article>` tag.

    .codedemo
      %article
        %ul
          %li unordered list item one
          %li unordered list item two
          %li unordered list item three
          %li unordered list item four
          %li unordered list item five
        %ol
          %li ordered list item one
          %li ordered list item two
          %li ordered list item three
          %li ordered list item four
          %li ordered list item five


