---
title: Register step 1/4
body_class: page-register not-logged-in l-has-sidebar
user_role: an
---

= partial :"blocks/breadcrumbs"

.l-main-column
  #content.block.current.signup-block
    %i.block-icon.icon-bg-user.icon-user-add
    %h1.block-title
      Create your account (Step 1 of 4)

    .content

      %form{:action => "../an/register-step2.html", :method => "get"}

        .signup-wrapper

          %a.button.btn-l.btn-block.btn-social-fb{:href => "../an/register-step2.html"}
            %i.icon.icon-facebook
            Sign up with Facebook

          %a.button.btn-l.btn-block.btn-social-gp{:href => "../an/register-step2.html"}
            %i.icon.icon-gplus
            Sign up with Google+

        .signup-or-separator
          %label or sign up with your e-mail
          %hr

        .signup-wrapper

          .form-wrapper

            .form-item
              %input{:type => "text", :class => "username form-text", "max-length" => "60", " placeholder" => "Username"}
              %i.icon-user

            .form-item
              %input{:type => "text", :class => "form-text", ":max-length" => "60", "placeholder" =>  "email"}
              %i.icon-mail

          .form-actions.form-wrapper

            .form-item
              %input{:type => "submit", :class => "button btn-primary btn-l btn-block", :value => " Sign up"}


            %p
              Already a member?
              %a{:href => "./login.html"} Log in


%aside.l-sidebar.sidebar
  = partial :"blocks/an/save_planet1"
