/*
 Styleguide 1.

 Blocks

 Blocks to wrap content


 Styleguide 1.1

 Default block

 Markup:
 <div class="block">
   <i class="block-icon icon-news"></i>
   <h2 class="block-title"> This is the block title</h2>

   <div class="content">
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, consectetur.</p>
   </div>
 </div>
*/

.block {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 $grey1;
  padding: $def-margin;
}

.block-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  border-radius: 4px 0;
  color: $white;
  display: block;
  font-size: $h1;
  line-height: 37px;
  text-align: center;
  text-transform: none;
}
