@font-face {
  font-family: 'icon';
  src: url('../font/greenwire-v01.eot?26487031');
  src: url('../font/greenwire-v01.eot?26487031#iefix') format('embedded-opentype'),
       url('../font/greenwire-v01.woff?26487031') format('woff'),
       url('../font/greenwire-v01.ttf?26487031') format('truetype'),
       url('../font/greenwire-v01.svg?26487031#greenwire-10') format('svg');
  font-weight: normal;
  font-style: normal;
}
