h1, h2, h3, h4 ,h5 ,h6 {
  margin: 0;
  line-height: 1.2em;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}

.block-title {
  text-transform: uppercase;
  color: $heading;
  font-size: $h2;
}
