.block {
  @extend %block-element;
}

.block-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px 0;
  color: $white;
  @include font-size($h2);
}

.main-content,
.block-with-icon {

  .block-title,
  .title-prefix {
    margin-left: 30px;
    line-height: 1.3em;
  }

}
