.block-icon {
  position: absolute;
  left: 15px;
  top: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  color: $white;
  @include font-size($h2);

  @include breakpoint($tab) {
    border-radius: 4px 0;
    left: 0;
  }

}

.main-content,
.block-with-icon {

  .block-title,
  .title-prefix {
    margin-left: 45px;
    line-height: 1.4em;

    @include breakpoint($tab) {
      margin-left: 30px;
    }
  }

}
