.block {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 $grey1;
  padding: $def-mar;
  position: relative;
}

.block-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  border-radius: 4px 0;
  color: $white;
  display: block;
  font-size: $h1;
  line-height: 37px;
  text-align: center;
  text-transform: none;
}

.block-with-icon .block-title {
  margin-left:30px;
}
