.country-selector {

  .form-item {
    margin:0;
  }

  .selector {
    color: $base;
    padding: 1em 1em 1em 3em;
    font-weight: 700;
    border: none;
    border-top: 1px solid #CCCCCC;
    border-radius: 0;
    background: none;
    display: block;
    max-width: 100%;

    &:after {
      width: 0;
      height: 0;
      border: .5em solid transparent; /* 5 */
      border-bottom: none;
      border-top-color: $base;
      content: '';
      position: absolute;
      display: inline-block;
      top: 1.5em;
      right: 2em;
      padding:0;
    }

    &:before {
      @extend %load-icon;
      @extend %icon-globe;
      position: absolute;
      left:.5em;
      right: auto;
      top: .9em;
      @include font-size(16px);
    }

    select {
      padding: 0;
    }
  }

}

.country-img {
  @extend %element-hidden;
}

.l-header {
  @include breakpoint($desk) {

    .country-selector {

      .chosen-single {
        border: none;
        font-weight: 300;
        background: url("../images/langmap.png") no-repeat scroll 96% 4px;
        padding: 4px 100px 2px 10px;
        box-shadow: none;
        border-radius: 5px 5px 0 0;
        width: auto;
        position: relative;
        height: auto;

        span {
          color: #FFFFFF;
          @include font-size($h4);
          margin:0;
          display: inline-block;
          overflow: visible;
        }

        div {
          @include element-hidden;
        }

      }

      .chosen-with-drop .chosen-single {
        background-color: $white;
        background-position: 96% -40px;

         span {
          color: $green2;
         }
      }

      .chosen-drop {
        border: none;
        padding: 6px 0 4px;
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
      }

      .chosen-results {
        margin:0;
        padding:0;
      }

      .active-result {
        font-weight: 300;
        @include font-size(13px);
        color: $base;
        padding: 3px 10px;
        line-height: 1.2em;
      }

      .highlighted {
        color: $white;
        background: $grey-d;
      }

      .selector {
        padding:0;
        border: none;

        &:before,
        &:after {
          @include element-hidden;
        }
      }




    }

    .country-img {
      display: inline-block;
    }

    .country-selector .dropdown-controller {
      height: 24px;
      font-size: 1.15em;
    }
    .country-selector .dropdown-controller a {
      height: 100%;
      position: relative;
      color: $white;
      padding: 4px 0 0 5px;
    }
    .country-selector .dropdown-controller a .country-img,
    .country-selector .dropdown-controller a:hover .country-img {
      background: $green1 url(https://secured.greenpeace.org/international/Global/international/code/p3/img/image-map.png) left -42px no-repeat;
      position: absolute;
      right: 0;
      width: 51px;
      height: 18px;
      text-indent: -50000px;
      line-height: 0;
      color: transparent;
      cursor: pointer;
    }
    .country-selector .dropdown-controller a.dropdown-open,
    .country-selector .dropdown-controller a.dropdown-open:hover {
      background-color: $white;
      color: $base;
      display: block;
      text-decoration: none;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .country-selector .dropdown-controller a.dropdown-open .country-img,
    .country-selector .dropdown-controller a.dropdown-open:hover .country-img {
      background: $white url(https://secured.greenpeace.org/international/Global/international/code/p3/img/image-map.png) -2px -64px no-repeat;
    }
    .country-selector .dropdown {
      position: absolute;
      z-index: 999;
    }
    .country-selector .dropdown .dropdown-list {
      width: 165px;
      margin-top: 0.1429em;
      font-size:0.9em;
      max-height: 350px;
      overflow: auto;
      list-style: none;
      background: $white;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      padding-top: 4px;
      margin: 0;
    }
    .country-selector .dropdown .dropdown-list a {
      color: $base;
      padding: 1px 5px;
      display: block;
      &:hover {
        color: $white;
        background: $base;
      }
    }
  }
}
