.country-selector {
  display: none;
  visibility: hidden;
}

.l-header {
  @include breakpoint($desk) {

    .country-selector {
      float: left;
      width: 165px;
      display: block;
      visibility: visible;
    }
    .country-selector .dropdown-controller {
      height: 24px;
      font-size: 1.15em;
    }
    .country-selector .dropdown-controller a,
    .country-selector .dropdown-controller a:hover {
      height: 100%;
      display: block;
      position: relative;
      color: $white;
      text-decoration: none;
      padding-left: 5px;
      padding-top: 4px;
    }
    .country-selector .dropdown-controller a .country-img,
    .country-selector .dropdown-controller a:hover .country-img {
      background: $green1 url(https://secured.greenpeace.org/international/Global/international/code/p3/img/image-map.png) left -42px no-repeat;
      position: absolute;
      right: 0;
      width: 51px;
      height: 18px;
      text-indent: -50000px;
      line-height: 0;
      color: transparent;
      cursor: pointer;
    }
    .country-selector .dropdown-controller a.dropdown-open,
    .country-selector .dropdown-controller a.dropdown-open:hover {
      background-color: $white;
      color: $base;
      display: block;
      text-decoration: none;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .country-selector .dropdown-controller a.dropdown-open .country-img,
    .country-selector .dropdown-controller a.dropdown-open:hover .country-img {
      background: $white url(https://secured.greenpeace.org/international/Global/international/code/p3/img/image-map.png) -2px -64px no-repeat;
    }
    .country-selector .dropdown {
      position: absolute;
      z-index: 999;
    }
    .country-selector .dropdown .dropdown-list {
      width: 165px;      
      margin-top: 0.1429em;
      font-size:0.9em;
      max-height: 350px;
      overflow: auto;
      list-style: none;
      background: $white;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      padding-top: 4px;
      margin: 0;
    }
    .country-selector .dropdown .dropdown-list a {
      color: $base;
      padding: 1px 5px;
      display: block;
      &:hover {
        color: $white;
        background: $base;
      }
    }
  }
}
