.language-switcher {

  .form-item {
    @extend %mnul;
  }

  label {
    display: none;
  }

  .selector {
    color: $base;
    padding: 1em 1em 1em 3em;
    font-weight: 700;
    border: none;
    border-top: 1px solid #CCCCCC;
    border-radius: 0;
    background: none;
    display: block;
    max-width: 100%;

    &:after {
      width: 0;
      height: 0;
      border: .5em solid transparent; /* 5 */
      border-bottom: none;
      border-top-color: $base;
      content: '';
      position: absolute;
      display: inline-block;
      top: 1.5em;
      right: 2em;
      padding:0;
    }

    &:before {
      @extend %element-hidden;
    }

    select {
      padding: 0;
    }
  }

}

.l-header {
  @include breakpoint($desk) {

    .language-switcher {

      .form-item {
        float: right;
      }

      label {
        position: absolute;
        right: 90px;
        top: 2px;
        font-weight: 300;
        color: $white;
        @include font-size(13px);
        display: inline-block;
        margin-right: .5em;

        &:after {
          content: ":";
          right: -.3em;
          top: 0;
          position: absolute;
        }
      }

      .chosen-single {
        border: none;
        font-weight: 300;
        box-shadow: none;
        border-radius: 5px 5px 0 0;
        width: auto;
        position: relative;
        padding:0;
        height: auto;
        background: none;

        span {
          color: $white;
          @include font-size(13px);
          margin:0;
          display: inline-block;
          overflow: visible;
        }

        div {
          @include element-hidden;
        }

      }

      .chosen-with-drop .chosen-single {
        background-color: $white;
        background-position: 96% -40px;

         span {
          color: $green2;
         }
      }

      .chosen-drop {
        border: none;
        padding: 6px 0 4px;
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
      }

      .chosen-results {
        margin:0;
        padding:0;
      }

      .active-result {
        font-weight: 300;
        @include font-size(13px);
        color: $base;
        padding: 3px 0;
        line-height: 1.2em;
      }

      .highlighted {
        color: $white;
        background: $grey-d;
      }

      .selector {
        padding:0;
        border: none;
        float: right;

        &:after {
          border-top-color: $white;
          top: .9em;
          right:0;
          border-width: .3em;

        }
      }

    }

  }
}
