.language-switcher {

  .form-item {
    @extend %mnul;
    position: relative;
    height: 57px;
  }

  label {
    position: relative;
    display: block;
    padding: 1em;
    border-top: 1px solid #CCCCCC;

    &:after {
      width: 0;
      height: 0;
      border: .5em solid transparent; /* 5 */
      border-bottom: none;
      border-top-color: $base;
      content: '';
      position: absolute;
      display: inline-block;
      top: 1.5em;
      right: 2em;
      padding:0;
    }
  }

  .selector {
    opacity: 0;
    top:0;
    padding: 1em;
    //transform: translate3d(0px, -100%, 0px);

    &:before {
      @extend %element-hidden;
    }

    select {
      padding: 0;
    }
  }

}

.l-header {
  @include breakpoint($desk) {

    .language-switcher {

      label {
        right: 0;
        top: 2em;
        position: relative;
        background: $green1;
        padding: 0 1.2em 0 0;
        font-weight: 300;
        color: $white;
        width: auto;
        border: none;
        word-break: keep-all;
        z-index: 4;
        @include font-size(13px);
        display: block;

        &:after {
          width: 0;
          height: 0;
          border: .4em solid transparent; /* 5 */
          border-bottom: none;
          border-top-color: $white;
          content: '';
          display: inline-block;
          right: 0;
          top: .8em;
          position: absolute;
        }
      }

      .chosen-single {
        border: none;
        font-weight: 300;
        box-shadow: none;
        border-radius: 5px 5px 0 0;
        width: auto;
        position: relative;
        padding:0;
        height: auto;
        background: none;
        z-index: 5;
        opacity: 0;
        word-break: keep-all;

        span {
          color: $white;
          @include font-size(13px);
          margin:0;
          display: inline-block;
          overflow: visible;
          padding: 0 10px;
        }


      }

      .chosen-with-drop .chosen-single {
          background-color: $white;
          background-position: 96% -40px;
          opacity: 1;

          span {
            color: $grey-d;
          }
      }

      .chosen-drop {
        border: none;
        padding: 6px 0 4px;
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
        word-break: keep-all;
      }

      .chosen-results {
        margin:0;
        padding:0;
      }

      .active-result {
        font-weight: 300;
        @include font-size(13px);
        color: $base;
        padding: 3px 10px;
        line-height: 1.2em;
      }

      .highlighted {
        color: $white;
        background: $grey-d;
      }

      .selector {
        padding:0;
        position: relative;
        border: none;
        background: none;

        &:after {
          display: none;
        }
      }

    }

  }
}
