.main-menu {
  position: relative;

  .menu-link {
    color: $white;
    font-weight: bold;
    line-height: 28px;
    padding: 0 $def-mar-half;
    display: block;

    &:hover {
      background: $green1;
      color: $green3;
      border-radius: 0 0 4px 4px;
    }
  }

}


@include breakpoint($tab) {

  .mobile-nav {
    @include element-hidden;
  }

  .menu-item {
    white-space: nowrap;
    display: inline-block;
    float: left;
    padding-right: $def-mar;
  }

  .expanded .menu {
    @include element-hidden;
  }

}

