.page-register-step1 .progress-bar {
  background: none;
  color: $base;
  width: 100%;
}

.page-register .form-item {
  width: 80%;
}

.page-register .date-padding .form-item {
  display: inline-block;
  width: auto;
  margin:0;
}

