.page-register-step1 .progress-bar {
  background: none;
  color: $base;
  width: 100%;
}

// prevent input boxes from being too long
.page-register .form-text {
  max-width: 400px;
}

.page-register .form-type-checkbox {
  width: 100%;
}

.page-register .date-padding .form-item {
  display: inline-block;
  width: auto;
  margin:0;
}

// let the image in the sidebar align in the center
.page-register .sidebar .content {
  text-align: center;
}
