---
title: Documents
body_class: not-front logged-in page-documents l-has-sidebar
user_role: lu
design_status: Needs review
---

= partial :"blocks/breadcrumbs"

#content.l-main-column
  .block
    %i.block-icon.icon-bg-news-media.icon-document
    %h1#page-title.block-title
      = current_page.data.title
    .content
      - 10.times do |num|
        = partial :"teasers/document"

%aside.l-sidebar.sidebar
  = partial :"blocks/find_document"
