---
title: Friends
body_class: not-front logged-in page-profile l-has-sidebar
user_role: lu
---

= partial :"blocks/breadcrumbs"

#content.l-main-column
  .main-content
    %i.block-icon.icon-bg-user.icon-users
    %h1#page-title.block-title
      = current_page.data.title

    .content

      .view-friend-my-friends

        .view-content

          %ul.member-grid
            %li
              .field-type-image
                %a{:href => "#", :title => "View profile of Jesper Klomp"}
                  %img{:alt => "Avatar of Jesper Klomp", :src => "http://lorempixel.com/200/200/people/1"}/
              .field-type-wrapper
                .field.field-name
                  %strong Jesper Klomp
                .field.field-name-field-location
                  Amersfoort, Netherlands
            %li
              .field-type-image
                %a{:href => "#", :title => "View profile of Dora Tilman"}
                  %img{:alt => "Avatar of Dora Tilman", :src => "http://lorempixel.com/200/200/people/2"}/
              .field-type-wrapper
                .field.field-name
                  %strong Dora Tilman
                .field.field-name-field-location
                  Utrecht, Netherlands
            %li
              .field-type-image
                %a{:href => "#", :title => "View profile of Chico Konink"}
                  %img{:alt => "Avatar of Chico Konink", :src => "http://lorempixel.com/200/200/people/3"}/
              .field-type-wrapper
                .field.field-name
                  %strong Chico Konink
                .field.field-name-field-location
                  Antwerpen, Belgium
            %li
              .field-type-image
                %a{:href => "#", :title => "View profile of Suzanne Koppert"}
                  %img{:alt => "Avatar of Suzanne Koppert", :src => "http://lorempixel.com/200/200/people/4"}/
              .field-type-wrapper
                .field.field-name
                  %strong Suzanne Koppert
                .field.field-name-field-location
                  Rotterdam, Netherlands
            %li
              .field-type-image
                %a{:href => "#", :title => "View profile of Erben de Bok"}
                  %img{:alt => "Avatar of Erben de Bok", :src => "http://lorempixel.com/200/200/people/5"}/
              .field-type-wrapper
                .field.field-name
                  %strong Stefanie-camilla van de Bovenkamp
                .field.field-name-field-location
                  Amersfoort, Netherlands
            %li
              .field-type-image
                %a{:href => "#", :title => "View profile of Hans van Heerenveen"}
                  %img{:alt => "Avatar of Hans van Heerenveen", :src => "http://lorempixel.com/200/200/people/6"}/
              .field-type-wrapper
                .field.field-name
                  %strong Hans van Heerenveen has a long name
                .field.field-name-field-location
                  Groningen, Netherlands

