---
title: My friends
body_class: not-front logged-in page-profile l-has-sidebar
user_role: lu
design_status: Work in progress
---

= partial :"blocks/breadcrumbs"

#content.l-main-column
  .block
    %i.block-icon.icon-bg-user.icon-users
    %h1#page-title.block-title
      = current_page.data.title

    .content

      .view-friend-my-friends

        .view-content

          %ul.member-grid

            %li
              .field-type-image
                %a{:href => "#", :title => "View profile of Jesper Klomp"}
                  %img{:src => "http://lorempixel.com/200/200/people/1", :alt => "Avatar of Jesper Klomp"}

              .field-type-wrapper
                .field.field-name
                  %strong Jesper Klomp

                .field.field-name-field-location
                  Amersfoort, Netherlands

                .field.field-friend-status
                  .btn-group
                    %a.button.btn-s{"data-dropdown" => "#dropdown-friends-1"}
                      Wants to be friends
                      %span.caret
                    .dropdown.dropdown-scroll#dropdown-friends-1
                      %ul.dropdown-menu{:role => "menu"}
                        %li
                          %a{:href => "#"}
                            %i.icon-check
                            Approve
                        %li
                          %a{:href => "#"}
                            %i.icon-cancel
                            Decline

            %li
              .field-type-image
                %a{:href => "#", :title => "View profile of Dora Tilman"}
                  %img{:alt => "Avatar of Dora Tilman", :src => "http://lorempixel.com/200/200/people/2"}/
              .field-type-wrapper
                .field.field-name
                  %strong Dora Tilman
                .field.field-name-field-location
                  Utrecht, Netherlands
                .field.field-friend-status
                  .btn-group
                    %a.button.btn-s{"data-dropdown" => "#dropdown-friends-2"}
                      Friend
                      %span.caret
                    #dropdown-friends-2.dropdown.dropdown-scroll
                      %ul.dropdown-menu{:role => "menu"}
                        %li
                          %a{:href => "#"}
                            %i.icon-trash
                            Unfriend
            %li
              .field-type-image
                %a{:href => "#", :title => "View profile of Chico Konink"}
                  %img{:alt => "Avatar of Chico Konink", :src => "http://lorempixel.com/200/200/people/3"}/
              .field-type-wrapper
                .field.field-name
                  %strong Chico Konink
                .field.field-name-field-location
                  Antwerpen, Belgium
                .field.field-friend-status
                  .btn-group
                    %a.button.btn-s{"data-dropdown" => "#dropdown-friends-3"}
                      Friend
                      %span.caret
                    #dropdown-friends-3.dropdown.dropdown-scroll
                      %ul.dropdown-menu{:role => "menu"}
                        %li
                          %a{:href => "#"}
                            %i.icon-trash
                            Unfriend
            %li
              .field-type-image
                %a{:href => "#", :title => "View profile of Suzanne Koppert"}
                  %img{:alt => "Avatar of Suzanne Koppert", :src => "http://lorempixel.com/200/200/people/4"}/
              .field-type-wrapper
                .field.field-name
                  %strong Suzanne Koppert
                .field.field-name-field-location
                  Rotterdam, Netherlands
                .field.field-friend-status
                  .btn-group
                    %a.button.btn-s{"data-dropdown" => "#dropdown-friends-4"}
                      Friend
                      %span.caret
                    #dropdown-friends-4.dropdown.dropdown-scroll
                      %ul.dropdown-menu{:role => "menu"}
                        %li
                          %a{:href => "#"}
                            %i.icon-trash
                            Unfriend
            %li
              .field-type-image
                %a{:href => "#", :title => "View profile of Erben de Bok"}
                  %img{:alt => "Avatar of Erben de Bok", :src => "http://lorempixel.com/200/200/people/5"}/
              .field-type-wrapper
                .field.field-name
                  %strong Stefanie-camilla van de Bovenkamp
                .field.field-name-field-location
                  Amersfoort, Netherlands
                .field.field-friend-status
                  .btn-group
                    %a.button.btn-s{"data-dropdown" => "#dropdown-friends-5"}
                      Friend
                      %span.caret
                    #dropdown-friends-5.dropdown.dropdown-scroll
                      %ul.dropdown-menu{:role => "menu"}
                        %li
                          %a{:href => "#"}
                            %i.icon-trash
                            Unfriend
            %li
              .field-type-image
                %a{:href => "#", :title => "View profile of Hans van Heerenveen"}
                  %img{:alt => "Avatar of Hans van Heerenveen", :src => "http://lorempixel.com/200/200/people/6"          }/
              .field-type-wrapper
                .field.field-name
                  %strong Hans van Heerenveen has a long name
                .field.field-name-field-location
                  Groningen, Netherlands
                .field.field-friend-status
                  .btn-group
                    %a.button.btn-s{"data-dropdown" => "#dropdown-friends-6"}
                      Friend
                      %span.caret
                    #dropdown-friends-6.dropdown.dropdown-scroll
                      %ul.dropdown-menu{:role => "menu"}
                        %li
                          %a{:href => "#"}
                            %i.icon-trash
                            Unfriend



