---
title: My profile (incomplete)
body_class: not-front logged-in page-profile l-two-column
profile: home
access: mine
user_role: lu
design_status: Work in progress
action_menu:
  -
    id: "#block-user-profile"
    label: "My profile"
    icon: "user"
  -
    id: "#block-user-account"
    label: "My settings"
    icon: "settings"
  -
    id: "#block-skills"
    label: "My skills"
    icon: "skills"
  -
    id: "#block-friends"
    label: "My friends"
    icon: "users"
  -
    id: "#block-comments"
    label: "My shoutbox"
    icon: "chat"
  -
    id: "#block-user-events"
    label: "My events"
    icon: "event"
  -
    id: "#block-user-groups"
    label: "My groups"
    icon: "users"
  -
    id: "#block-user-subscriptions"
    label: "My subscriptions"
    icon: "subscription"
  -
    id: "#block-user-activity"
    label: "My activity log"
    icon: "clock"
---

= partial :"blocks/breadcrumbs"

.l-main-column
  %h1.group-heading.only-mobile
    %i.icon-user
    %span John Doe Claus
  #block-user-profile.block.current.editable
    .action-bar
      .action-bar-item.edit-content
        %a.button{:href => "./edit-user-profile.html", :title => "Edit profile"} Edit

    %i.block-icon.icon-bg-user.icon-user
    %h2.block-title
      Profile

    .content

      .field-name-user-image

      .field.field-name-user-name
        John Doe Claus
        %span.username (johnny_claus)

      .field.field-name-body
        .field-label.element-hidden About me:
        .field-item
          You haven't entered a bio yet. Click on the 'edit' button to add some information about yourself.

      .clear

      .field.field-name-field-social-media.field-inline-block
        .field-label Social media:
        .field-item
          :markdown
            You have not added any social media profiles yet.
            [Click here](./edit-user-profile.html#section-social) to add them.

      .field.field-name-field-skype.field-inline-block


      .field.field-name-field-birthday.field-inline-block
        .field-label Date of birth:
        .field-item October 25th, 1980

      .field.field-name-field-mail.field-inline-block
        .field-label Email:
        .field-item john_doe_claus@greenpeace.org

      .field.field-name-field-telephone.field-inline-block
        .field-label Phone:
        .field-item 065 983 8973

      .field.field-name-field-location.field-inline-block
        .field-label Address:
        .field-item Ottho Heldringstraat 5, Amsterdam, The Netherlands


  = partial :"blocks/lu/user-account"

  #block-skills.block
    .action-bar
      .action-bar-item.edit-content
        %a.button{:href => "./edit-user-profile.html#section-skills", :title => "Edit skills"} Edit

    %i.block-icon.icon-bg-user.icon-skills
    %h2.block-title
      Skills

    .content
      :markdown
        You have not entered any skills yet.
        [Click here](./edit-user-profile.html#section-skills) to add them.

  #block-user-events.block.lazyload{"data-expand" => "-40"}
    %i.block-icon.icon-bg-user.icon-event
    %h2.block-title My events
    .content
      :markdown
        You have haven't joined any Greenwire event yet. Find events you might want to join [here](./search-events.html).

  #block-user-groups.block.lazyload{"data-expand" => "-40"}
    %i.block-icon.icon-bg-user.icon-users
    %h2.block-title My groups
    .content
      .views-row
        %article.node-type-small
          %h2.node-title
            %a{:href => "./group-home.html"}
              Greenpeace Greenwire United Kingdom
          .field.field-created
            .field-label Joined
            .field-item today
      :markdown
        There are many interesting groups on Greenwire. Find groups you might want to join [here](./search-groups.html).

  #block-user-subscriptions.block.lazyload{"data-expand" => "-40"}
    %i.block-icon.icon-bg-user.icon-subscription
    %h2.block-title My subscriptions

    .content

      .tabwrapper
        %ul.tabs
          %li
            =nav_link 'Groups you follow', '#group-subscriptions', :class => 'tab'
          %li
            =nav_link 'Content you follow', '#content-subscriptions', :class => 'tab'

      .tabable
        #group-subscriptions.tabable-block.active
          .view-ggw-subscribe-node
            .view-content
              :markdown
                You are not following any groups yet.

        #content-subscriptions.tabable-block
          .view-ggw-subscribe-node
            .view-content
              :markdown
                You are not following any content yet.


%aside.l-sidebar.sidebar
  #block-friends.block
    .action-bar
      .action-bar-item.add-content
        %a.button{:href => "./profile-manage-friends.html", :title => "Manage friends"} Manage friends

    %i.block-icon.icon-bg-user.icon-users
    %h2.block-title My friends
    .content
      %p You do not have any friends yet. Click on the "Manage friends" button to add new friends.


  #block-comments.block.block-comments
    %i.block-icon.icon-chat.icon-bg-action
    %h2.block-title Shoutbox

    .content
      .comment-form-holder
        %form.comment-form
          .form-comment-message
            %textarea#shoutbox-comment{:cols => "50", :placeholder => "Write a shout...", :rows => "1"}
            %span#remain
            %input.form-comment-submit{:type => "submit", :value => "share"}
            %input.tooltip.form-comment-file{:accept => "image/*", "data-tip" => "Attach a photo", :type => "file"}

      %section.comments
        %p There are no shouts yet.

  #block-user-activity.block.lazyload{"data-expand" => "-40"}
    %i.block-icon.icon-bg-user.icon-clock
    %h2.block-title Activity log
    .content
      .view-ggw-user-activity
        .view-content
          .views-row
            .views-field.views-field-timestamp
              Today
            .views-field.views-field-rendered-entity
              %p
                %a{:href => "#"} John Doe Claus
                joined
                %a{:href => "#"} Greenpeace Greenwire United Kingdom
