---
title: My notifications
body_class: not-front logged-in page-profile l-has-sidebar
user_role: lu
design_status: Work in progress
---

= partial :"blocks/breadcrumbs"


#content.l-main-column
  .block
    %i.block-icon.icon-bg-user.icon-users
    %h1#page-title.block-title
      = current_page.data.title

    .content

      .view-ggw-user-activity
        .view-content
          %article.node-teaser-notification.node-teaser
            .field-type-image
              %a{:href => "#", :title => "View profile"}
                %img{:src => "http://placehold.it/60x60"}/
            .field-type-wrapper
              %p
                %a{:href => "#"} Bob Hunter
                has tagged you in a
                %a{:href => "#"} shout
                in
                %a{:href => "#"} local group amsterdam
              .submitted
                %i.icon-clock
                7 days ago
          %article.node-teaser-notification.node-teaser
            .field-type-image
              %a{:href => "#", :title => "View profile"}
                %img{:src => "http://placehold.it/60x60"}/
            .field-type-wrapper
              %p
                %a{:href => "#"} Chico Konink
                has invited you for
                %a{:href => "#"} Cleaning up the north sea
                in
                %a{:href => "#"} Greenpeace Greenwire Nederland
              .submitted
                %i.icon-clock
                2 days ago
          %article.node-teaser-notification.node-teaser
            .field-type-image
              %a{:href => "#", :title => "View profile"}
            .field-type-wrapper
              %p
                %a{:href => "#"} Bob Hunter
                has tagged you in a
                %a{:href => "#"} shout
                in
                %a{:href => "#"} local group amsterdam
              .submitted
                %i.icon-clock
                7 days ago
