.block-comments {
  margin-top: 3 * $def-mar;
  @include font-size(14px);
  line-height: 1.1em;

  &:before {
    display: block;
    content:'';
    height: 66px;
    width: 100%;
    position: absolute;
    top: -15px;
    border-top: 1px solid rgba(0,0,0,.2);
  }

  @include breakpoint($desk) {
    &:before {
      display: none;
    }
  }

}

.sort-comments {
  @extend %hlist;
  position: absolute;
  right: 15px;
  top: 12px;

  li {
    border-left: 1px solid #dbdbdb;
    margin-left: 10px;
    padding-left: 10px;

    &:first-child {
      border:none;
    }
  }

  a {
    color: $base;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    font-weight: 700;

    &:hover {
      text-decoration: none;
    }
  }
}

.comments {
  margin: $def-mar 0 $def-mar-half;
}

.comment {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: $def-mar 0;

  &:last-child {
    border-bottom: none;
  }
}

.comment-reply {
  margin-left: 45px + $def-mar-half;

  @include breakpoint($desk) {
    margin-left: 60px + $def-mar-half;
  }
}

.avatar-holder {
  float: left;
  margin-right: $def-mar-half;
  width: 45px;

  @include breakpoint($desk) {
    width: 60px;
  }
}

.comment-holder {
  overflow: hidden;
}

.comment-head,
.comment-body {
  margin-bottom: 0.3em;
}

.comment-footer {
  color: $grey-m;
  @include font-size(13px);
}

.comment-actionlink {
  color: $green5;
  @include font-size(13px);

  &:before {
    @extend %load-icon;
    @extend %icon-dot;
    margin: 0 .5em 0 .2em;
    color: $grey-m;
  }

}

.comment-form {
  position: relative;
  bottom: -10px;
  margin: 0 -15px;
  z-index: 999;
  padding: 5px;
  min-height: 44px;
  background: $white;
  @if $oldie {
    border-top: 1px solid $background;
  } @else {
    border-top: 1px solid rgba(0,0,0,.2);
  }
  background: $background;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;

  .no-flexbox & {
    @extend %cf;
  }

  @include breakpoint($tab) {
    padding: 15px 5px;
    height: auto;
  }

  @include breakpoint($desk) {
    position: relative;
    background: transparent;
  }
}

// fix the bug when firing the apple keyboard
.touch .fixfixed .comment-form {
  position: absolute;
}

.comment-form-title {
  @extend %element-hidden;

  @include breakpoint($desk) {
    display: block;
    color: $heading;
    @include font-size($h4);
    margin-left: $def-mar;
  }

}

.nfi-wrapper {
  height: 34px;
  margin: 0 $def-mar-half;

  .no-flexbox & {
    float: left;
    width: 40px;
  }

}

.nfi-button {
  padding: 0 .5em;
  width: auto;
  height: 34px;
  line-height: 34px;
  @include font-size(18px);
  color: $grey-m;
  @extend %load-icon;
  @extend %icon-camera;

  @include breakpoint($tab) {
    background: $secondary;
    background-image: linear-gradient($secondary, darken($secondary, 3%));
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid $grey-l;
  }

}

.nfi-filename {
  display: none;
}

// autogrow js gets applied on this element
.form-comment-message {
  flex: 4;

  textarea{
    resize: none;
    overflow: hidden;
    line-height: 1.1em;
    padding: .5em;
    height: 34px;
    @include font-size(16px);
    max-width: 100%;
  }

  .no-flexbox & {
    width: 75%;
    float: left;
  }
}

.form-comment-submit {
  @include debuttonize;
  padding: .3em;
  flex: 1;
  height: 34px;

  .no-flexbox & {
    float: right;
    width: 60px;
  }

  @include breakpoint($tab) {
    @include button;
    padding: 0 1.2em;
    margin-left: $def-mar-half;
  }
}
