.nav-btn {
  left: 5px;
  position: absolute;
  top: 6px;
  font-size: 2.2em;
  line-height: 34px;
  color: $white;
  min-width: 44px;
  min-height: 44px;

  &:focus,
  &:hover {
    text-decoration: none;
  }

}

.nav-btn + .nav-btn {
  left: auto;
  right: 7px;
  font-size: 1.6em;

    @include breakpoint($tab) {
    right: 15px;
  }
}

.off-canvas {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  //-webkit-overflow-scrolling: touch;
  transition: width 0.3s ease;

  @include breakpoint($desk) {
    z-index: 200;
    bottom: auto;
    overflow: visible;
    width: 100%;
  }

}

.nav-inner-wrap {
  background: $white;
  border-bottom: 1px solid $grey-l;
}


// Fallback for when css transform does not work
.js {

  #primary-nav {
    left: 0;
    z-index: 1;
  }

  #secondary-nav {
    right: 0;
    z-index: 1;
  }

  // prevent the other menu from showing
  &.primary-nav #secondary-nav,
  &.secondary-nav #primary-nav {
    display: none;
  }

  &.primary-nav .l-main,
  &.primary-nav .members-quicknav {
    left: 265px;
  }

  &.secondary-nav .l-main,
  &.secondary-nav .members-quicknav {
    right: 265px;
  }

  &.primary-nav .l-branding-header {
    left: 266px;
  }

  &.secondary-nav .l-branding-header {
    right: 266px;
  }

}


// Best performance animation, depends on Modernizr
.csstransforms3d {

  &.primary-nav .members-quicknav,
  &.secondary-nav .members-quicknav,
  &.primary-nav .l-branding-header,
  &.secondary-nav .l-branding-header,
  &.primary-nav .l-main,
  &.secondary-nav .l-main {
    left: auto;
    right: auto;
  }

  // class is set html element with JS, push content to the left
  &.primary-nav .members-quicknav,
  &.primary-nav .l-main {
    transform: translate3d(265px, 0px, 0px);
  }

  // push the header 1px more so the vertical border continues along it
  &.primary-nav .l-branding-header{
    transform: translate3d(266px, 0px, 0px);
  }

  &.secondary-nav .members-quicknav,
  &.secondary-nav .l-main {
    transform: translate3d(-265px, 0px, 0px);
  }

  &.secondary-nav .l-branding-header{
    transform: translate3d(-266px, 0px, 0px);
  }

  // animate the menu like it comes forward
  .nav-inner-wrap {
    opacity: 0.4;
    transition: opacity 300ms 100ms ease, transform 500ms ease;
    transform: translate3d(10%, 0, 0) scale3d(0.9, 0.9, 0.9);
    transform-origin: -50% 0%;
  }

  &.primary-nav,
  &.secondary-nav {
    .nav-inner-wrap {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

}

#secondary-nav img {
  display: block;
  max-width: none;
  float: right;

  @include breakpoint($desk) {
    position: relative;
    top: 4px;
    float: left;
    margin-right: 0.3em;
  }
}

#secondary-nav .icon-comment {
  @include font-size(20px);
}

.main-menu {
  position: relative;
  @include font-size(16px);
}

.menu .menu {
  position: static;
  top: 100%;
}

.trigger:before,
.off-canvas .navcaret:before {
  position: absolute;
  @extend %load-icon;
  @extend %icon-right-open;
  right: 1.5rem;
  font-size: 1rem;
}

.trigger.dropdown-open:before,
.off-canvas .open .navcaret:before {
  @extend %icon-down-open;
}

.menu-item {
  border-top: 1px solid $grey-l;
}

.menu-link {
  display: block;
  color: $base;
  padding: 1em;
  font-weight: 700;
  &:focus {
    @extend %no-deco;
  }
}
.menu-item .menu-item .menu-link {
  font-weight: 400;
  padding-left: 2.5em;
  color: #7d7d7d;
}

@include breakpoint($desk) {

  .nav-inner-wrap {
    border: none;
  }

  .csstransforms3d .nav-inner-wrap {
    opacity: 1;
    transform: none;
    transform-origin: none;
    border: none;
  }

  #primary-nav,
  #secondary-nav {
    left: auto;
    right: auto;
    top: auto;
    overflow: visible;
    width: auto;
    position: relative;
    transform: translate3d(0, 0 ,0);
  }

  #secondary-nav .menu {
    float: right;
  }

  .mobile-nav,
  .off-canvas .navcaret {
    @include element-hidden;
  }

  .menu-link {
    color: $white;
    font-weight: bold;
    line-height: 28px;
    padding: 0 10px;
    display: block;
    @include font-size(13px);

    &.active,
    &:hover {
      background: $green1;
      color: $green3;
      border-radius: 0 0 4px 4px;
    }
  }

  .menu-item {
    position: relative; // needed to position submenu
    white-space: nowrap;
    float: left;
    border: none;
    padding: 0 10px 0 0;
  }

  // submenu container
  .menu .menu {
    display: none;
    position: absolute;
    height: auto;
    left: 0;
    top: 100%;
    margin-top: -1px;
    z-index: 100;
    border: 1px solid $green2;
    background-color: $white;

    // submenu items
    .menu-item {
      float: none;
      padding: 0;
    }

    .menu-link {
      padding: 2px 0 2px 10px;
      box-shadow: none;
      border-radius: 0;
      line-height: 1.5em;
      font-weight: normal;
      width: 13em;
      color: $base;
      background-color: $white;

      &:hover {
        color: $white;
        background-color: $green2;
        font-weight: bold;
      }

    }

    .active {
      font-weight: 700;
    }

  }

  // show the submenu container when hovering the parent menu-item
  .menu-item:hover > .menu {
    display: block;
    @include cf;
  }

}

