---
title: Progressive enhancement
body_class: styleguide-progressive-enhancement
layout: styleguide
design_status: Work in progress
---

%aside.sidebar-left
  = partial :"nav/documentation"

#content.l-main-column
  .main-content
    %i.block-icon.icon-bg-default.icon-info
    %h1#page-title.block-title Progressive enhancement
    %article.view-mode-full.content
