// Legacy support.
$browser-minimum-versions: (
  'ie': "9"
);

// Import external libraries.

@import 'compass';
@import "breakpoint";
@import "singularitygs";

$oldie: false !default;
$breakpoint-no-queries: false;

@import 'vars/**/*';
@import 'abstractions/**/*';

@import 'base/**/*.scss';

@import 'layout/_layout.scss';
@import 'layout/_media_object.scss';

@import 'components/**/*';

