.views-exposed-widget
  %label.form-label Distance
  .views-widget
    .form-item.form-type-textfield
      %input.form-text{:type => "text", :placeholder => "City..."}
    .form-item.form-type-select
      %select.form-select
        %option{:value => "5km"} 5km
        %option{:value => "10km"} 10km
        %option{:value => "25km"} 25km
        %option{:value => "50km"} 50km
        %option{:value => "100km"} 100km
