.views-exposed-widget
  %label.form-label Date of event
  .views-widget
    .form-item.form-type-select
      %select.form-select#dateevent
        %option{:value => "before"} Before
        %option{:value => "after"} After
        %option{:value => "between"} Between

  .views-widget.inline-fields
    .form-item.form-type-textfield#eventbefore
      %input.form-text{:type => "date", :placeholder => "select date"}
    %span.separator#eventbetween and
    .form-item.form-type-textfield#eventafter
      %input.form-text{:type => "date", :placeholder => "select date"}
