.views-exposed-widget
  %label.form-label Date of event
  .views-operator
    .form-item.form-type-select
      %select.form-select.between
        %option{:value => "<"} Before
        %option{:value => ">"} After
        %option{:value => "between"} Between

  .views-widget.inline-fields
    .form-item.form-type-textfield
      %input.form-text.selector-value{:type => "date", :placeholder => "select date"}
    .form-item.form-type-textfield
      %input.form-text.min{:type => "date", :placeholder => "select date"}
    .form-item.form-type-textfield
      %input.form-text.max{:type => "date", :placeholder => "select date"}
