.views-exposed-widget
  %label.form-label Size of group
  .views-operator
    .form-item.form-type-select
      %select.form-select.between
        %option{:value => "<"} Smaller than
        %option{:value => ">"} Larger than
        %option{:value => "between"} Between

  .views-widget.inline-fields
    .form-item.form-type-textfield
      %input.form-text.selector-value{:type => "text"}
    .form-item.form-type-textfield
      %input.form-text.min{:type => "text"}
    .form-item.form-type-textfield
      %input.form-text.max{:type => "text"}
