.views-exposed-widget
  %label.form-label Groups
  .views-widget
    .form-item.form-type-select
      %select.chosen-select#groups{"data-placeholder" => "Select groups", :multiple => "multiple"}
        %option{:value => ""}
        %optgroup{:label => "My groups"}
          %option{:value => "group1"} Local group Eindhoven
          %option{:value => "group2"} Solar energy
          %option{:value => "group3"} Web editors
          %option{:value => "group4"} Coal campaign
          %option{:value => "group5"} Photographers
        %optgroup{:label => "All groups"}
          %option{:value => "group6"} Local group New York
          %option{:value => "group7"} Wind energy
          %option{:value => "group8"} Festivals
          %option{:value => "group9"} Cooking
          %option{:value => "group10"} Save and protect Rainforests
