.views-exposed-widget
  %label.form-label Profession
  .views-widget
    .form-item
      %input.form-text.form-autocomplete#professioninput{:type => "text", :value => ""}
      .autocomplete#professionautocomplete
        %ul
          %li Teacher
          %li Webdeveloper
          %li Editor
          %li Fitness instructor
          %li Diver
          %li Wildlife ranger
          %li Writer
          %li Marketing manager
