.views-exposed-widget
  %label.form-label School
  .views-widget
    .form-item
      %input.form-text.form-autocomplete#schoolinput{:type => "text", :value => ""}
      .autocomplete#schoolautocomplete
        %ul
          %li University of Arizona
          %li University of Arkansas
          %li University of California, Berkeley
          %li University of California, San Diego
          %li University of Colorado Boulder
          %li University of Idaho
          %li Loyola University Chicago
          %li George Washington University
