.views-exposed-widget
  %label.form-label Tags
  .views-widget
    .form-item
      %input.form-text.form-autocomplete#tagsinput{:type => "text", :value => ""}
      .autocomplete#tagsautocomplete
        %ul
          - for tags in data.tags.suggestion
            %li
              #{tags}
