.page-edit textarea {
  max-width: none;
}


// Style the CKEditor element to look like a textfield
.cke_editor_field-edit-description {
  padding: 5px .5em;
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 100%;
  -webkit-appearance: none;
  font-size: 0.875rem;
  outline: none;
  min-height: 200px;
}

.cke_editable {
  @include font-size(16px);
  padding: 14px;

  p {
    margin: .65em 0 .95em;
  }
}

@include breakpoint($desk) {

  .section-submit .button {
    background: $white;
  }

  .section-submit .btn-primary {
    background: $primary;
  }

}

.wrapper {
  @extend %wrapper;
}

.launcher {
  position: relative;
  z-index: 99;
}

#results {
  position: relative;
}

.location-lookup-resultlist {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  width: 100%;
  max-width: 400px;

  li {
    display: block;
  }

  a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $base;
    padding: 0.5em;
    display: block;
    line-height: 1.2em;

    &:hover {
      background-color: $green2;
      color: $white;
      text-decoration: none;
    }

  }

}

.preview-location {
  display: block;
  width: 80%;
  height: 220px;

  @include breakpoint($desk) {
    position: absolute;
    top: 0;
    right: 0;
    width: 258px;
    height: 258px;
  }
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  transition: margin .2s;
}

@include breakpoint($smalltab) {
  .flexbox .field-name-group-type {

    .form-radios {
      display: flex;
      flex-flow: row wrap;
    }

    .form-type-radio {
      margin: 0;
      flex: 0 1 50%;
    }

  }

}

@include breakpoint($tab) {
  .flexbox .field-name-group-type .form-type-radio {
    flex: 0 1 33%;
  }
}

@include breakpoint($desk) {
  .flexbox .field-name-group-type .form-type-radio {
    flex: 0 1 25%;
  }
}
