
.page-edit {
  .form-text,
  .form-password,
  textarea {
    max-width: none;
  }

}

// Style the CKEditor element to look like a textfield
.cke_editor_field-edit-description {
  padding: 5px .5em;
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 100%;
  -webkit-appearance: none;
  font-size: 0.875rem;
  outline: none;
  min-height: 200px;
}
