.views-row
  %article.node-teaser-faq.node-teaser
    .field-type-image
    .field-type-wrapper
      %h2.node-title
        %a{:href => "#"}
          = lorem.sentence
          ?
      .submitted
        %a.type.faq{:href => "#"} Faq
        05 Dec 2014, by
        - if current_page.data.user_role != "an"
          %a{:href => "#"}
            = lorem.name
        - else
          = lorem.name.downcase.tr(' ', '_')
      .field-name-body
        =lorem.paragraph
