.views-row
  %article.node-teaser-page.node-teaser.lazyload{"data-expand" => "0"}
    .field-type-image
    .field-type-wrapper
      %h2.node-title
        %a{:href => "#"}
          = lorem.words 11
      .submitted
        %span.type.page{:href => "#"} Page
        16 Nov 2014, by
        - if current_page.data.user_role != "an"
          %a{:href => "#"}
            = lorem.name
        - else
          = lorem.name.downcase.tr(' ', '_')
      .field-name-body
        =lorem.paragraph
