%img.lazyload{:alt => "Example of image.", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-sizes" => "(min-width: 768px) 130px, 90px", "data-srcset" => "/photos/90/event2.jpg 90w, /photos/130/event2.jpg 130w, /photos/180/animals3.jpg 180w, /photos/260/animals2.jpg 260w"}/
%noscript
  %img{:src => "/photos/event2.jpg", "sizes" => "(min-width: 768px) 130px, 90px", "srcset" => "/photos/90/event2.jpg 90w, /photos/130/event2.jpg 130w, /photos/180/animals3.jpg 180w, /photos/260/animals2.jpg 260w"}/
