
// body font-size
$base-font-size: 16px;
$p: 14px;

// base line-height
$base-line-height: 1.5em;

// base font-family
$base-font-family: Arial, Helvetica, sans-serif;

$h1: 28px;
$h2: 22px;
$h3: 19px;
$h4: 16px;
$h5: 13px;
$h6: 11px;

$small: 12px;
