
// body font-size
$base-font-size: 16px;
$p: 14px;

// base line-height
$base-line-height: 1.5em;

// base font-family
$base-font-family: Helvetica, Arial, Helvetica, sans-serif;

$h1: 28px;
$h2: 22px;
$h3: 19px;
$h4: 16px;
$h5: 13px;
$h6: 11px;

$small: 12px;

// we need this here because it is used in abstractions already
// Use REMs with a pixel fallback for font-sizing.
@mixin font-size ($font-size){
  @if $oldie {
    font-size: $font-size;
  }
  @else {
    font-size: ($font-size / $base-font-size)*1rem;
  }
}
