// Set consistent vertical and horizontal spacing units.
$vert-spacing: 1em;
$def-mar: 14px;
$def-mar-half: 7px;

$smalltab: 480px;
$tab: 768px;
$desk: 900px;
$deskplus: 1024px;
$wide: 1200px;

$nav-off-canvas-width: 80%;

