.col
  %section.block.block-no-icon
    %h2.block-title Block button
    %p
      Block buttons span the full width of a parent element
      %a.button.btn-block block button
    .code
      :code
        # lang: html
          <a href="#" class="button btn-block"> block button </a>
