.col
  %section.block.block-no-icon
    %h2.block-title Button icon
    :markdown
      Buttons can be combined with any icon. Icons should be placed inside the button as an `<i>`
    %p
      %a.button
        %i.icon-login
        login
      %a.button
        %i.icon-user-add
        subscribe
    .code
      :code
        # lang: html
          <a href="#" class="button">
            <i class="icon-login"></i>
            login
          </a>
