.col
  %section.block.block-no-icon
    %h2.block-title Disabled button
    %p
      %a.button.disabled disabled button
    .code
      :code
        # lang: html
          <a href="#" class="button" disabled="disabled"> disabled button </a>
