.block#block-go-to-group
  %i.block-icon.icon-users.icon-bg-group
  %h2.block-title{"data-amtitle" => "Group"} Group
  .content
    %p
      You are managing
      = succeed "." do
        %a{:href => "./group-home-organiser.html"} Greenwire London
    %p
      %a.button{:href => "./group-home-organiser.html"} Go to group homepage
