#upcoming-events.block.block-events.hidden-mobile
  %i.block-icon.icon-bg-event.icon-event
  %h2.block-title Upcoming events near you
  .content
    %article.node-event-small
      %h2
        %a{:href => "#"} Heb jij interesse in een Act for Arctic training of webinar?
      .date-display-single 20 juli, 2014 - 09:00
    %article.node-event-small
      %h2
        %a{:href => "#"} Act for Arctic Kick-Off training
      .date-display-single 24 juli, 2014 - 18:00
    %article.node-event-small
      %h2
        %a{:href => "#"} De héle Noordzeekust schoon van 1 t/m 31 augustus! Help je mee?
      .date-display-single 1 augustus, 2014 - 00:00
    %article.node-event-small
      %h2
        %a{:href => "#"} Netwerkborrel 28 augustus
      .date-display-single 28 augustus, 2014 - 17:00
    %article.node-event-small
      %h2
        %a{:href => "#"} Opschonen Enschede
      .date-display-single 20 July, 2014 - 12:09
    %a.button{:href => "#"} See more events
