#block-user-events.block.lazyload{"data-expand" => "-40"}
  %i.block-icon.icon-bg-user.icon-event
  %h2.block-title{"data-amtitle" => "My events"} My events
  .content
    :markdown
        You have haven't joined any Greenwire event yet. Find events you might want to join [here](./search-events.html).
