.field.field-group-manager
  .field-label Group manager(s)
  .field-item
    = lorem.name

.field.field-group-manager
  .field-label Total amount of members
  .field-item
    45
.field.field-group-manager
  .field-label Total amount of content
  .field-item
    34
