@mixin block-rich {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 $grey-m;
  background-color: $white;
  padding: 0 $def-mar $def-mar;
  position: relative;
}

%block-element {
   @include block-rich;
}

@mixin white-popup {
  @include block-rich;
  width: auto;
  max-width: 700px;
  margin: 20px auto;
}

%white-popup {
  @include white-popup;
}

@mixin media {
  overflow:hidden;
  @if $oldie {
    _overflow:visible;
    zoom:1;
  }
}


// CLEARFIXES
@mixin cf {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

%cf {
  @include cf;
}

// clear floats inside a container before moving to next line
@mixin inline-cf {
  clear: both;
}

%inline-cf {
  @include inline-cf;
}
