// Use REMs with a pixel fallback for font-sizing.
@mixin font-size ($font-size){
  @if $oldie {
    font-size: $font-size;
  }
  @else {
    font-size: ($font-size / $base-font-size)*1rem;
  }
}

// Horizontal list
%hlist {
  @include horizontal-list(false);
}

@mixin ellipsis {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

@mixin mnul {
  margin:0;
}

%mnul {
  @include mnul;
}

@mixin no-text-decoration {
  text-decoration: none;
}

%no-deco {
  @include no-text-decoration;
}
