---
title: Styleguide index
body_class: index
layout: styleguide
---

#content.l-main-column
  .main-content
    %i.block-icon.icon-bg-default.icon-info
    %h1#page-title.block-title Greenwire living style guide
    %article.view-mode-full.content
      %h2.section-heading Introduction
      :markdown
        Welcome to **Greenpeace Greenwire's front-end style guide**. This is the central place where all CSS and assets for [greenwire.greenpeace.org](https://greenwire.greenpeace.org/) are definend and maintained. The source of this document and the Scss code are available at [github.com/greenpeace/ggw_styleguide](https://github.com/greenpeace/ggw_styleguide).

      %h2.section-heading Summary
      %ul
        %li
          %a{:href => "/documentation/getting-started"} Getting started
        %li
          %a{:href => "/documentation/"} Documentation
        %li
          %a{:href => "/styleguide/colors"} Styleguide


