@mixin block-mobile {
  background-color: $white;
  padding: $def-mar;
  position: relative;
}

@mixin block-tab {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 $grey-m;
}

%block-element {
   @include block-tab;
}

@mixin white-popup {
  @include block-tab;
  width: auto;
  max-width: 700px;
  margin: 20px auto;
}

%white-popup {
   @include white-popup;
}

%clear {
  @include clearfix;
}

// clear floats inside a container before moving to next line
@mixin inline-clear {
  clear: both;
}
