@mixin block-element {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 $grey-m;
  padding: $def-mar;
  position: relative;
}

%block-element {
   @include block-element;
}

@mixin white-popup {
  @include block-element;
  width: auto;
  max-width: 700px;
  margin: 20px auto;
}

%white-popup {
   @include white-popup;
}
