@mixin load-icon {
  font-family: 'greenwire-10';
  speak: none;
  text-align: center;
  display: inline-block;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%load-icon{
  @include load-icon;
}

%icon-trash:before { content: '\e83e'; }
%icon-odnoklassniki:before :before { content: '\e844'; }
%icon-zoom-in:before { content: '\e8a9'; }
%icon-zoom-out:before { content: '\e8aa'; }
%icon-wheelchair:before { content: '\e919'; }
%icon-vkontakte:before { content: '\e833'; }
%icon-xing:before { content: '\e91a'; }
%icon-youtube:before { content: '\e8a6'; }
%icon-youtube-squared:before { content: '\e8a7'; }
%icon-note:before { content: '\e896'; }
%icon-note-beamed:before { content: '\e917'; }
%icon-music:before { content: '\e918'; }
%icon-search:before { content: '\e807'; }
%icon-flashlight:before { content: '\e878'; }
%icon-mail:before { content: '\e814'; }
%icon-heart:before { content: '\e876'; }
%icon-heart-empty:before { content: '\e877'; }
%icon-star:before { content: '\e819'; }
%icon-star-empty:before { content: '\e8d4'; }
%icon-user:before { content: '\e812'; }
%icon-users:before { content: '\e806'; }
%icon-user-add:before { content: '\e811'; }
%icon-video:before { content: '\e80c'; }
%icon-picture:before { content: '\e875'; }
%icon-camera:before { content: '\e80d'; }
%icon-layout:before { content: '\e845'; }
%icon-menu:before { content: '\e804'; }
%icon-check:before { content: '\e81c'; }
%icon-cancel:before { content: '\e81d'; }
%icon-cancel-circled:before { content: '\e874'; }
%icon-cancel-squared:before { content: '\e873'; }
%icon-plus:before { content: '\e80e'; }
%icon-plus-circled:before { content: '\e867'; }
%icon-plus-squared:before { content: '\e872'; }
%icon-minus:before { content: '\e871'; }
%icon-minus-circled:before { content: '\e866'; }
%icon-minus-squared:before { content: '\e870'; }
%icon-help:before { content: '\e803'; }
%icon-help-circled:before { content: '\e86f'; }
%icon-info:before { content: '\e816'; }
%icon-info-circled:before { content: '\e86e'; }
%icon-back:before { content: '\e879'; }
%icon-home:before { content: '\e837'; }
%icon-link:before { content: '\e838'; }
%icon-attach:before { content: '\e839'; }
%icon-lock:before { content: '\e83a'; }
%icon-lock-open:before { content: '\e83b'; }
%icon-eye:before { content: '\e818'; }
%icon-tag:before { content: '\e835'; } /* '' */
%icon-bookmark:before { content: '\e864'; } /* '' */
%icon-bookmarks:before { content: '\e865'; } /* '' */
%icon-flag:before { content: '\e8d5'; } /* '' */
%icon-thumbs-up:before { content: '\e821'; } /* '' */
%icon-thumbs-down:before { content: '\e822'; } /* '' */
%icon-download:before { content: '\e823'; } /* '' */
%icon-upload:before { content: '\e824'; } /* '' */
%icon-upload-cloud:before { content: '\e825'; } /* '' */
%icon-reply:before { content: '\e826'; } /* '' */
%icon-reply-all:before { content: '\e827'; } /* '' */
%icon-forward:before { content: '\e828'; } /* '' */
%icon-quote:before { content: '\e87a'; } /* '' */
%icon-code:before { content: '\e87b'; } /* '' */
%icon-export:before { content: '\e829'; } /* '' */
%icon-pencil:before { content: '\e809'; } /* '' */
%icon-feather:before { content: '\e831'; } /* '' */
%icon-print:before { content: '\e832'; } /* '' */
%icon-retweet:before { content: '\e87c'; } /* '' */
%icon-keyboard:before { content: '\e8d3'; } /* '' */
%icon-comment:before { content: '\e810'; } /* '' */
%icon-chat:before { content: '\e80b'; } /* '' */
%icon-bell:before { content: '\e895'; } /* '' */
%icon-attention:before { content: '\e80a'; } /* '' */
%icon-alert:before { content: '\e8dc'; } /* '' */
%icon-vcard:before { content: '\e8ab'; } /* '' */
%icon-address:before { content: '\e83c'; } /* '' */
%icon-location:before { content: '\e805'; } /* '' */
%icon-map:before { content: '\e863'; } /* '' */
%icon-direction:before { content: '\e8b7'; } /* '' */
%icon-compass:before { content: '\e862'; } /* '' */
%icon-cup:before { content: '\e8b6'; } /* '' */
%icon-trash-1:before { content: '\e8b5'; } /* '' */
%icon-doc:before { content: '\e8b4'; } /* '' */
%icon-docs:before { content: '\e8b3'; } /* '' */
%icon-doc-landscape:before { content: '\e8d1'; } /* '' */
%icon-doc-text:before { content: '\e8d2'; } /* '' */
%icon-doc-text-inv:before { content: '\e87d'; } /* '' */
%icon-newspaper:before { content: '\e87e'; } /* '' */
%icon-book-open:before { content: '\e830'; } /* '' */
%icon-book:before { content: '\e87f'; } /* '' */
%icon-folder:before { content: '\e8db'; } /* '' */
%icon-archive:before { content: '\e8da'; } /* '' */
%icon-box:before { content: '\e8d9'; } /* '' */
%icon-rss:before { content: '\e860'; } /* '' */
%icon-phone:before { content: '\e834'; } /* '' */
%icon-cog:before { content: '\e820'; } /* '' */
%icon-tools:before { content: '\e815'; } /* '' */
%icon-share:before { content: '\e861'; } /* '' */
%icon-shareable:before { content: '\e8b8'; } /* '' */
%icon-basket:before { content: '\e8b9'; } /* '' */
%icon-bag:before { content: '\e8ba'; } /* '' */
%icon-calendar:before { content: '\e813'; } /* '' */
%icon-login:before { content: '\e817'; } /* '' */
%icon-logout:before { content: '\e82f'; } /* '' */
%icon-mic:before { content: '\e880'; } /* '' */
%icon-mute:before { content: '\e8b2'; } /* '' */
%icon-sound:before { content: '\e8b1'; } /* '' */
%icon-volume:before { content: '\e881'; } /* '' */
%icon-clock:before { content: '\e81b'; } /* '' */
%icon-hourglass:before { content: '\e882'; } /* '' */
%icon-lamp:before { content: '\e808'; } /* '' */
%icon-light-down:before { content: '\e8be'; } /* '' */
%icon-light-up:before { content: '\e8bd'; } /* '' */
%icon-adjust:before { content: '\e8bc'; } /* '' */
%icon-block:before { content: '\e8bb'; } /* '' */
%icon-resize-full:before { content: '\e883'; } /* '' */
%icon-resize-small:before { content: '\e884'; } /* '' */
%icon-popup:before { content: '\e8d7'; } /* '' */
%icon-publish:before { content: '\e8d8'; } /* '' */
%icon-window:before { content: '\e8d6'; } /* '' */
%icon-arrow-combo:before { content: '\e885'; } /* '' */
%icon-down-circled:before { content: '\e8ad'; } /* '' */
%icon-left-circled:before { content: '\e8ae'; } /* '' */
%icon-right-circled:before { content: '\e8af'; } /* '' */
%icon-up-circled:before { content: '\e8b0'; } /* '' */
%icon-down-open:before { content: '\e886'; } /* '' */
%icon-left-open:before { content: '\e887'; } /* '' */
%icon-right-open:before { content: '\e888'; } /* '' */
%icon-up-open:before { content: '\e889'; } /* '' */
%icon-down-open-mini:before { content: '\e88a'; } /* '' */
%icon-left-open-mini:before { content: '\e85f'; } /* '' */
%icon-right-open-mini:before { content: '\e85e'; } /* '' */
%icon-up-open-mini:before { content: '\e85d'; } /* '' */
%icon-down-open-big:before { content: '\e85c'; } /* '' */
%icon-left-open-big:before { content: '\e82b'; } /* '' */
%icon-right-open-big:before { content: '\e82c'; } /* '' */
%icon-up-open-big:before { content: '\e88b'; } /* '' */
%icon-down:before { content: '\e88c'; } /* '' */
%icon-left:before { content: '\e88d'; } /* '' */
%icon-right:before { content: '\e88e'; } /* '' */
%icon-move:before { content: '\e8a8'; } /* '' */
%icon-down-dir:before { content: '\e890'; } /* '' */
%icon-left-dir:before { content: '\e891'; } /* '' */
%icon-right-dir:before { content: '\e892'; } /* '' */
%icon-up-dir:before { content: '\e893'; } /* '' */
%icon-down-bold:before { content: '\e8d0'; } /* '' */
%icon-left-bold:before { content: '\e8cf'; } /* '' */
%icon-right-bold:before { content: '\e8ce'; } /* '' */
%icon-up-bold:before { content: '\e8cd'; } /* '' */
%icon-down-thin:before { content: '\e894'; } /* '' */
%icon-left-thin:before { content: '\e85b'; } /* '' */
%icon-right-thin:before { content: '\e85a'; } /* '' */
%icon-up-thin:before { content: '\e859'; } /* '' */
%icon-ccw:before { content: '\e852'; } /* '' */
%icon-cw:before { content: '\e851'; } /* '' */
%icon-arrows-ccw:before { content: '\e853'; } /* '' */
%icon-level-down:before { content: '\e854'; } /* '' */
%icon-level-up:before { content: '\e855'; } /* '' */
%icon-shuffle:before { content: '\e856'; } /* '' */
%icon-loop:before { content: '\e857'; } /* '' */
%icon-switch:before { content: '\e858'; } /* '' */
%icon-play:before { content: '\e81f'; } /* '' */
%icon-stop:before { content: '\e847'; } /* '' */
%icon-pause:before { content: '\e846'; } /* '' */
%icon-record:before { content: '\e848'; } /* '' */
%icon-to-end:before { content: '\e849'; } /* '' */
%icon-to-start:before { content: '\e84a'; } /* '' */
%icon-fast-forward:before { content: '\e84b'; } /* '' */
%icon-fast-backward:before { content: '\e84c'; } /* '' */
%icon-progress-0:before { content: '\e8cc'; } /* '' */
%icon-progress-1:before { content: '\e8bf'; } /* '' */
%icon-progress-2:before { content: '\e8c0'; } /* '' */
%icon-progress-3:before { content: '\e8c1'; } /* '' */
%icon-target:before { content: '\e8c2'; } /* '' */
%icon-palette:before { content: '\e8c3'; } /* '' */
%icon-list:before { content: '\e850'; } /* '' */
%icon-list-add:before { content: '\e84f'; } /* '' */
%icon-signal:before { content: '\e8c4'; } /* '' */
%icon-trophy:before { content: '\e8c5'; } /* '' */
%icon-battery:before { content: '\e8c6'; } /* '' */
%icon-back-in-time:before { content: '\e8c7'; } /* '' */
%icon-monitor:before { content: '\e84e'; } /* '' */
%icon-mobile:before { content: '\e836'; } /* '' */
%icon-network:before { content: '\e868'; } /* '' */
%icon-cd:before { content: '\e8c8'; } /* '' */
%icon-inbox:before { content: '\e8c9'; } /* '' */
%icon-install:before { content: '\e8ca'; } /* '' */
%icon-globe:before { content: '\e81e'; } /* '' */
%icon-cloud:before { content: '\e869'; } /* '' */
%icon-cloud-thunder:before { content: '\e8cb'; } /* '' */
%icon-flash:before { content: '\e8dd'; } /* '' */
%icon-moon:before { content: '\e8de'; } /* '' */
%icon-flight:before { content: '\e8df'; } /* '' */
%icon-paper-plane:before { content: '\e8e0'; } /* '' */
%icon-leaf:before { content: '\e8e1'; } /* '' */
%icon-lifebuoy:before { content: '\e8e2'; } /* '' */
%icon-mouse:before { content: '\e8e3'; } /* '' */
%icon-briefcase:before { content: '\e8e4'; } /* '' */
%icon-suitcase:before { content: '\e8e5'; } /* '' */
%icon-dot:before { content: '\e86a'; } /* '' */
%icon-dot-2:before { content: '\e86b'; } /* '' */
%icon-dot-3:before { content: '\e86c'; } /* '' */
%icon-brush:before { content: '\e8ac'; } /* '' */
%icon-magnet:before { content: '\e8e6'; } /* '' */
%icon-infinity:before { content: '\e8e7'; } /* '' */
%icon-erase:before { content: '\e8e8'; } /* '' */
%icon-chart-pie:before { content: '\e8e9'; } /* '' */
%icon-chart-line:before { content: '\e8ea'; } /* '' */
%icon-chart-bar:before { content: '\e802'; } /* '' */
%icon-chart-area:before { content: '\e8eb'; } /* '' */
%icon-tape:before { content: '\e8f3'; } /* '' */
%icon-graduation-cap:before { content: '\e80f'; } /* '' */
%icon-language:before { content: '\e83d'; } /* '' */
%icon-ticket:before { content: '\e86d'; } /* '' */
%icon-water:before { content: '\e8f2'; } /* '' */
%icon-droplet:before { content: '\e8f1'; } /* '' */
%icon-air:before { content: '\e8f0'; } /* '' */
%icon-credit-card:before { content: '\e8ef'; } /* '' */
%icon-floppy:before { content: '\e8ee'; } /* '' */
%icon-clipboard:before { content: '\e801'; } /* '' */
%icon-megaphone:before { content: '\e800'; } /* '' */
%icon-database:before { content: '\e8ed'; } /* '' */
%icon-drive:before { content: '\e8ec'; } /* '' */
%icon-bucket:before { content: '\e81a'; } /* '' */
%icon-thermometer:before { content: '\e90f'; } /* '' */
%icon-key:before { content: '\e910'; } /* '' */
%icon-flow-cascade:before { content: '\e911'; } /* '' */
%icon-flow-branch:before { content: '\e915'; } /* '' */
%icon-flow-tree:before { content: '\e912'; } /* '' */
%icon-flow-line:before { content: '\e916'; } /* '' */
%icon-flow-parallel:before { content: '\e8f4'; } /* '' */
%icon-rocket:before { content: '\e8f5'; } /* '' */
%icon-gauge:before { content: '\e8f6'; } /* '' */
%icon-traffic-cone:before { content: '\e8f7'; } /* '' */
%icon-github:before { content: '\e914'; } /* '' */
%icon-github-circled:before { content: '\e913'; } /* '' */
%icon-flickr:before { content: '\e843'; } /* '' */
%icon-flickr-circled:before { content: '\e899'; } /* '' */
%icon-vimeo:before { content: '\e897'; } /* '' */
%icon-vimeo-circled:before { content: '\e898'; } /* '' */
%icon-twitter:before { content: '\e82d'; } /* '' */
%icon-twitter-circled:before { content: '\e8a0'; } /* '' */
%icon-facebook:before { content: '\e89f'; } /* '' */
%icon-facebook-circled:before { content: '\e89e'; } /* '' */
%icon-facebook-squared:before { content: '\e82a'; } /* '' */
%icon-gplus:before { content: '\e840'; } /* '' */
%icon-gplus-circled:before { content: '\e89d'; } /* '' */
%icon-pinterest:before { content: '\e83f'; } /* '' */
%icon-pinterest-circled:before { content: '\e89c'; }
%icon-tumblr:before { content: '\e841'; }
%icon-tumblr-circled:before { content: '\e89b'; }
%icon-linkedin:before { content: '\e82e'; }
%icon-linkedin-circled:before { content: '\e89a'; }
%icon-dribbble:before { content: '\e90e'; } /* '' */
%icon-dribbble-circled:before { content: '\e90d'; } /* '' */
%icon-stumbleupon:before { content: '\e90c'; } /* '' */
%icon-stumbleupon-circled:before { content: '\e90b'; }
%icon-rdio:before { content: '\e8fc'; }
%icon-rdio-circled:before { content: '\e8fb'; }
%icon-spotify:before { content: '\e8a1'; }
%icon-spotify-circled:before { content: '\e8fa'; }
%icon-qq:before { content: '\e8f9'; }
%icon-instagram:before { content: '\e842'; }
%icon-dropbox:before { content: '\e8f8'; } /* '' */
%icon-evernote:before { content: '\e900'; } /* '' */
%icon-flattr:before { content: '\e901'; } /* '' */
%icon-skype:before { content: '\e902'; } /* '' */
%icon-skype-circled:before { content: '\e903'; } /* '' */
%icon-renren:before { content: '\e904'; } /* '' */
%icon-sina-weibo:before { content: '\e905'; } /* '' */
%icon-paypal:before { content: '\e8a2'; } /* '' */
%icon-picasa:before { content: '\e8a3'; } /* '' */
%icon-soundcloud:before { content: '\e906'; } /* '' */
%icon-mixi:before { content: '\e907'; } /* '' */
%icon-behance:before { content: '\e8a4'; } /* '' */
%icon-google-circles:before { content: '\e8a5'; } /* '' */
%icon-sweden:before { content: '\e84d'; } /* '' */
%icon-db-shape:before { content: '\e8fe'; } /* '' */
%icon-logo-db:before { content: '\e8ff'; } /* '' */
%icon-up:before { content: '\e88f'; } /* '' */
