.views-row
  %article.node-teaser-blog.node-teaser
    .field-type-image
    .field-type-wrapper
      %h2.node-title
        %a{:href => "./blog-article.html"}
          = lorem.sentence
      .submitted
        %a.type.blog{:href => "./blogs.html"} Blog
        11 Nov 2014, by
        - if current_page.data.user_role != "an"
          %a{:href => "#"}
            = lorem.name
        - else
          = lorem.name.downcase.tr(' ', '_')
      .field-name-body
        =lorem.paragraph
