.views-row
  %article.node-teaser-blog.node-teaser
    .field-type-image
      = partial :"teasers/teaser-image"
    .field-type-wrapper
      %h2.node-title Blog item with image
      .submitted
        %a.type.blog{:href => "#"} Blog
        11 Aug 2014, by
        %a{:href => "#"}
          = lorem.name
      .field-name-body
        =lorem.paragraph
