.views-row
  %article.node-teaser-document.node-teaser
    .field-type-image
    .field-type-wrapper
      %h2.node-title
        %a{:href => "#"}
          = lorem.sentence
      .submitted
        %a.type.document{:href => "#"} Document
        24 Sep 2013, by
        - if current_page.data.user_role != "an"
          %a{:href => "#"}
            = lorem.name
        - else
          = lorem.first_name
      .field-name-body
        =lorem.paragraph
