.views-row
  %article.node-teaser-event.node-teaser.lazyload{"data-expand" => "0"}
    .field-type-image
      = partial :"teasers/teaser-image"
    .field-type-wrapper
      %h2.node-title
        %a{:href => "./event-full.html"}
          = lorem.sentence
      .submitted
        %a.type.event{:href => "./events.html"} Event
        2 Jan, 20:00 - 23:00 CET
      .field-group-format
        .field-type-date
          %label Time:
          August 10th, 8:00PM until 11:30 PM
        .field-type-location
          %label Address:
          Oude Markt 9B, Enschede (Market Square)
