.views-row
  %article.node-teaser-event.node-teaser.lazyload{"data-expand" => "0"}
    .field-type-image
      = partial :"teasers/teaser-image"
    .field-type-wrapper
      %h2.node-title
        %a{:href => "./event-full.html"}
          = lorem.sentence
      .submitted
        %a.type.event{:href => "./search-events.html"} Event
        %span.created-date 22 Feb 2015, by
        %span.author
          - if current_page.data.user_role != "an"
            %a{:href => "./profile.html"}
              = lorem.name
          - else
            = lorem.name.downcase.tr(' ', '_')
        - if current_page.data.user_role != "an"
          %a.teaser-comments{:href => "./event-full.html#block-comments"} 6
      .field-type-date
        %label Event Time:
        %span 5 May, 11:15 - 7 May 23:59 EAT
      .field-type-location
        %label Address:
        %span Rue de la Liberté 2, Tamatave (Town Hall)
