.views-row
  %article.node-teaser-faq.node-teaser
    .field-type-image
    .field-type-wrapper
      %h2.node-title
        = lorem.words 6
      .submitted
        %a.type.faq{:href => "#"} Faq
      .field-name-body
        =lorem.paragraph
