.views-row
  %article.node-teaser-group.node-teaser
    .field-type-image
    .field-type-wrapper
      %h2.node-title
        = lorem.words 9
      .submitted
        %a.type.group{:href => "#"} Group
        Campaign group (on request)
      .field-group-format
        .field-type-taxonomy-term-reference
          %label> Group type:
          Campaign group
