.views-row
  %article.node-teaser-group.node-teaser.lazyload{"data-expand" => "0"}
    .field-type-image
      = partial :"teasers/teaser-image"
    .field-type-wrapper
      %h2.node-title
        %a{:href => "./group-home.html"}
          = lorem.sentence
      .submitted
        %a.type.group{:href => "./groups.html"} Group
        Country group (open)
      .field-name-body
        =lorem.paragraph
