.views-row
  %article.node-teaser-group.node-teaser
    .field-type-image
    .field-type-wrapper
      %h2.node-title
        %a{:href => "#"}
          = lorem.sentence
      .submitted
        %a.type.group{:href => "#"} Group
        Campaign group (on request)
      .field-name-body
        =lorem.paragraph
