.views-row
  %article.node-teaser-idea.node-teaser
    .field-type-image
      = partial :"teasers/teaser-image"
    .field-type-wrapper
      %h2.node-title
        = lorem.words 20
      .submitted
        %a.type.idea{:href => "#"} Idea
        9 Dec, by
        %a{:href => "#"}
          = lorem.name
      .field-name-body
        =lorem.paragraph
