.views-row
  %article.node-teaser-idea.node-teaser
    .field-type-image
      = partial :"teasers/teaser-image"
    .field-type-wrapper
      %h2.node-title
        %a{:href => "#"}
          = lorem.words 20
      .submitted
        %a.type.idea{:href => "#"} Idea
        9 Dec, by
        - if current_page.data.user_role != "an"
          %a{:href => "#"}
            = lorem.name
        - else
          = lorem.first_name
      .field-name-body
        =lorem.paragraph
