.views-row
  %article.node-teaser-material.node-teaser
    .field-type-image
    .field-type-wrapper
      %h2.node-title Material title
      .submitted
        %a.type.material{:href => "#"} Material
        30 Apr, by
        %a{:href => "#"} Charlotte de Bourbon
      .field-name-body
        On touch devices, a click event has a 300ms delay before firing. The reason for this the delay  is that browsers need that buffer to make sure you aren’t going to double-tap on anything.
