.views-row
  %article.node-teaser-user.node-teaser
    .field-type-image
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 48em)", :srcset => "/photos/130/people3.jpg, /photos/260/people4.jpg 1.5x"}
        %source{:srcset => "/photos/180/people5.jpg 2x, /photos/90/people1.jpg 1x"}
        /[if IE 9] </video>
        %img{:alt => "Example of image.", :src => "/photos/blank.png", :srcset => "/photos/90/people2.jpg"}
    .field-type-wrapper
      %h2.node-title
        %a{:href => "#"}
          = lorem.name
          %span.username (beau_rose)
      .submitted
        %a.type.user{:href => "#"}
        %span Perigeux
      .field-name-body
        = lorem.paragraph
