.views-row
  %article.node-teaser-user.node-teaser.lazyload{"data-expand" => "0"}
    .field-type-image
      %img.lazyload{:alt => "Example of image.", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-sizes" => "auto", "data-srcset" => "/photos/90/people3.jpg 90w, /photos/130/people4.jpg 130w, /photos/180/people1.jpg 180w, /photos/260/people5.jpg 260w"}/
      %noscript
        %img{:src => "/photos/90/people3.jpg", "srcset" => "/photos/90/people3.jpg 90w, /photos/130/people4.jpg 130w, /photos/180/people1.jpg 180w, /photos/260/people5.jpg 260w"}/
    .field-type-wrapper
      %h2.node-title
        %a{:href => "#"}
          = lorem.name
          %span.username (alexandra_scarborough)
      .submitted
        %a.type.user{:href => "#"} Greenpeace staff
        %span Portland
      .field-name-body
        = lorem.paragraph
