.views-row
  %article.node-teaser-user.node-teaser
    .field-type-image
      = partial :"teasers/teaser-image"
    .field-type-wrapper
      %h2.node-title
        Trisha Norman
        %span.username (trisha_norman)
      .submitted
        %a.type.user{:href => "#"} Community Coach,
        %span from Boston
      .field-name-body
        = lorem.paragraph
