.views-row
  %article.node-teaser-user.node-teaser
    .field-type-image
      = partial :"teasers/teaser-image"
    .field-type-wrapper
      %h2.node-title
        Laila McLaughlin
        %span.username (laila_mclaughlin)
      .submitted
        %a.type.user{:href => "#"} Member,
        %span Moscow
      .field-name-body
        = lorem.paragraph
