.views-row
  %article.node-teaser-news.node-teaser.lazyload{"data-expand" => "0"}
    .field-type-image
      = partial :"teasers/teaser-image"
    .field-type-wrapper
      %h2.node-title
        %a{:href => "./news-article.html"}
          = lorem.sentence
      .submitted
        %a.type.news{:href => "./news.html"} News
        23 Jul 2014, by
        - if current_page.data.user_role != "an"
          %a{:href => "#"}
            = lorem.name
        - else
          = lorem.name.downcase.tr(' ', '_')
      .field-name-body
        =lorem.paragraph
