.views-row
  %article.node-teaser-page.node-teaser
    .field-type-image
    .field-type-wrapper
      %h2.node-title
        = lorem.words 16
      .submitted
        %span.type.page{:href => "#"} Page
      .field-name-body
        =lorem.paragraph
