.views-row
  %article.node-teaser-album.node-teaser
    .field-type-image
      = partial :"teasers/teaser-image"
    .field-type-wrapper
      %h2.node-title
        = lorem.words 6
      .submitted
        %a.type.album{:href => "#"} Photos
        4 Mar, by
        - if current_page.data.user_role != "an"
          %a{:href => "#"}
            = lorem.name
        - else
          = lorem.first_name
      .field-name-body
        =lorem.paragraph
