%picture
  /[if IE 9] <video style="display: none;">
  %source{:media => "(min-width: 48em)", :srcset => "http://placeimg.com/130/90/animals, http://placeimg.com/260/180/animals 1.5x"}
  %source{:srcset => "http://placeimg.com/180/120/animals 2x, http://placeimg.com/90/60/animals 1x"}
  /[if IE 9] </video>
  %img{:alt => "Example of image.", :src => "http://placeimg.com/90/60/animals"}
