%img.lazyload{:alt => "Example of image.", :src => "/photos/90/animals5.jpg", "data-sizes" => "auto", "data-srcset" => "/photos/90/animals5.jpg 90w, /photos/130/animals1.jpg 130w, /photos/180/animals3.jpg 180w, /photos/260/animals2.jpg 260w"}/
%noscript
  %img{:src => "/photos/nature4.jpg", "srcset" => "/photos/90/animals5.jpg 90w, /photos/130/animals1.jpg 130w, /photos/180/animals3.jpg 180w, /photos/260/animals2.jpg 260w"}/
