%picture
  /[if IE 9] <video style="display: none;">
  %source{:media => "(min-width: 48em)", :srcset => "/photos/130/animals1.jpg, /photos/260/animals2.jpg 1.5x"}
  %source{:srcset => "/photos/180/animals3.jpg 2x, /photos/90/animals4.jpg 1x"}
  /[if IE 9] </video>
  %img{:alt => "Example of image.", :src => "/photos/blank.png", "data-src" => "/photos/90/animals5.jpg"}
