%picture
  /[if IE 9] <video style="display: none;">
  %source{:media => "(min-width: 48em)", "data-srcset" => "/photos/130/animals1.jpg, /photos/260/animals2.jpg 1.5x"}/
  %source{"data-srcset" => "/photos/180/animals3.jpg 2x, /photos/90/animals4.jpg 1x"}/
  /[if IE 9] </video>
  %img.lazyload{:alt => "Example of image.", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/90/animals5.jpg"}
