.views-row
  %article.node-teaser-video.node-teaser.lazyload{"data-expand" => "0"}
    .field-type-image
      = partial :"teasers/teaser-image"
    .field-type-wrapper
      %h2.node-title
        %a{:href => "./video-article.html"}
          = lorem.sentence
      .submitted
        %a.type.video{:href => "./videos.html"} Video
        14 Apr, by
        - if current_page.data.user_role != "an"
          %a{:href => "#"}
            = lorem.name
        - else
          = lorem.name.downcase.tr(' ', '_')
      .field-name-body
        =lorem.paragraph
