.views-row
  %article.node-teaser-video.node-teaser
    .field-type-image
      = partial :"teasers/teaser-image"
    .field-type-wrapper
      %h2.node-title
        = lorem.words 10
      .submitted
        %a.type.video{:href => "#"} Video
        14 Apr, by
        %a{:href => "#"}
          = lorem.name
        .field-name-body
          =lorem.paragraph
