body {
  background: none;
}

img, media {
  max-width: 100%;
}

.container {
  position: relative;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 1024px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}

/* No files to import found in browser/modern/**\/* */
