%section.block.block-no-icon
  %h2.block-title Body copy
  %p
  :markdown
    The default `font-size` is **14px** with a `line-height` of **1.5em**. This is applied on the `<body>` Paragraphs inherit this style. Inside an `<article>` they receive an extra top and bottom margin.
  .demo
    %article
      %p Nullam ultricies tellus eget pretium faucibus. Vestibulum in tellus non urna consequat pharetra ut eget purus.
  .code
    :code
      # lang: html
        <article>
          <p> Nullam ultricies tellus eget pretium faucibus. Vestibulum in tellus non urna consequat pharetra ut eget purus.</p>
        </article>
