%section.block.block-no-icon
  %h2.block-title Headings
  :markdown
    Article titles are generated from a separate field in Drupal. They are often accompanied with icons to ghlight the content type. Therefore it is not advised to use `<h1>` elements in the body copy.
  .demo
    %article
      %h1 This is an heading 1 element
      %h2 This is an heading 2 element
      %h3 This is an heading 3 element
      %h4 This is an heading 4 element
      %h5 This is an heading 5 element
      %h6 This is an heading 6 element
  .code
    :code
      # lang: html
        <article>
          <h1> This is an heading 1 element </h1>
          <h2> This is an heading 2 element </h2>
          <h3> This is an heading 3 element </h3>
          <h4> This is an heading 4 element </h4>
          <h5> This is an heading 5 element </h5>
          <h6> This is an heading 6 element </h6>
        </article>
