%section.block.block-no-icon
  %h2.block-title Inline text elements
  %p The following elements can be used across the site and are not limited not any parent selector.

  .demo
    %article
      %p
        %s This line of text is meant to be treated as no longer accurate.
      %p
        %u This line of text will render as underlined
      %p
        %small This line of text is meant to be treated as fine print.
      %p
        %strong This line of text is rendered as bold text.
      %p
        %i This line of text is rendered as italicized text.
      %p
        %sup This line of text is rendered as superscript text.
      %p
        %sub This line of text is rendered as subscript text.
  .code
    :code
      # lang: html
        <s>This line of text is meant to be treated as no longer accurate.</s>
        <u>This line of text will render as underlined</u>
        <small>This line of text is meant to be treated as fine print.</small>
        <strong>This line of text is rendered as bold text.</strong>
        <i>This line of text is rendered as italicized text.</i>
        <sup>This line of text is rendered as superscript text.</sup>
        <sub>This line of text is rendered as subscript text.</sub>
