.views-row
  %article.node-teaser-blog.node-teaser
    .field-type-image
      %picture
        %source{:media => "(min-width: 48em)", :srcset => "http://placehold.it/130x90, http://placehold.it/260x180 2x"}
          %img{:alt => "The president giving an award.", :src => "http://placehold.it/90x60", :srcset => "http://placehold.it/180x120 2x"}/
    .field-type-wrapper
      %h2.node-title Blog item with no image
      .submitted
        %a.type.blog{:href => "#"} Blog
        11 Aug 2014, by
        %a{:href => "#"} Ana Hristova
      .field-name-body
        On touch devices, a click event has a 300ms delay before firing. The reason for this the delay  is that browsers need that buffer to make sure you aren’t going to double-tap on anything.
