---
layout: teaser
---

%article.node-teaser-document.node-teaser
  .field-type-image
    %picture
      /[if IE 9] <video style="display: none;">
      %source{:media => "(min-width: 48em)", :srcset => "http://placehold.it/130x90, http://placehold.it/260x180 2x"}
        /[if IE 9] </video>
        %img{:alt => "The president giving an award.", :src => "http://placehold.it/90x60", :srcset => "http://placehold.it/180x120 2x"}/
  .field-type-wrapper
    %h2.node-title This is an example of a long photo album title
    .submitted
      %a.type.document{:href => "#"} Document
      24 Sep 2013, by
      %a{:href => "#"} Johnny extermeverykindoflonglastname
    .field-name-body
      On touch devices, a click event has a 300ms delay before firing. The reason for this the delay  is that browsers need that buffer to make sure you aren’t going to double-tap on anything.
