.views-row
  %article.node-teaser-event.node-teaser
    .field-type-image
      /
        <picture>
        <source media="(min-width: 48em)" srcset="http://placehold.it/130x90, http://placehold.it/260x180 2x">
        <img src="http://placehold.it/90x60" srcset="http://placehold.it/180x120 2x" alt="The president giving an award.">
        </picture>
    .field-type-wrapper
      %h2.node-title This event has no image
      .submitted
        %a.type.event{:href => "#"} Event
        1 May - 4 May
      .field-group-format
        .field-type-date
          %label> Time:
          August 10th, 8:00PM until 11:30 PM
        .field-type-location
          %label> Address
          Oude Markt 9B, Enschede (Market Square
