.views-row
  %article.node-teaser-group.node-teaser
    .field-type-image
      = partial :"teasers/teaser-image"
    .field-type-wrapper
      %h2.node-title
        = lorem.words 7
      .submitted
        %a.type.group{:href => "#"} Group
        Country group (open)
      .field-group-format
        .field-type-taxonomy-term-reference
          %label> Group type:
          Country group
