.views-row
  %article.node-teaser-idea.node-teaser
    .field-type-image
    .field-type-wrapper
      %h2.node-title
        = lorem.words 4
      .submitted
        %a.type.idea{:href => "#"} Idea
        9 Dec, by
        %a{:href => "#"} Ana Hristova
      .field-name-body
        On touch devices, a click event has a 300ms delay before firing. The reason for this the delay  is that browsers need that buffer to make sure you aren’t going to double-tap on anything.
