%picture
  /[if IE 9] <video style="display: none;">
  %source{:media => "(min-width: 48em)", :srcset => "http://lorempixel.com/130/90/animals/1/desk, http://lorempixel.com/260/180/animals/2/deskx1.5 1.5x"}
  %source{:srcset => "http://lorempixel.com/180/120/animals/3/mobx2 2x, http://lorempixel.com/90/60/animals/4/mob 1x"}
  /[if IE 9] </video>
  %img{:alt => "Example of image.", :src => "http://lorempixel.com/90/60/animals/5/img"}/
