// Horizontal list
%hlist {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  @if $oldie {
    *zoom: 1;
  }

  li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
  }
}

@mixin ellipsis {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

@mixin mnul {
  margin:0;
}

%mnul {
  @include mnul;
}

@mixin no-deco {
  text-decoration: none;
}

%no-deco {
  @include no-deco;
}

%fontsizesmall {
  @include font-size(14px);
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%truncate {
  @include truncate;
}

%list {
  ul,
  ol {
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
  }

  ol ol,
  ul ul {
    margin-bottom: 0;
    padding: 0 0 0 $def-mar;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style: decimal;
  }

}
