
// color declarations

// TEXT
$base:      #4D4D4D;
$heading:   #1A1A1A;
$white:     #FFFFFF;

$primary:   #FF7704; //orange
$secondary: #F5F5F5; //lightgrey

// GREENS
$green1:    #66CC00;
$green2:    #56B004;
$green3:    #055905;
$green4:    #006532; // Dark green
$green5:    #559F0C; // Links

// Section colors
$groups:  #0069AA; //blue
$users:   #FFCE00; //yellow
$events:  #055905; //darkgreen
$admin:   #93005F; //purple
$error:   #D50D00; //red


// Greys

$grey1:   #999999

// borders
