// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 1em;
$def-mar: 15px;
$def-half-mar: 7px;

$tab: 768px;
$desk: 1024px;
$wide: 1200px;

$grids: 4;
$grids: add-grid(12 at $tab);
$output: 'isolation';

$gutters: 1/3;
