// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 1em;
$def-margin: 15px;

$tab: 768px;
$desk: 1024px;
$wide: 1200px;

$grids: 4;
$grids: add-grid(12 at $tab);

$gutters: 1/3;
