.container {
  position: relative;
  @include pie-clearfix;

  @include breakpoint($tab) {
    padding: 0 $def-mar;
  }

  @include breakpoint($desk) {
    width:  960px;
    margin: 0 auto;
  }

}

.l-header {
  padding-top: $def-mar-half;

  @include breakpoint($desk) {
    padding-top: $def-mar;
  }
}

.l-branding-header {
  width: 134px;
  margin: 0 auto;
  position: relative;

  @include breakpoint($desk) {
    @include grid-span(2, 1);
  }
}

.l-header-navigation {

  @include breakpoint($desk) {
    @include isolation-span(12, 1, 'both');
    position: relative;
    bottom: -11px;
    z-index: 2;
  }
}

.block-search {

  @include breakpoint($desk) {
    @include grid-span(3, 9);
    bottom: 36px;
    position: absolute;
    right: 0;
  }

}

.l-main {
  margin: $def-mar auto;

  @include breakpoint($desk) {
    min-height: 701px; //space for the footer
  }
}

.l-has-sidebar .l-main-column {

  @include breakpoint($tab) {
    @include grid-span(8, 1);
  }

}

.l-has-sidebar .l-sidebar {
  @extend %element-hidden;

  @include breakpoint($tab) {
    @include grid-span(4, 9);
    display: block;
  }
}



