.container {
  position: relative;
  @include pie-clearfix;

  @include breakpoint($tab) {
    padding: 0 $def-mar;
  }

  @include breakpoint($desk) {
    max-width:  960px;
    margin:     0 auto;
  }

  // keep distance from the window untill there is enough space
  @include breakpoint(1024px) {
    padding:    0;
  }

}

.l-header {
  padding-top: $def-mar-half;

  @include breakpoint($desk) {
    padding-top: $def-mar;
  }
}

.l-branding-header {
  width: 134px;
  margin: 0 auto;
  position: relative;

  @include breakpoint($desk) {
    @include grid-span(2, 1);
  }
}

.l-country-selector {
  @include breakpoint($desk) {
    position: absolute;
    width: 220px;
    left: 200px;
    bottom: 14px;
  }
}

.l-language-switcher {
  @include breakpoint($desk) {
    position: absolute;
    width: auto;
    right: 0;
    bottom: 32px;
  }
}

.l-header-navigation {

  @include breakpoint($desk) {
    @include isolation-span(12, 1);
    position: relative;
    bottom: -11px;
    z-index: 2;
    @include cf;
  }
}

.block-search {

  @include breakpoint($desk) {
    @include grid-span(3, 10, $output-style: 'isolation');
    bottom: 10px;
    position: absolute;
    right: 0;
  }

}

.l-main {
  margin: $def-mar auto;

  @include breakpoint($desk) {
    min-height: 730px; //space for the footer
  }
}

.l-has-sidebar .l-main-column {

  @include breakpoint($tab) {
    @include grid-span(8, 1);
  }

}

.l-has-sidebar .l-sidebar {
  @extend %element-hidden;

  @include breakpoint($tab) {
    @include grid-span(4, 9);
    display: block;
  }
}



