.container {
  position:   relative;
  @include pie-clearfix;

  @include breakpoint($desk) {
    width:  960px;
    margin: 0 auto;
  }

}

.l-header {
  padding-top: $def-mar-half;

  @include breakpoint($tab) {
    padding-top: $def-mar;
  }
}


.l-branding {
  @include grid-span(6, 4);
}

.l-navigation {
  @include grid-span(3, 1);
}

.l-interface {
  @include grid-span(3, 9);
}

@include breakpoint($tab) {

  .l-branding {
    @include grid-span(2, 1);
  }

  .l-header-navigation {
    @include isolation-span(12, 1, 'both');
    position: relative;
    bottom: -11px;
    z-index: 2;
  }

  .block-search {
    @include grid-span(3, 9);
    bottom: 36px;
    position: absolute;
    right: 0;
  }

}

.l-main {
  margin: $def-mar auto;
}

.l-has-sidebar .l-main-column {

  @include breakpoint($tab) {
    @include grid-span(8, 1);
  }

}

.l-has-sidebar .l-sidebar {
  @extend %element-hidden;

  @include breakpoint($tab) {
    @include grid-span(4, 9);
    display: block;
  }
}



