#agreement.block.block-no-icon.white-popup.mfp-hide
  %h2.block-title Greenwire UK User Agreement

  .content

    :markdown
      Greenpeace (www.greenpeace.org) is an independent global campaigning organisation that acts to change attitudes and behaviour, to protect and conserve the environment and to promote peace. It consists of 27 independent national and regional offices with presence in 40 countries, and a coordinating body, Greenpeace International.

      Every national or regional Greenpeace office may choose to set up a Greenpeace Greenwire community for their respective supporters and each have their own terms and conditions.

      When you join the Greenpeace Greenwire community website of Greenpeace UK (hereinafter referred to as "Greenpeace Greenwire"), you are joining a community of like-minded people which is supported - and not controlled or directed - by Greenpeace UK.  By accepting this community agreement and linked policies, you acknowledge that being part of the Greenpeace Greenwire community involves responsibilities for both yourself and Greenpeace UK:

      Greenpeace UK will provide you with support and do so professionally, by providing good, well-informed guidance. If you participate in activities organised by Greenpeace UK it will ensure an appropriate duty of care for your safety. And in addition, Greenpeace UK will ensure that your data will not be used for any purpose other than what you have signed up for.

      You have a responsibility within the Greenpeace Greenwire community to stick to the rules; to not act in such a way that is not in line with the objectives of Greenpeace UK, and to ensure that you keep information confidential which may harm Greenpeace UK, the global Greenpeace organisation, its allies or the wider movement, if that information is intended for internal use within the community.

      This way, together with you, Greenpeace UK can move people to choose a green and peaceful future.

      **Art. 1 Community goals and membership**

      Greenpeace UK has designed the Greenpeace Greenwire community to:

      Enable its volunteers, supporters and allied activists to connect with each other, invite them to participate in legal activities and campaigns that Greenpeace UK organizes, and to provide a platform for volunteers, supporters and allied activists to organise their own legal activities which are aligned with Greenpeace’s long-term goals and campaigns, but are not directed by Greenpeace UK.

      You cannot participate in the Greenpeace Greenwire community without creating a personal profile on Greenpeace Greenwire. As a community member, you have a responsibility to invest time into the community, according to your own availability, through proposing or joining activities and through self-driven initiatives.  As a Greenpeace Greenwire community member, you are responsible for joining activities which fit your own needs and availability. When you agree to take on a task, you are responsible for completing that activity - and you agree that you will contact the activity organiser as soon as possible to arrange your own replacement if you cannot perform due to e.g. illness or a change in circumstances.
