#block-comments.block.block-comments
  %i.block-icon.icon-comment.icon-bg-action
  %h2.block-title Comments
  .content
    %p Only registered users can see and post comments. Please take a moment to register or login to join the conversation!
    %a.button.btn-primary Get wired!
