.block#create-account
  %i.block-icon.icon-bg-action.icon-user-add
  %h2.block-title Create an account
  .content
    %p Do not have an account yet? Click below to register!
    =nav_link 'Get wired', '/prototype/an/register-step1.html', :class => 'button btn-primary'
