#login-block.block.login-block.block-no-icon.white-popup.mfp-hide
  %h2.block-title Login

  .content

    %form{:action => "../lu/index.html", :method => "get"}

      .signup-wrapper

        %a.button.btn-l.btn-block.btn-social-fb
          %i.icon.icon-facebook
          Log in with Facebook

        %a.button.btn-l.btn-block.btn-social-gp
          %i.icon.icon-gplus
          Log in with Google+

      .signup-or-separator
        %label or
        %hr

      .signup-wrapper

        .form-wrapper

          .form-item
            %input{:type => "text", :class => "username form-text", "max-length" => "60", "placeholder" => "Username"}
            %i.icon-user

          .form-item
            %input{:type => "password", :class => "form-text", ":max-length" => "60", "placeholder" => "Password"}
            %i.icon-password

          .form-item
            %a.pull-right.small-link{:href => ""} Lost password?

        .form-actions.form-wrapper

          .form-item
            %input{:type => "submit", :class => "button btn-primary btn-l btn-block", :value => "Log in"}

          %hr

          %p
            No account yet?
            %a.modal-inline{:href => "#signup-block"} Sign up
