.block.hidden-mobile.lazyload{"data-expand" => "-40"}
  %i.block-icon.icon-bg-default.icon-users
  %h2.block-title Members of Greenwire
  .content
    .members
      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member1.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member1.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member2.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member2.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member3.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member3.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member4.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member4.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member5.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member5.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member6.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member6.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member7.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member7.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member8.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member8.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member9.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member9.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member10.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member10.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member11.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member11.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member12.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member12.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member13.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member13.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member14.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member14.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member15.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member15.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member16.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member16.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member17.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member17.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member18.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member18.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member19.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member19.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member20.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member20.jpg"}/

      .member-item
        %img.lazyload{:alt => "Name of user", :src => "/images/blank.png", "data-srcset" => "/photos/75/member21.jpg"}/
        %noscript
          %img{:alt => "Name of user", :src => "/photos/75/member21.jpg"}/

