.block
  %i.block-icon.icon-login.icon-bg-action
  %h2.block-title RSVP for this event
  .content
    %form
      %p
        Already a Greenwire member?
        =nav_link 'Log in', data.nav.secondary_an.first['url']
      %p Not a member? RSVP below
      .form-item.form-type-textfield
        %label{:for => "edit-firstname"}
          First name
          %span.form-required{:title => "This field is required."} *
        %input#edit-firstname.form-text.required{:tabindex => "1", :type => "text", :value => ""}/
      .form-item.form-type-textfield
        %label{:for => "edit-lastname"}
          Last name
          %span.form-required{:title => "This field is required."} *
        %input#edit-lastname.form-text.required{:tabindex => "1", :type => "text", :value => ""}/
      .form-item.form-type-textfield
        %label{:for => "edit-emailaddress"}
          Email address
          %span.form-required{:title => "This field is required."} *
        %input#edit-emailaddress.form-text.required{:tabindex => "1", :type => "text", :value => ""}/
      .form-item.form-type-select
        %label{:for => "edit-phonenumber-country"}
          Phone (mobile)
          %span.form-required{:title => "This field is required."} *
        %select#edit-phonenumber-country.form-select.required{:tabindex => "1"}
          %option{:value => "be"} Belgium (+32)
          %option{:value => "fr"} France (+33)
          %option{:value => "in"} India (+91)
          %option{:selected => "selected", :value => "nl"} Netherlands (+31)
          %option{:value => "ru"} Russia (+7)
          %option{:value => "th"} Thailand (+66)
          %option{:value => "uk"} United Kingdom (+44)
          %option{:value => "us"} USA (+1)
          %option{:value => "other"} Other
      .form-item.form-type-textfield
        %input#edit-phonenumber.form-text{:tabindex => "1", :type => "text", :value => ""}/
      .form-item.form-type-textarea
        %label{:for => "edit-message"} Message
        .form-textarea-wrapper.resizable
          %textarea#edit-message.form-textarea{:tabindex => "1"}
      .form-actions
        %input.button.btn-primary{:type => "submit", :value => "Save"}/
