#signup-block.block.signup-block.block-no-icon.white-popup.mfp-hide
  %h2.block-title Sign up

  .content

    %form{:action => "../an/register-step2.html", :method => "get"}

      .signup-wrapper

        %a.button.btn-l.btn-block.btn-social-fb
          %i.icon.icon-facebook
          Sign up with Facebook

        %a.button.btn-l.btn-block.btn-social-gp
          %i.icon.icon-gplus
          Sign up with Google+

      .signup-or-separator
        %label or
        %hr

      .signup-wrapper

        .form-wrapper

          .form-item
            %input{:type => "text", :class => "username form-text", "max-length" => "60", "placeholder" => "Username"}
            %i.icon-user

          .form-item
            %input{:type => "text", :class => "form-text", ":max-length" => "60", "placeholder" => "email"}
            %i.icon-mail

        .form-actions.form-wrapper

          .form-item
            %input{:type => "submit", :class => "button btn-primary btn-l btn-block", :value => "Sign up with Email"}

          %hr

          %p
            Already a member?
            %a.modal-inline{:href => "#login-block"} Log in
