
// color declarations

// TEXT
$background:  #eee;
$base:        #333;
$base-desk:   #4d4d4d;
$heading:     #1a1a1a;
$white:       #fff;

$primary:     #ff7704; //orange
$secondary:   #f5f5f5; //lightgrey

// GREENS
$green1:      #6c0;
$green2:      #56b004;
$green3:      #055905;
$green4:      #006532; // Dark green
$green5:      #559f0c; // Links

// Section colors
$group:       #0069aa; //blue
$user:        #ffce00; //yellow
$admin:       #93005f; //purple
$error:       #ac2925; //brown - red
$delete:      #d50d00; //bright red

// Greys
$grey-sl:  #f2f2f2; // extralight
$grey-l:   #ccc; // light
$grey-m:   #999; // normal
$grey-d:   #666; // dark

// borders
