
// color declarations

// TEXT
$background:  #EEEEEE;
$base:        #333333;
$base-desk:   #4D4D4D;
$heading:     #1A1A1A;
$white:       #FFFFFF;

$primary:     #FF7704; //orange
$secondary:   #F5F5F5; //lightgrey

// GREENS
$green1:      #66CC00;
$green2:      #56B004;
$green3:      #055905;
$green4:      #006532; // Dark green
$green5:      #559F0C; // Links

// Section colors
$group:       #0069AA; //blue
$user:        #FFCE00; //yellow
$admin:       #93005F; //purple
$error:       #A94442; //red


// Greys

$grey-l:   #CCC; // light
$grey-m:   #999; // normal
$grey-d:   #666; // dark

// borders
