
// color declarations

// TEXT
$background:  #eee;
$base:        #404040;
$base-desk:   #404040;
$heading:     #222b30;
$white:       #fff;

$primary:     #fbb03b; //orange
$secondary:   #f5f5f5; //lightgrey

// GREENS
$green1:      #36A9E1;
$green2:      #3C3C3B;
$green3:      #50667f;
$green4:      #50667f; // Dark green
$green5:      #3887be; // Links

// Section colors
$group:       #3bb2d0; //blue
$user:        #8a8acb; //yellow
$admin:       #41afa5; //purple
$error:       #f1f075; //brown - red
$delete:      #e55e5e; //bright red

// Greys
$grey-sl:  #f2f2f2; // extralight
$grey-l:   #ccc; // light
$grey-m:   #999; // normal
$grey-d:   #666; // dark

// borders
