// Set consistent vertical and horizontal spacing units.
$vert-spacing: 1em;
$def-mar: 15px;
$def-mar-half: 7px;

$smalltab: 480px, 'no-query' true;
$tab: 768px, 'no-query' true;

$desk: 900px, 'no-query' true;
$deskplus: 1024px, 'no-query' true;

$wide: 1200px;

$nav-off-canvas-width: 80%;

@include add-grid(12);
@include add-gutter(1/3);
@include sgs-change('output', 'float');
