@import "compass/css3/images";
@import "compass/css3/user-interface";

$chosen-sprite: image-url('chosen-sprite.png') !default;
$chosen-sprite-retina: image-url('chosen-sprite@2x.png') !default;

// @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  @if $oldie {
    zoom: 1;
    *display: inline;
  }
  @include user-select(none);

  .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    @include box-sizing(border-box);
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgba(#000,.15);
  }

  &.chosen-with-drop .chosen-drop {
    left: 0;
  }

}

// @group Single Chosen */
.chosen-container-single{
  .chosen-single {
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: $white;
    border: 1px solid $grey-l;
    display: block;
    overflow: hidden;
    color: $base;
    white-space: nowrap;
    padding: 0;

    &:hover {
      border: 1px solid $grey-d;
      text-decoration: none;
    }

  }

  .chosen-default {
    color: #999;
  }

  .chosen-single span {
    display: block;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .4em 1.3em .4em .4em;
    font-size: $p;
  }

  .chosen-single-with-deselect span {
    margin-right: 38px;
  }

  .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: $chosen-sprite -42px 1px no-repeat;
    font-size: 1px;

    &:hover {
      background-position: -42px -10px;
    }

  }

  &.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
  }

  // arrow style
  .chosen-single div {
    position: absolute;
    display: inline-block;
    background: $white url('../images/form_elements.svg') no-repeat -33px -47px;
    height: 1.3rem;
    width: 1em;
    top: 5px;
    right: 3px;

    @include breakpoint($desk) {
      top: 3px;
    }

  }

  .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
    input[type="text"] {
      outline: none;
      padding:.2em .2em .2em .5em;
      border: 1px solid $grey-l;
      border-radius: 3px;
      font-size: $p;
      line-height: normal;
      width: 100%;
      background: #fff $chosen-sprite no-repeat 100% -20px;
    }
  }

  .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
  }

  &.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
  }

}


// @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
  li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
  }

  .active-result {
    display: list-item;
    cursor: pointer;
  }

  .disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default;
  }

  .highlighted {
    background-color: $green2;
    color: #fff;
  }

  .no-results {
    color: #777;
    display: list-item;
    background: #f4f4f4;
  }

  .group-result {
    display: list-item;
    font-weight: bold;
    cursor: default;
  }

  .group-option {
    padding-left: 15px;
  }

  em {
    font-style: normal;
    text-decoration: underline;
  }

}

// @group Multi Chosen */
.chosen-container-multi{
  .chosen-choices {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    background-clip: padding-box;
    background: url("../images/throbber-inactive.png") 99% 7px no-repeat $white;
    border: 1px solid $grey-l;
    cursor: text;
  }

  .chosen-choices li {
    float: left;
    list-style: none;
    &.search-field {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      input[type="text"] {
        padding: .4em 1.3em .4em .4em;
        background: transparent;
        font-size: $p;
        border: none;
        outline: 0;
        color: $base;
      }
    }

    &.search-choice {
      position: relative;
      margin: 3px 5px;
      padding: .3em 20px .3em .6em;
      background: $secondary;
      background-image: linear-gradient($secondary, darken($secondary, 3%));
      max-width: 100%;
      border-radius: 3px;
      border: 1px solid $grey-l;
      color: $base;
      line-height: normal;
      font-size: $small;
      cursor: default;
      span {
        word-wrap: break-word;
      }
      .search-choice-close {
        position: absolute;
        top: 4px;
        right: 3px;
        display: block;
        width: 12px;
        height: 12px;
        background: $chosen-sprite -42px 1px no-repeat;
        font-size: 1px;
        &:hover {
          background-position: -42px -10px;
        }
      }
    }
    &.search-choice-disabled {
      padding-right: 5px;
      border: 1px solid #ccc;
      background-color: #e4e4e4;
      @include background-image(linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%));
      color: #666;
    }
    &.search-choice-focus {
      background: #d4d4d4;
      .search-choice-close {
        background-position: -42px -10px;
      }
    }
  }
  .chosen-results {
    margin: 0;
    padding: 0;
  }
  .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
  }
}

// @group Active  */
.chosen-container-active{
  .chosen-single {
    border: 1px solid $green1;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.2);
  }
  &.chosen-with-drop{
    .chosen-single {
      border: 1px solid #aaa;
      -moz-border-radius-bottomright: 0;
      border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      border-bottom-left-radius: 0;
      @include background-image(linear-gradient(#eee 20%, #fff 80%));
      box-shadow: 0 1px 0 #fff inset;
    }
    .chosen-single div {
      border-left: none;
      background: transparent;
      b {
        background-position: -18px 2px;
      }
    }
  }
  .chosen-choices {
    border: 1px solid $green1;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.2);
  }
}


// @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
  .chosen-single {
    cursor: default;
  }
  .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
}

// @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi)  {
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: $chosen-sprite-retina !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}

