.form-wrapper {
  @extend %cf;
  margin-bottom: $def-mar;

  .button {
    margin-top: 5px;
  }

}

.form-title {
  @include font-size(16px);
  margin: .5em 0 1em;
}

.form-wrapper.row {
  display: inline-block;
  vertical-align: bottom;
  .form-item {
    display: inline-table;
    margin-bottom: 0;
    margin-right: .5em;
  }
  .button {
    margin: 0;
  }
}

.form-item {
  margin-bottom: (1.5 * $def-mar);

  .sidebar & {
    margin-bottom: $def-mar-half;
    width: 100%;
    line-height: normal;
  }
}

.sidebar .node-form,
.sidebar .views-exposed-widget {
  margin-top: $def-mar;
}

.views-submit-button,
.views-reset-button {
  display: inline-block;
}

label {
  font-weight: 700;
  display: block;

  .sidebar & {
    line-height: 1.5em;
  }

}

// labels for checkboxes
.option {
  font-weight: 300;
  display: inline;
  vertical-align: middle;
}

.form-required {
  color: $error;
}

.form-description {
  margin-bottom: $def-mar-half;
  font-size: $small;
  color: $grey-d;
  line-height: 1.2em;
}

.form-item i {
  position: relative;
  z-index: 9;
  vertical-align: top;
  margin-left: .5em;
}

.form-item .icon-attention {
  color: darken($primary, 10%)
}


//
// Inline fields (multiple fields on the same line)
//

.inline-fields {
  display: flex;
  margin-bottom: $def-mar-half;

  .form-item {
    margin: 0;
  }

  // In case we to to have the input and select on one line
  .form-type-textfield + .form-type-select {
    width: auto;
    min-width: 5em;
  }

  .separator {
    margin: 0 .5em;
    display: inline-block;
    flex: 1 0 auto; // must not not shrink
    line-height: 1.9em; // default line-height plus padding inside .form-text
  }

}

// class can be used to eliminate the maximum width of 400px;
.fullwidth {
  input, textarea {
    max-width: none;
  }
}


// browser specific

.lt-ie9 {
  .page-register .date-padding .form-item {
    width: 100px;
  }
}

@include breakpoint($tab) {
  form.flexrow {
    @include cf;
    display: flex;
    flex-flow: row no-wrap;
  }
}
