.media {
  overflow: hidden;

  .flexbox & {
    display: flex;
    align-items: flex-start;
  }

}

.media-figure {
  float: left;
}

.media-body {
  overflow: hidden;

  .flexbox & {
    flex: 1;
  }

}

.media-widget {
  margin-bottom: $def-mar + 5px;
  position: relative;

  img {
    width: 90px;
    display: block;
    margin-right: $def-mar-half;

    @include breakpoint($smalltab) {
      width: 130px;
    }

  }

  .description {
    overflow: hidden;
    position: relative;
  }

}

.filename {
  @include font-size($small);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:before {
    color: $green5;
    line-height: 20px;
    @include font-size($h4);
    margin-right: $def-mar-half;
    @extend %load-icon;
    @extend %icon-check;
  }
}
