.media {
  overflow: hidden;

  .flexbox & {
    display: flex;
    align-items: flex-start;
  }

}

.media-figure {
  margin-right: .5em;
  float: left;
}

.media-body {
  overflow: hidden;

  .flexbox & {
    flex: 1;
  }

}

.media-widget {
  margin-bottom: $def-mar + 5px;
  position: relative;

  .preview {
    width: 90px;
    height: 90px; //temp
    background-color: $grey-l;
    overflow: hidden;
    position: relative;
    z-index: 1;

    @include breakpoint($smalltab) {
      width: 130px;
      height: 130px;
    }

    &:before {
      color: $white;
      position: relative;
      font-size: 2.5rem;
      z-index: 2;
      line-height: 90px;
      width: 100%;
      @extend %load-icon;
      @extend %icon-camera;

      @include breakpoint($smalltab) {
        line-height: 130px;
        font-size: 3.5rem;
      }

    }

  }

  img {
    position: relative;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    height: 90px;

    @include breakpoint($smalltab) {
        height: 130px;
    }

  }

  .description {
    overflow: hidden;
    position: relative;
  }

}

.filename {
  @include font-size($small);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:before {
    color: $green5;
    line-height: 20px;
    @include font-size($h4);
    margin-right: $def-mar-half;
    @extend %load-icon;
    @extend %icon-check;
  }
}
