// SELECT

//create a width to where chosen can stretch to
.form-type-select {
  max-width: 400px;
}

// remove the internal dotted lines in firefox
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.selector {
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  line-height: normal;
  background-clip: padding-box;
  background-color: $white;
  display:inline-block;
  height: 29px;
  border: 1px solid $grey-l;

  &:hover {
    border: 1px solid $grey-d;
  }

  // this element cannot be focused so we simulate it via JS
  &.focused {
    border-color: $green1;
    //box-shadow: inset 1px 1px 2px rgba(0,0,0,.2);
  }

  &.error {
    border: 1px solid darken($primary, 10%);
  }

// arrow style
  &:before {
    position: absolute;
    content:'';
    display: inline-block;
    background-color: $white;
    background-position: -24px -193px;
    height: 1.3rem;
    width: 1em;
    top: 5px;
    right: 3px;

    @include breakpoint($desk) {
      top: 3px;
    }

  }

// removes the default arrow in ie10 +11
  select::-ms-expand {
    display: none;
  }

  select {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    z-index: 4;
    position: relative;
    display: block;
    padding: .4em 1.3em .4em .4em;
    background: transparent;
    border: none;
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    -moz-appearance: window;
    -moz-padding-end: 19px;
    -webkit-appearance: none;
    appearance: none;
  }
}

.lt-ie10 {
  .selector:before {
      display:none;
  }

  select {
    padding: .4em;
  }
}
