// SELECT

select {
  max-width: 100%;
}

//create a width to where chosen can stretch to
.form-type-select {
  max-width: 400px;
}

// remove the internal dotted lines in firefox
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.selector {
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  position: relative;
  line-height: normal;
  background-clip: padding-box;
  background-color: $white;
  display:inline-block;
  height: 29px;
  border: 1px solid $grey-l;
  border-radius: 3px;

  &:hover {
    border-color: $grey-d;
  }

  &.focused,
  &:active {
    border: 1px solid $green1;
  }

  // arrow style
  &:before {
    position: absolute;
    content:'';
    display: inline-block;
    background-color: $white;
    background-position: -24px -193px;
    height: 1.3rem;
    width: 1em;
    top: 5px;
    right: 3px;

    @include breakpoint($desk) {
      top: 3px;
    }

  }

  &.focused,
  &:active {

    &:before {
      background-position: -75px -193px;
    }
  }

// removes the default arrow in ie10 +11
  select::-ms-expand {
    display: none;
  }

  select {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    z-index: 4;
    position: relative;
    display: block;
    border-radius: 3px;
    padding: .4em ($def-mar * 1.5) .4em .4em;
    background: transparent;
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    -moz-appearance: window;
    -moz-padding-end: 19px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;

    @include breakpoint($tab) {
      @include font-size($p);
    }
  }
}

.white-popup select {
  max-width: 100%;
}

.lt-ie10 {
  .selector:before {
      display:none;
  }

  select {
    padding: .4em;
  }
}
