.has-error {

  .form-text,
  .form-password,
  textarea {
    border: 1px solid $error;
    position: relative;
    padding-right: 2em;

    &:focus {
      border-color: $green1;
    }

  }

  .form-radio + label,
  .form-checkbox + label {
    color: $error;
  }

  .selector {
    border: 1px solid $error;

    &.focused {
      border-color: $green1;
    }
  }

  .form-feedback {
    color: $error;
  }

}

.form-feedback {
  position: relative;
  z-index: 9;
  vertical-align: top;
  pointer-events: none;
  font-weight: 700;
  font-size: 1.4em;
  line-height: 28px;
  margin-left: -.7em;
}
