.view-mode-full {

    .field-group-format {
      margin: $def-mar 0;
      background: $background;
    }

    .field-name-body {
      margin-top: 1em;
    }

    .field {
      padding: $def-mar-half $def-mar;
      @include font-size(14px);
    }

    .field-label {
      @extend %element-invisible;
    }

    .field-label + div:before {
      @extend %load-icon;
      @include font-size(22px);
      margin: 0 0 0 -2em;;
      position: absolute;
      width: 1em;
    }

    .field-label + div {
      margin-left: 3em;
    }

}

.field-name-field-event-date .field-label + div:before {
  @extend %icon-calendar;
}

.field-name-field-event-location .field-label + div:before {
  @extend %icon-location;
}

.field-name-field-event-organiser .field-label + div:before {
  @extend %icon-user;
}

.field-name-field-event-type .field-label + div:before {
  @extend %icon-info-circled;
}

.field-name-field-event-num-attendees .field-label + div:before {
  @extend %icon-users;
}

.field-name-field-event-location {
  span {
    margin-right: .3em;
  }

  @include breakpoint($desk) {
    a {
      pointer-events: none;
      cursor: default;
      color: $base;
    }

  }

}

.event-actions {
  text-align: center;
  margin: $def-mar 0;
}
