.submitted {
  margin:$def-mar 0;
  padding-top: $def-mar;
}

.submitted,
.submitted a {
  @include font-size(14px);
}

.submitted,
.submitted-info {
  @include media;
}

.submitted .icon:before {
  margin: 0 .2em 0 .1em;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.submitted-origin {
  display: inline-block;
}

.submitted-image {
  float: left;
  margin-right: 10px;

  img {
    display: block;
  }
}

.submitted-date {
  display: inline-block;
}

.tags {
  text-transform: lowercase;
  font-style: italic;
}
