.button {
  @extend %button;

  i {
    @include font-size(16px);
  }
}

.btn-primary {
  background: $primary;
  border: 1px solid darken($primary, 10%);
  color: $white;
}

.btn-l {
  padding: .5em 2em;
}

.btn-s {
  padding: 2px 3px;
  font-size: $small;
}

// Block buttons, 1 button per line
.btn-block {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.button + .button {
  margin-top: 5px;
}
