.button {
  @extend %button;

  i {
    @include font-size(16px);
  }
}

.btn-primary {
  background: $primary;
  border: 1px solid darken($primary, 10%);
  color: $white;
}

.btn-l {
  padding: .5em 2em;
}

.btn-s {
  padding: 2px 3px;
  font-size: $small;
}

// Block buttons, 1 button per line
.btn-block {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.button + .button {
  margin-top: 5px;
}

.btn-dropdown {
  padding: .44em 1em;
  margin: 0;
  right: 0;
  position: absolute;

  //assuming it is always at the top of a block
  @include breakpoint($desk) {
    border-top-color: $background;
    border-radius: 0 0 3px 3px;
    right: 15px;
  }
}

.button i {
  margin-right: .5em;
}

.btn-social-fb {
  border-color: #3b5998;
  border-bottom-color: #263a63;
  background: #3b5998;
  color: $white;
}

.btn-social-gp .icon-gplus {
  color: #dd4b39;
}


