.form-wrapper {
  @extend %cf;
  margin: $def-mar 0;

  .button {
    margin-top: 5px;
  }

}

.form-wrapper.row {
  display: inline-block;
  vertical-align: bottom;
  .form-item {
    display: inline-table;
    margin-bottom: 0;
    margin-right: 1em;
  }
}

.form-item {
  margin-bottom: (1.5 * $def-mar);

  .sidebar & {
    margin-bottom: $def-mar-half;
  }
}

.sidebar .form-type-checkbox {
  margin-bottom: 2px;
}

.sidebar .node-form,
.sidebar .views-exposed-widget {
  margin-top: $def-mar;
}

.views-submit-button,
.views-reset-button {
  display: inline-block;
}

label {
  font-weight: 700;
  display: block;
}

// labels for checkboxes
.option {
  font-weight: 300;
  display: inline;
  vertical-align: middle;
}

.form-required {
  color: $error;
}

.form-description {
  margin-bottom: $def-mar-half;
  font-size: $small;
  color: $grey-d;
}

.form-text,
.form-password,
textarea {
  padding:.4em .5em .4em .5em;
  border: 1px solid $grey-l;
  border-radius: 3px;
  width: 100%;
  max-width: 400px;
  -webkit-appearance: none;

  &:hover {
    border-color: $grey-m;
  }

  &:focus {
    border-color: $green1;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.2);
  }

  &:disabled {
    border: 1px solid $grey-l;
    background: #F3F3F3;
  }

}

// fix for ios7 heights on date inputs
input[type="date"] {
  height: 30px;
}

// CHECK BOXES & RADIO BUTTONS

input[type="radio"],
input[type="checkbox"] {
  @extend %element-hidden;

  @if $oldie {
    display: inline;
    position: relative;
    top: 2px;
  }
}

.form-type-radio {
  display: inline-block;
}

.form-type-radio,
.form-type-checkbox {
  position: relative;
  margin-right: 1em;

  .option {
    display: inline-block;
    padding-left: 2em;
    font-weight: 300;
    cursor: pointer;

    @if $oldie {
      display: inline;
      padding-left: .1em;
    }

    &:before {
      position: absolute;
      left: .3em;
      content:'';
      display: inline-block;
      background-color: $white;
      background-image: url('../images/form_elements.svg');
      background-repeat: no-repeat;
      height: 1.5rem;
      width: 1.3em;

      @if $oldie {
        @extend %element-hidden;
      }
    }

  }

}

input[type="radio"] + label:before {
  background-position: -7px -7px;
}

input[type="radio"]:checked + label:before {
  background-position: -31px -7px;
}


input[type="checkbox"] + label:before {
  background-position: -7px -27px;
}

input[type="checkbox"]:checked + label:before {
  background-position: -31px -27px;
}

// SELECT

.selector {
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: $white;
  display:inline-block;
  border: 1px solid $grey-l;

  &:hover {
    border: 1px solid $grey-d;
  }

// arrow style
  &:before {
    position: absolute;
    content:'';
    display: inline-block;
    background: $white url('../images/form_elements.svg') no-repeat -33px -47px;
    height: 1.3rem;
    width: 1em;
    top: 5px;
    right: 3px;

    @include breakpoint($desk) {
        top: 3px;
    }

  }
  select::-ms-expand {
    display: none; /*removes the default arrow in ie*/
  }

  select {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    z-index: 4;
    position: relative;
    display: block;
    padding: .4em 1.3em .4em .4em;
    background: transparent;
    border: none;
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    -moz-appearance: window;
    -moz-padding-end: 19px;
    -webkit-appearance: none;
    appearance: none;
  }
}

.dropdown-filter {
  width: 100%;
  right: 0;
  top: 30px;

  @include breakpoint($smalltab) {
    width: 50%;
  }

  @include breakpoint($desk) {
    right: 15px;
    top: 30px;
  }
}

.dropdown-filter.dropdown-tip:before {
  left: auto;
  right: 12px;
}

.dropdown-filter.dropdown-tip:after {
  left: auto;
  right: 13px;
}

.dropdown-panel .form-item {
  margin: 0 0 .5em;;
  flex: 1 50%;

  @include breakpoint($desk) {
    flex: 1 100%;
    @include font-size(12px);
  }

}

.dropdown-panel p {
  margin: 0;
  flex: 1 100%;

  @include breakpoint($desk) {
    @include font-size(12px);
  }
}

.dropdown-panel .form-wrapper {
  margin: 0 0 10px;
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
}

.dropdown-panel .form-actions .button {
  margin-right: .5em;
}

/*browser specific*/

.lt-ie9 {
  .page-register .date-padding .form-item {
    width: 100px;
  }
}

.lt-ie10 {
  .selector:before {
      display:none;
  }

  select {
    padding: .4em;
  }
}
