img, picture, media {
  max-width: 100%;
}

@include breakpoint($smalltab) {

article picture,
article img {

    &.pull-left {
      margin: 0 1em 1em 0;
    }

    &.pull-right {
      margin: 0 0 1em 1em;
    }

  }

}
