.block
  %i.block-icon.icon-plus.icon-bg-action
  %h2.block-title Get involved
  .content
    .item-list
      %ul
        %li
          %a{:href => "#"} Add blog
        %li
          %a{:href => "#"} Add document
        %li
          %a{:href => "#"} Add event
        %li
          %a{:href => "#"} Add idea
        %li
          %a{:href => "#"} Add news
        %li
          %a{:href => "#"} Add photo album
        %li
          %a{:href => "#"} Add video
