.avatar-holder
  %a{:href => "#", :title => "View user profile"}
    %picture
      %img{:alt => "User's name.", :src => "http://lorempixel.com/60/60/people/1/img1x", :srcset => "http://lorempixel.com/120/120/people/3/img2x 2x"}/
