.node-type-full{
  .submitted{
    margin-bottom: 14px;
  }
}


.page-type-event .block .field {
  margin: 0;
}

@include breakpoint($tab) {

  .block .view-mode-full {

    figure {
      margin: 0;
    }
    
    .event-actions {
      padding: 0 $def-mar;
      overflow: hidden;
    }

  }

}

.event-actions {
  margin: $def-mar 0;

  @include breakpoint($desk) {
    @include element-hidden;
  }

}

.block-events #map {
  height: 300px;
  margin-bottom: $def-mar;
  width: 100%;
}

#eventmap-desk {
  display: none;

  @include breakpoint ($desk) {
    display: block;
    height: 300px;
    width: 100%;
  }
}
