//
// Recent activity
//

.view-ggw-user-activity {

  .views-row {
    margin: $def-mar-half 0;
    border-bottom: 1px solid $background;
    @include font-size($p);
    padding: $def-mar-half;

    &:last-child {
      border-bottom: none;
    }
  }

  .views-field-timestamp {
    font-weight: 700;
  }

  p {
    margin: 0;
  }

}


//
// Subscriptions
//

.view-ggw-subscribe-node {

  .view-content {
    margin-bottom: $def-mar;
  }

  .views-row {
    position: relative;
    @include font-size($p);
    padding: $def-mar-half;

    &:nth-child(even) {
      background: $background;
    }
  }

  .field {
    margin: 0;
  }

  .views-field-title {
    padding-right: 65px; // width of button

    .type:before {
      @extend %load-icon;
      position: relative;
      top: -1px;
      width: 1em;
      margin-right: .5em;
    }

  }

  .views-field-ops {
    position: absolute;
    right: $def-mar-half;
    top: $def-mar-half;
  }



}

.page-manage-friends .node-teaser {

  overflow: visible;

  .field-type-wrapper {
    overflow: visible;
  }

  .submitted {
    display: none;

    @include breakpoint($tab) {
      display: block;
    }
  }
}

.field-friend-status {
  margin: 0;
}
