.block.hidden-mobile
  %i.block-icon.icon-bg-action.icon-user-add
  %h2.block-title Create an account
  .content
    %p Do not have an account yet? Click below to register!
    %a.button.btn-primary{:href => "#"} Get wired
