%form
  .form-wrapper.row
    .form-item.form-type-textfield.form-item-search
      %label{:for => "edit-search"} Search
      .form-description Enter your search query below.
      %input.form-text{:type => "text", :placeholder => "enter your keywords here", :size => "50"}
  .form-actions.form-wrapper.row
    %input.button.btn-primary{:type => "submit", :value => "Search" }
