.block-search
  %form.search-form{"accept-charset" => "UTF-8", :action => "search.html", :method => "get"}
    .form-item-search
      %i.icon-search
      %input.form-text{:maxlength => "128", :name => "search", :placeholder => "Search", :size => "60", :type => "text"}/
    .form-actions
      %input.form-submit{:name => "op", :type => "submit", :value => "Search"}/
