.navigation a {
  @include link($white);

  @include breakpoint($tab) {
    background: $secondary-green;
  }

}

.navigation ul {
  list-style: none;
  margin:0;
  padding:0;
}

#main-menu {
    position: static;
    width: 100%;

  > a {
    display: none;
  }

  li {
    position: relative;
  }

  /* first level */
  > ul {


    > li {
      width: auto;
      height: 100%;
      padding: .5em 1em;
      float: left;

      &.parent > a:after {
        width: 0;
        height: 0;
        border: 0.313em solid transparent; /* 5 */
        border-bottom: none;
        border-top-color: #efa585;
        content: '';
        vertical-align: middle;
        display: inline-block;
        position: relative;
        right: -0.313em; /* 5 */
      }

      a {
        font-size: 1em;
        height: 100%;
      }

      &.active {
        background-color: darken($color3, 5%);
      }

    }
  }
    /* second level */

  li a {
    display: block;
  }

  li ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: darken($primary-green, 5%);

    li {
      width:15em;
    }

    a {
      font-size: 1em;
      height: 100%;
      line-height: 2.5em;
      text-align: center;
    }
  }

  li:hover ul {
    display: block;
  }

}

@media only screen and ( max-width: 768px ) {


#main-menu {
  position: relative;
  left: auto;
  top: auto;

  > a {
    @include icon('before', true, 'menu');
    font-size: 3em;
    right: 0;
    line-height: 60px;
    position: absolute;
    text-align: left;

    span {
      @include element-invisible;
    }
  }

  &:not( :target ) > a:first-of-type,
  &:target > a:last-of-type {
    display: block;
  }

    /* first level */
  > ul {
   margin:60px 0 0;
   padding:0;
   height: auto;
   display: none;
   position: absolute;
   left: 20px;
   right: 0;
   background-color: $primary-green;

    > li {
      width: 100%;
      float: none;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding:0;

      a {
        height: auto;
        padding: 0 .833em;
        font-size: 1.4em;
        line-height: 1.5em;
        text-align: left;
      }

    }

  }

  &:target > ul,
  > ul.active {
    display: block;
  }

  li:not(:last-child) > a {
    border-right: none;
  }

  /* second level */
  li ul {
    position: static;
    @include box-shadow(rgba(0, 0, 0, .2) 0 1px 2px 1px inset);
  }



}

}
