//:javascript
//  CKEDITOR.disableAutoInline = true;
//    CKEDITOR.inline( 'editor1', {
//      extraPlugins: 'sourcedialog'
//    } );


//#edit-title-toolbar.edit-toolbar-container
//  .edit-toolbar-content
//    .edit-toolbar
//      .edit-toolbar-ops
//        %button.button.btn-primary{:type => "submit"}
//          %i.icon-check
//        %button.button{:type => "button"}
//          %i.icon-cancel
//      .edit-toolbar-label
//        = current_page.data.title
