%picture.field-type-image
  %source{:media => "(min-width: 48em)", :srcset => "http://lorempixel.com/510/383/nature/3/image, http://lorempixel.com/1020/766/nature/4/image 2x"}
  %source{:media => "(min-width: 24em)", :srcset => "http://lorempixel.com/768/384/nature/5/image, http://lorempixel.com/1536/768/nature/6/image 2x"}
  %img{:alt => "Example of event image description.", :src => "http://lorempixel.com/768/384/nature/7/image", :srcset => "http://lorempixel.com/1536/768/nature/8/image 2x"}/
