*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
  width: 100%;
}

body {
  @include font-size($base-font-size);
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: $base;
  background-color: $white;
  height: 100%;
  min-height: 100%;

  @include breakpoint($desk) {
    background-color: #f2f2f2;
    color: $base-desk;
  }

}


// used for images for example, but it can be applied on other elements as well
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

// abstraction to import the sprites once. For each selector we only specify the background-position:
.logo,
.logo-footer,
.country-img,
.js .form-autocomplete,
.form-type-radio .option:before,
.form-type-checkbox .option:before,
.selector:before,
.content .external,
.chosen-container-single .chosen-single div,
.chosen-search input[type="text"],
.chosen-container-multi .chosen-choices,
.search-choice-close,
.chosen-single abbr {
  background-image: url(../images/ggw_sprites1xv1.3.png);
  background-repeat: no-repeat;
  background-size: auto;
}
