*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  @include font-size($base-font-size);
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: $base;
  background-color: $white;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;

  @include breakpoint($desk) {
    background-color: $background;
    color: $base-desk;
  }

}

.block,
.main-content {
  margin-bottom: $def-mar;
  position: relative;

  @include breakpoint($desk) {
    @include block-rich;
  }

  .content {
    margin-top: $def-mar + 10px;
  }

}

// used for images for example, but it can be applied on other elements as well
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}


