@include breakpoint($desk) {
  p,
  dl,
  li,
  code,
  .form-text,
  textarea,
  label,
  legend,
  select {
    @include font-size ($p);
  }
}

h1, h2, h3, h4 ,h5 ,h6 {
  margin: 0;
  line-height: 1.2em;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none outside none;

  li {
    padding:0;
  }
}

li li {
  font-size: 1em;
}

dt {
  font-weight: 700;
  color: $heading;

  em {
    font-weight: 300;
  }

}

dd {
  margin-bottom: .5em;
}

hr {
  border: none;
  border-top: 1px solid $background;
  margin: .4em 0;
}

a {
  color: $green5;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.content .button:hover,
.content .item-list a:hover{
  text-decoration: none;
}

.content .external {
  background-position: 100% -100px;
  padding-right: 14px;
}

article {

  p {
    margin: 0.65em 0 0.95em;
  }

  a:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
    outline: thin dotted;
  }

  ul,
  ol {
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
  }

  ol ol,
  ul ul {
    margin-bottom: 0;
    padding: 0 0 0 $def-mar;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style: decimal;
  }

  // headings
  #{headings()} {
    margin: 10px 0;
    color: $heading;
  }

  $headings: h1, h2, h3, h4, h5, h6;
  $size: $h1, $h2, $h3, $h4, $h5, $h6;

  $head-size: zip($headings, $size);

  @each $a in $head-size {
    #{nth($a, 1)} {
      @if $oldie {
        font-size: nth($a, 2);
      }
      @else {
        font-size: (nth($a, 2) / $base-font-size)*1rem;
      }
    }
  }

  blockquote {
    border-left: 3px solid $green2;
    font-style: italic;
    margin-left: 5%;
    padding-left: 1.25em;
  }

  q, blockquote {
    quotes: none;
  }

  @include breakpoint($desk) {
    p a {
      text-decoration:underline;

      &:hover {
        color: darken($green5, 10%);
      }
    }
  }

}

.list {
  @extend %list;
}

.align-center {
  text-align: center;
}

// section are used when we have multiple sections inside a page/article that need clear seperation
.section-heading {
  color: $heading;
  @include font-size($h4);
  line-height: 1rem; // must be able to span multiple lines
  padding-top: 10px;
  margin: .5em 0 1em;
}

.secondary-title {
  color: $grey-m;
  @include font-size($p);
  font-weight: 300;
}

@include breakpoint($desk) {
  .sidebar p {
    margin: .35em 0 .65em;
  }
}

.node-title {
  @include font-size(16px);
  color: $green5;
  margin: 0 0 3px;
  overflow: hidden;
  line-height: 1.2em;
  max-height: 2.4em; //equals two line-heights

  .sidebar & {
    @include font-size(14px);
  }

  @include breakpoint($tab) {
    margin-bottom: 5px;
  }

  a {
    @extend %block;
  }

}

.node-title .username {
  color: $grey-m;
  font-weight: 300;
  font-size: 0.85em;
}

.num-notifications {
  border-radius: 100%;
  background: $primary;
  width: 1.2em;
  line-height: 1.2em;
  display: inline-block;
  position: relative;
  top: -12px;
  left: -5px;
  text-align: center;
  @include font-size(11px);
  color: $white;
}

@include breakpoint($desk) {
  .node-teaser .body-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
