---
title: Styleguide
body_class: index l-has-sidebar page-register
layout: styleguide
---

= partial :"blocks/breadcrumbs"

#content.l-main-column
  .main-content
    %i.block-icon.icon-bg-default.icon-info
    %h1#page-title.block-title Where design and code meet...
    %article.view-mode-full.content
      :markdown
        Welcome to **Greenpeace Greenwire's front-end style guide**. This is the central place where all CSS and assets for [greenwire.greenpeace.org](https://greenwire.greenpeace.org/) are defined and maintained. The source of this styleguide and the code are available at [github.com/greenpeace/ggw_styleguide](https://github.com/greenpeace/ggw_styleguide).

      %h2.section-heading Summary
      %ul
        %li
          =nav_link 'Read documentation', data.nav.docs.first['url']
        %li
          =nav_link 'View design elements', data.nav.design.first['url']
        %li
          =nav_link 'View UI components', data.nav.comp.first['url']
        %li
          =nav_link 'Go to Prototype', data.nav.primary_an.first['url']

%aside.l-sidebar.sidebar
  = partial :"blocks/an/save_planet5"
