---
title: Styleguide
body_class: index no-sidebar page-register
layout: styleguide
---

= partial :"blocks/breadcrumbs"

.l-main-column
  #content.block.main-content.current
    %i.block-icon.icon-bg-default.icon-info
    %h1#page-title.block-title Where design and code meet...
    %article.view-mode-full.content
      :markdown
        Welcome to **Your Brand style prototype**. A style prototype is a living document of code, which details all the various elements and coded modules of your site or application. Beyond its use in consolidating the front-end code, it also documents the visual language, such as header styles and color palettes, used to create the site. This way, it’s a one-stop place for the entire team—from product owners and producers to designers and developers—to reference when discussing site changes and iterations.

      %h2.section-heading Summary
      %ul
        %li
          =nav_link 'Read documentation', data.nav.docs.first['url']
        %li
          =nav_link 'View style elements', data.nav.design.first['url']
        %li
          =nav_link 'View Component guide', data.nav.comp.first['url']
        %li
          =nav_link 'Go to Prototype', data.nav.primary_an.first['url']

