.views-exposed-widget
  %label.form-label Skills
  .views-widget
    .form-item.form-type-select
      %select.chosen-select#group-skills{"data-placeholder" => "Select skills", :multiple => "multiple"}
        %option{:value => ""}
        %option{:value => "design"} Design
        %option{:value => "painting"} Painting
        %option{:value => "training"} Training
        %option{:value => "coaching"} Coaching
        %option{:value => "languages"} Languages
