.views-exposed-widget
  %label.form-label My groups

  .views-widget
    .form-item.form-type-checkbox
      %input#mygroups.form-checkbox{:type => "checkbox"}
      %label.option{:for => "mygroups"} Show only my groups
