.views-exposed-widget
  %label.form-label Tags
  .views-widget
    .form-item
      %input.form-text.form-autocomplete{:type => "text", :value => ""}
      #autocomplete
        %ul
          %li Arctic Ocean
          %li Atlantic Ocean
          %li Indian Ocean
          %li Pacific Ocean
          %li Southern Ocean
