.views-exposed-widget
  %label.form-label Type
  .views-widget
    .form-item.form-type-select
      %select.chosen-select{"data-placeholder" => "Add type", :multiple => "multiple"}
        %option{:value => ""}
        %option{:value => "news"} News
        %option{:value => "blogs"} Blogs
        %option{:value => "documents"} Documents
        %option{:value => "ideas"} Ideas
        %option{:value => "photos"} Photos
        %option{:value => "videos"} Videos
