.col
  %section.block.block-no-icon
    %h2.block-title Button hovered
    %p Buttons will have a dropdown shadow when hovered.
    %p
      %a.button.hover button hovered
      %a.button.btn-primary.hover button hovered
    .code
      :code
        # lang: css
          .button:hover
    .code
      :code
        # lang: html
          <a href="#" class="button hover"> button hovered </a>

