%section.block
  %i.block-icon.icon-info.icon-bg-default
  %h2.block-title Select
  .content
    %p Textarea must be placed inside a `.form-item`
    .demo
      .form-item.form-type-select
        %label.form-label Select field
        %select.form-select
          %option{:value => ""} Please select
          %option{:value => "one"} one
          %option{:value => "two"} two
          %option{:value => "three"} three
          %option{:value => "four"} four
          %option{:value => "five"} five
    .code
      :code
        # lang: html
          <div class="form-item form-type-select">
            <label class="form-label">Select field</label>
            <select class="form-select">
              <option value="">Please select</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
