.field {
  @include font-size($p);
  margin-bottom: $def-mar;
}

.field-label {
  font-weight: 700;
}

.field-item {
  line-height: 1.35em;
  word-wrap: break-word;
}

.field-inline-block {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.field-name-field-group-image,
.field-name-user-image {
  float: left;
  margin: 0 $def-mar $def-mar 0;
  width: 140px;
  height: 140px; //temp
  background-color: $grey-l;
  overflow: hidden;
  position: relative;

  @include breakpoint($tab) {
    width: 210px;
    height: 210px;
  }

  &:before {
    color: $white;
    position: relative;
    @include font-size(80px);
    z-index: 2;
    line-height: 140px;
    width: 100%;
    @extend %load-icon;

    @include breakpoint($tab) {
      line-height: 210px;
      @include font-size(112px);
    }
  }

  img {
    position: relative;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
  }

}

.field-name-user-image {
  @extend %icon-user;
}

.field-name-field-group-image {
  @extend %icon-users;
}


.field-name-group-name,
.field-name-user-name {
  display: none;

  @include breakpoint($desk) {
    display: block;
    color: $heading;
    font-weight: 700;
    @include font-size($h3);
    line-height: 1.1em; // must be able to span multiple lines

     span {
      color: $grey-m;
     }
  }

}

.field-name-field-event-date .field-label + div:before {
  @extend %icon-calendar;
}

.field-name-field-event-location .field-label + div:before {
  @extend %icon-location;
  @include font-size($h2);
}

.field-name-field-event-organiser .field-label + div:before {
  @extend %icon-user;
}

.field-name-field-event-type .field-label + div:before {
  @extend %icon-info-circled;
}

.field-name-field-event-num-attendees .field-label + div:before {
  @extend %icon-users;
}

.field-name-field-event-location {
  span {
    margin-right: .3em;
  }

  @include breakpoint($desk) {
    a {
      pointer-events: none;
      cursor: default;
      color: $base-desk;
    }

  }

}

.field-name-gallery {
  overflow: hidden;
  margin: $def-mar 0;

  .album-thumbnail {
    float: left;
    margin: 0 3px 3px 0;
    width: 96px;
    height: 96px;
    background: $grey-l;
  }
}
