.region-highlight {
  flex: 1 100%;

  @include breakpoint($desk) {
    .block {
      margin-top: $def-mar !important;
    }
  }

  @include breakpoint($desk) {
    &.slider .block {
      padding: 0;
      background: none;
    }
  }

}

.hero {
  position: relative;
  display: block;
  margin: 0;

  .no-js & {
    min-height: 0 !important;
  }

  @include breakpoint($tab) {
    min-height: 340px;
  }

  @include breakpoint($desk) {
    padding: 4px; // override .block default padding
    margin-bottom: $def-mar;
  }

  img {
    width: 100%;
    display: block;
  }

  p {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin: 0;
    background: #000;
    background: rgba(0,0,0,.9);
    color: $white;
    padding: 0 .5em;
    text-align: center;
    @include font-size(12px);

    .youtube {
      line-height: 1.5em;
    }

    @include breakpoint($smalltab) {
      @include font-size(16px);
      padding: .5em;
      font-weight: 700;
    }

    @include breakpoint($desk) {
      background: none;
      @include font-size(22px);
      bottom: 15%;
      right: 7%;
      width: auto;
      max-width: 45%;
      white-space: normal;
      text-align: right;
      text-overflow: initial;

      span {
        background: #000;
        background: rgba(0,0,0,.8);
        box-shadow: rgba(0,0,0,.8) 6px 0 0 0,rgba(0,0,0,.8) -6px 0 0 0;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        padding: 4px 6px;
        line-height: 33px;
      }

    }

  }

  .button {
    @extend %element-hidden;

    &:active,
    &.active {
      top: auto;
    }

    @include breakpoint($smalltab) {
      position: absolute;
      display: inline-block;
      bottom: 3.5em;
      right: $def-mar;
    }

    @include breakpoint($desk) {
      bottom: 1em;
      right: 7%;
    }

  }

  .map {
    width: 100%;
    height: 220px;

    @include breakpoint($tab) {
      height: 440px;
    }

    .no-js & {
      height: 0 !important;
    }

  }

}



