.cookiewall.absolute-message.element-hidden
  .container
    .media
      .media-figure
        .logo-greenpeace
      .media-body
        %h4.section-heading Cookies on Your Brand
        :markdown
          Your Brand uses cookies to improve your navigation. When using this site you agree to use the cookies. You can find more information on how the cookies are used on this site [here](#).
        %button.button.btn-primary#hide-cookies
          %i.icon-check
          Accept
