.block#block-find-events
  %i.block-icon.icon-search.icon-bg-event
  %h2.block-title Find events
  .content
    %form
      - if current_page.data.user_role == "lu"
        .views-exposed-widget
          %label Author
          .views-widget
            .form-item
              %input.form-text.form-autocomplete#authorinput{:type => "text", :value => ""}
              .autocomplete#authorautocomplete
                %ul
                  - for members in data.members.suggestion
                    %li
                      #{members}
      .views-exposed-widget
        %label Tags
        .views-widget
          .form-item
            %input.form-text.form-autocomplete#tagsinput{:type => "text", :value => ""}
            .autocomplete#tagsautocomplete
              %ul
                - for tags in data.tags.suggestion
                  %li
                    #{tags}
      .views-exposed-widget
        %label City
        .views-widget
          .form-item.form-type-textfield
            %input.form-text{:type => "text"}/
      .views-exposed-widget
        %label From
        .views-widget
          .form-item.form-type-textfield
            %input.form-text.input-date{:type => "text"}/
      .views-exposed-widget
        %label Until
        .views-widget
          .form-item.form-type-textfield
            %input.form-text.input-date{:type => "text"}/
      .views-exposed-widget.views-submit-button
        %input.button{:type => "submit", :value => "Search"}/
        %a.small-link.pull-right{:href => "./search-events.html"} Advanced search
