.block.block-no-icon
  %h2.block-title About the prototype
  .content
    .list
      %ul
        %li This prototype can be used as a style and code reference;
        %li It does not process any forms nor does it hold or displays user generated info;
        %li All content is purely meant as demo content;
        %li Some interactions and feedback is provided with javascript, using merely static resources;
        %li Autocompletes and suggestion lists are static, they do not respond to your input.
