.block#block-related-photos.lazyload{"data-expand" => "-40"}
  %i.block-icon.icon-photo.icon-bg-news-media
  %h2.block-title{"data-amtitle" => "Related albums"} Related albums
  .content
    - 5.times do |num|
      = partial :"teasers/photo"
