.block#block-related-videos.lazyload{"data-expand" => "-40"}
  %i.block-icon.icon-video.icon-bg-news-media
  %h2.block-title{"data-amtitle" => "Related videos"} Related Videos
  .content
    - 5.times do |num|
      = partial :"teasers/video"
