%section.slider
  .flexslider
    %ul.slides
      %li
        %a{:href => "#"}
          =image_tag("slide1.jpg")
          %p This is a line of text with a link
      %li
        %a{:href => "#"}
          =image_tag("slide2.jpg")
          %p We are now looking at the 2nd slide, this text is actually too long for the slide
          %button.button.btn-primary take action
      %li
        %a{:href => "#"}
          =image_tag("slide3.jpg")
          %p This is a campaign slide to a separate page
