%section.slider
  .flexslider
    %ul.slides
      %li
        %a{:href => "#"}
          =image_tag("slide1.jpg")
          %p
            %span This is a line of text with a link
      %li
        %a{:href => "#"}
          =image_tag("slide2.jpg")
          %p
            %span We are now looking at the 2nd slide, this text is actually too long for the slide
          %button.button.btn-primary take action
      %li
        %iframe.youtube#player_1{:frameborder => "0", :width => "560", :height => "315", :src => "http://www.youtube.com/embed/zVu9eawb1QY?enablejsapi=1&version=3&playerapiid=player_1", :webkitallowfullscreen => "", :mozallowfullscreen => "", :allowfullscreen => ""}
      %li
        %iframe.vimeo#player_2{:frameborder => "0", :width => "500", :height => "281", :src => "http://player.vimeo.com/video/27243869?api=1&player_id=player_2", :webkitallowfullscreen => "", :mozallowfullscreen => "", :allowfullscreen => ""}
      %li
        %a{:href => "#"}
          =image_tag("slide3.jpg")
          %p
            %span This is a campaign slide to a separate page
      %li
        %iframe.vimeo#player_4{:frameborder => "0", :width => "500", :height => "281", :src => "http://player.vimeo.com/video/112010467?api=1&player_id=player_4", :webkitallowfullscreen => "", :mozallowfullscreen => "", :allowfullscreen => ""}
