.block.hidden-mobile.lazyload{"data-expand" => "-40"}
  %i.block-icon.icon-bg-default.icon-user
  %h2.block-title Volunteer in the spotlight
  .content
    %article
      %img.pull-right{:alt => "Name of user", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-src" => "/photos/120/people1.jpg"}
      %h4 Why I volunteer with Your Brand
      %p
        %q Vin coordinates the Kensington group and is also one of our coaches, here to help you get to grips with the community. Meet Vin and find out why he thinks volunteering with Your Brand is so important.
      %a.button{:href => "./news-article.html"} Read more
