.action-menu > ul {
  border-bottom: 1px solid $grey-l;
  height: 44px;
  display: flex;
  flex-flow: row wrap;
}

.action-menu > ul > li {
  flex: 1;
  white-space: nowrap;
  border-right: 1px solid $grey-l;

  &:last-child {
    border: none;
  }

}

.action-menu a {
  color: $base;
  line-height: 44px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.action-menu .icon {
  @include font-size(30px);
  margin-right: .5em;
}

.action-menu .dropdown {
  width: 100%;
  margin: -1px 0 0 -1px;
  left: 0;
}

.action-menu .dropdown li {
  display: block;
  border: none;
  padding: 0 1em;
}

.action-menu .dropdown a {
  justify-content: flex-start;
}

@include breakpoint($desk) {
  .action-menu {
    @include element-hidden;
  }
}
