.action-menu ul {
  //display: flex;
  //flex-flow: row nowrap;
  //justify-content: center;
  border-bottom: 1px solid $grey-l;
}

.action-menu li {
  //flex: 0 0 50%;
  display: inline-block;
  width: 49.5%;
  border-right: 1px solid $grey-l;
  white-space: nowrap;

  &:last-child {
    border: none;
  }
}

.action-menu a {
  color: $base;
  line-height: 44px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.action-menu .icon {
  @include font-size(30px);
  margin-right: .5em;
}

@include breakpoint($desk) {
  .action-menu {
    @include element-hidden;
  }
}
