.country-selector {

  .trigger {
    border-top: 1px solid #CCCCCC;
    color: $base;
    display: block;
    padding: 1em;
    font-weight: 700;

    &:focus {
      @extend %no-deco;
    }

    &:after {
      width: 0;
      height: 0;
      border: 0.313em solid transparent; /* 5 */
      border-bottom: none;
      border-top-color: $base;
      content: '';
      vertical-align: middle;
      display: inline-block;
      position: relative;
      right: -0.313em; /* 5 */
    }

  }

  .dropdown a {
    border-top: 1px solid #CCCCCC;
    color: $base;
    display: block;
    padding: 1em 1em 1em 2em;
    font-weight: 700;
  }

  .country-img {
    @extend %element-hidden;
  }


  @include breakpoint($desk) {
    height: 24px;
    font-size: 1.15em;

    .trigger {
      border: none;
      font-weight: 300;
      height: 100%;
      position: relative;
      color: $white;
      padding: 5px;
      @include font-size(16px);

      &:after {
        @include element-hidden;
      }

    }

    .country-img {
      background: $green1 url(../images/langmap-white.png);
      position: absolute;
      right: 0;
      width: 76px;
      height: 20px;
      text-indent: -50000px;
      line-height: 0;
      color: transparent;
      cursor: pointer;
      display: inline-block;
    }

    .dropdown-open .country-img {
      background: $white url(../images/langmap-green.png);
    }

    .dropdown-open {
      background-color: $white;
      color: $base;
      display: block;
      border-radius: 4px 4px 0 0;
    }

    .dropdown {
      position: absolute;
      z-index: 999;
    }

    .dropdown-list {
      width: 200px;
      max-height: 350px;
      overflow: auto;
      list-style: none;
      background: $white;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      border-radius: 0 0 4px 4px;
      background-clip: padding-box;
    }

    .dropdown a {
      padding: 3px 10px;
      border: none;
      font-weight: 300;
      @include font-size(13px);

      &:hover {
        color: $white;
        background: $base;
      }

    }

  }

}
