.page-register-step1 .progress-bar {
  background: none;
  color: $base;
  width: 100%;
}

.page-register .date-padding .form-item {
  display: inline-block;
  width: auto;
  margin:0;
}

// let the image in the sidebar align in the center
.page-register .sidebar .content {
  text-align: center;
}

.field-name-field-user-phone-house,
.field-name-field-user-phone-mobile {
  label {
    display: none;
  }
}

@include breakpoint($tab) {

  .field-name-field-user-first-name {
    @include grid-span(6, 1);
  }

  .field-name-field-user-last-name {
    @include grid-span(6, 7);
  }

  .field-name-field-user-birthdate {
    @include inline-cf;
  }

  .field-name-field-user-phone-house-country,
  .field-name-field-user-phone-mobile-country {
    width: 190px;
    float: left;
  }

  .field-name-field-user-phone-house,
  .field-name-field-user-phone-mobile {
    width: 210px;
    float: left;
    padding-left: 1em;

    label {
      display: block;
    }
  }

}

.phone-wrapper {
  @extend %cf;
}

.wrapper {
  @extend %wrapper;
}


// Showing and hiding of phone options

.phone-switch {
  @extend %block;
}

#landline,
#mobileline {
  background: $white;
  z-index: 3;
}

#landline {
  position: absolute;
  top:0;
  width: 100%;
  z-index: 4;
}

#landline:not( :target ) {
  @extend %element-hidden;
}

#mobileline:target,
#landline:target {
  display:block;
}

