.block
  %h2.block-title Design elements
  =nav_link 'Color Pallete', '/design-elements/colors.html', :class => 'sg-navbtn'
  =nav_link 'Typography', '/design-elements/typography.html', :class => 'sg-navbtn'
  =nav_link 'Icons', '/design-elements/icons.html', :class => 'sg-navbtn'
