.block
  %h2.block-title Design elements
  %a.sg-navbtn.active{:href=>"/design-elements/colors"} Color Pallete
  %a.sg-navbtn{:href=>"/design-elements/typography"} Typography
  %a.sg-navbtn{:href=>"#"} Icons
