.block
  %h2.block-title Documentation
  %a.sg-navbtn.active{:href=>"/documentation/getting-started"} Getting started
  %a.sg-navbtn{:href=>"/documentation/styleguide-structure"} Styleguide structure
  %a.sg-navbtn{:href=>"/design-elements/typography"} Progressive enhancement
  %a.sg-navbtn{:href=>"#"}
    &= "Device & browser Support"
  %a.sg-navbtn{:href=>"#"} Development principles
  %a.sg-navbtn{:href=>"#"} Editing the style guide


