%footer.l-footer.footer
  .footer-offset
  .container
    .l-branding-footer
      %span &copy;
      %strong.logo-footer GREENPEACE
      %span 2014
    %ul.legal-menu
      %li
        %a{:href=>"#"} Privacy statement
      %li
        %a{:href=>"#"} Copyright
    %ul.bottom-menu
      %li
        %a{:href=>"#"} Home
      %li
        %a{:href=>"#"} About us
      %li
        %a{:href=>"#"} Contact us
      %li
        %a{:href=>"#"} Press centre
