.off-canvas#primary-nav
  .nav-inner-wrap
    %nav.main-menu{:role => "navigation"}
      %ul.menu
        %li.menu-item.expanded
          %a.menu-link.active{:href=>"/design-elements/colors"}
            Styleguide
          %ul.menu
            %li.menu-item
              %a.menu-link{:href=>"/design-elements/colors"} Design elements
              %a.menu-link{:href=>"/ui-components/"} UI components
              %a.menu-link{:href=>"#"} Prototype
        %li.menu-item
          %a.menu-link{:href=>"/documentation/getting-started"} Documentation
