.tabs
  %ul.search-tabs
    %li
      %a{:href=>"search.html"} All
    %li
      %a{:href=>"search-newsmedia.html"} News &amp; Media
    %li
      %a{:href=>"search-events.html"} Events
    %li
      %a{:href=>"search-groups.html"} Groups
    %li
      %a{:href=>"search-members.html"} Members
