.block
  %h2.block-title Design elements
  =nav_link 'Buttons', '/components/buttons.html', :class => 'sg-navbtn'
  =nav_link 'Forms', '/components/forms.html', :class => 'sg-navbtn'
  =nav_link 'Blocks', '/components/blocks.html', :class => 'sg-navbtn'
