---
title: FAQ Greenpeace Greenwire
body_class: not-front not-logged-in page-faq l-has-sidebar
user_role: an
design_status: Work in progress
---

= partial :"blocks/breadcrumbs"

.l-main-column#content

  .block

    %i.block-icon.icon-bg-default.icon-mail
    %h1.block-title#page-title
      = current_page.data.title

    .content
      %p


%aside.l-sidebar.sidebar
  = partial :"blocks//an/create_account"
