---
title: Group Home
body_class: not-front not-logged-in page-group-home l-two-column
user_role: an
design_status: Work in progress
---

= partial :"blocks/breadcrumbs"

.region-highlight
  .block
    =image_tag("/photos/group_public_large.jpg")
    %p
      %span Beat(s Against) Coal
    %a.button.btn-primary.btn-l{:href => "./login.html"} Log in to join this group

.action-menu
  %ul.tabs
    %li
      %a.tab{:href => "#block-group-info"}
        %i.icon.icon-info
        Beat(s Against) Coal
    %li
      %a.tab{:href => "#upcoming-events"}
        %i.icon.icon-event
        Events
    %li
      %a.tab{:href => "#content"}
        %i.icon.icon-news
        Updates
  %ul.tabs-overflow
    %li
      %a.tab.tab-overflow-trigger{:href => "#", "data-dropdown" => "#action-menu-tabs"}
        more
        %i.icon-down-mini
      .dropdown.dropdown-tip.dropdown-relative.dropdown-anchor-right#action-menu-tabs
        %ul.dropdown-menu

.l-main-column
  = partial :"blocks/updates"

%aside.l-sidebar.sidebar
  = partial :"blocks/group-info"
  = partial :"blocks/upcoming_events"
