---
title: Login
body_class: not-front not-logged-in page-login l-has-sidebar
user_role: an
design_status: Needs review
action_menu:
  -
    id: "#content"
    label: "Login form"
    icon: "login"
  -
    id: "#create-account"
    label: "Create account"
    icon: "user-add"
---

= partial :"blocks/breadcrumbs"

.l-main-column

  #content.block.current.login-block
    %i.block-icon.icon-bg-user.icon-login
    %h1.block-title
      = current_page.data.title

    .content

      %form{:action => "../lu/index.html", :method => "get"}

        .signup-wrapper

          %a.button.btn-l.btn-block.btn-social-fb{:href => "../lu/index.html"}
            %i.icon.icon-facebook
            Log in with Facebook

          %a.button.btn-l.btn-block.btn-social-gp{:href => "../lu/index.html"}
            %i.icon.icon-gplus
            Log in with Google+

        .signup-or-separator
          %label or login with your email
          %hr

        .signup-wrapper

          .form-wrapper

            .form-item
              %input{:type => "text", :class => "username form-text", "max-length" => "60", " placeholder" => "Username"}
              %i.icon-user

            .form-item
              %input{:type => "password", :class => "form-text", ":max-length" => "60", "placeholder  " => "Password"}
              %i.icon-password

            .form-item
              %a.pull-right.small-link{:href => ""} Lost password?

          .form-actions.form-wrapper

            .form-item
              %input{:type => "submit", :class => "button btn-primary btn-l btn-block", :value => " Log in"}

            %p
              No account yet?
              %a{:href => "./register-step1.html"} Sign up


%aside.l-sidebar.sidebar
  = partial :"blocks//an/create_account"

