---
title: Login
body_class: not-front not-logged-in page-login l-has-sidebar
user_role: an
design_status: Needs review
action_menu:
  -
    id: "#content"
    label: "Login form"
    icon: "login"
  -
    id: "#create-account"
    label: "Create account"
    icon: "user-add"
---

= partial :"blocks/breadcrumbs"

.l-main-column

  #content.block.current

    %i.block-icon.icon-bg-user.icon-login
    %h1.block-title#page-title
      = current_page.data.title

    .content

      %form.flexrow{:action => "../lu/index.html", :method => "get"}

        .signup-wrapper.social-signup-wrapper{"data-title" => "OR"}

          %h3.form-title Log in with social media

          %a.button.btn-l.btn-block.btn-social-fb
            %i.icon.icon-facebook
              Log in with Facebook

          %a.button.btn-l.btn-block.btn-social-gp
            %i.icon.icon-gplus
              Log in with Google+

        .signup-wrapper

          .form-wrapper

            %h3.form-title Log in with email

            .form-item

              %label.form-label{:for=>"edit-name"}
                Username
                %span.form-required{:title=>"This field is required."} *

              .form-description Enter your Greenpeace Greenwire Nederland username or email address.

              %input{:type => "text", :class => "username form-text", "max-length" => "60"}

            .form-item

              %label.form-label{:for=>"edit-password"}
                Password
                %span.form-required{:title=>"This field is required."} *

              .form-description Enter the password that accompanies your username.

              %input{:type => "text", :class => "form-text", ":max-length" => "60"}

          .form-actions.form-wrapper
            %input{:type => "submit", :class => "button btn-primary pull-right", :value => "Log in"}

%aside.l-sidebar.sidebar
  = partial :"blocks//an/create_account"

