---
title: Register step 2/4
body_class: page-register not-logged-in l-has-sidebar
user_role: an
design_status: Needs review
---

= partial :"blocks/breadcrumbs"

.l-main-column
  #content.block.current
    %i.block-icon.icon-bg-user.icon-user-add
    %h1#page-title.block-title
      = current_page.data.title
    .content
      .progress-bar-wrapper
        .progress-bar{:style => "width: 25%;"} 25%
      %form{:action => "./register-step3.html", :method => "get"}
        .form-wrapper
          .row
            .form-item.field-name-field-user-first-name
              %label.form-label{:for => "edit-field-user-first-name-und-0-value"} First name
              %input.form-text.input-medium{:name => "field_user_first_name[und][0][value]", :type => "text", :value => "", :tabindex => "1", :size => "35"}/
            .form-item.field-name-field-user-last-name
              %label.form-label{:for => "edit-field-user-last-name-und-0-value"} Last name
              %input.form-text.input-medium{:name => "field_user_last_name[und][0][value]", :type => "text", :value => "", :tabindex => "2", :size => "35"}/
          .form-item.field-name-field-user-birthdate
            %label.form-label{:for => "edit-field-user-gender-und"}
              Gender
              %span.form-required{:title => "This field is required."} *
            .form-radios
              .form-type-radio
                %input#male.form-radio{:name => "field_user_gender[und]", :type => "radio", :value => "male", :tabindex => "3"}/
                %label.option{:for => "male"} Male
              .form-type-radio
                %input#female.form-radio{:name => "field_user_gender[und]", :type => "radio", :value => "female", :tabindex => "4"}/
                %label.option{:for => "female"} Female
              .form-type-radio
                %input#irrelevant.form-radio{:name => "field_user_gender[und]", :type => "radio", :value => "irrelevant", :tabindex => "5"}/
                %label.option{:for => "irrelevant"} Not relevant

          .row
            .form-item.field-user-date-of-birth
              %label.form-label{:for => "edit-field-user-date-of-birth"}
                Date of birth
                %span.form-required{:title => "This field is required."} *
              %input#edit-field-user-date-of-birth.form-text.user-date-of-birth.input-medium{:name => "edit-field-user-date-of-birth", :type => "date", :value => "", :tabindex => "1", "data-value" => "1 January 1980", :size => "35"}/

            .form-item.field-user-place-of-birth
              %label.form-label{:for => "edit-field-user-place-of-birth"}
                Place of birth
                %span.form-required{:title => "This field is required."} *
              %input#edit-field-user-place-of-birth.form-text.user-place-of-birth.input-medium{:name => "edit-field-user-place-of-birth", :type => "text", :value => "", :tabindex => "1", :size => "35"}/

        .form-actions.form-wrapper
          %input.button.pull-left{:type => "submit", :value => "Back to previous step", :tabindex => "11"}/
          %input.button.btn-primary.pull-right{:type => "submit", :value => "Next", :tabindex => "10"}/
%aside.l-sidebar.sidebar
  = partial :"blocks/an/save_planet2"
