---
title: Registration completed
body_class: page-register not-logged-in l-has-sidebar
user_role: an
design_status: Needs review
---

= partial :"blocks/breadcrumbs"

.l-main-column
  #content.block.current
    %i.block-icon.icon-bg-default.icon-info
    %h1#page-title.block-title
      = current_page.data.title
    .content
      %h2 Thank you for signing up!
      %p We have sent you an email confirmation with the instructions to get you started. Please check your spam folder if you do not here from us after a while.
      %h3 Testing only
      %p
        %a.button{:href => "../lu/index-firstlogin.html", :title => "Login"} Click here to fake email login
      %img{:alt => "Let's do this!", :src => "/photos/group_public_large.jpg"}/
%aside.l-sidebar.sidebar
  = partial :"blocks/an/save_planet5"
