---
title: Registration completed
body_class: page-register not-logged-in l-has-sidebar
user_role: an
design_status: Needs review
---

= partial :"blocks/breadcrumbs"

#content.l-main-column
  .main-content
    %i.block-icon.icon-bg-default.icon-info
    %h1#page-title.block-title
      = current_page.data.title
    .content
      %p thank you text
%aside.l-sidebar.sidebar
  = partial :"blocks/an/save_planet5"
