.views-exposed-widget
  %label.form-label Type of group
  .views-widget
    .form-item.form-type-select
      %select.chosen-select#group-type{"data-placeholder" => "Add a type of group", :multiple => "multiple"}
        %option{:value => "nothing"}
        %option{:value => "campaign"} Campaign
        %option{:value => "local"} Local
        %option{:value => "skills-based"} Skills based
        %option{:value => "discussion"} Discussion
        %option{:value => "other"} Other
