.views-exposed-widget
  %label.form-label Groups
  .views-widget
    .form-item.form-type-select
      %select.chosen-select#groups{"data-placeholder" => "Select groups", :multiple => "multiple"}
        %option{:value => ""}
        %optgroup{:label => "My groups"}
          - for groups in data.groups.my_groups
            %option{:value => ""}
              #{groups}
        %optgroup{:label => "All groups"}
          - for groups in data.groups.all_groups
            %option{:value => ""}
              #{groups}
