.views-exposed-widget
  %label.form-label Skills
  .views-widget
    .form-item
      %input.form-text.form-autocomplete#skillsinput{:type => "text", :value => ""}
      .autocomplete#skillsautocomplete
        %ul
          %li Design
          %li Painting
          %li Training
          %li Coaching
          %li Languages

